<div class="privacy-terms-body col-xs-12">
  <div class="privacy-terms-wrapper col-xs-12 col-md-8 col-md-offset-2">
    <div class="privacy-terms-title col-xs-12">
      <p class="title">ABOUT US</p>
    </div>
    <section class="first-section">
      <div class="col-xs-12">
        <div class="text-section">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mollis lorem eget sapien malesuada, vel cursus enim lacinia. Maecenas et lectus eros. Nulla rhoncus ex ut risus porttitor viverra. Morbi id dictum justo. Donec orci lacus, porta vitae diam eget, commodo convallis sapien. Etiam ut ipsum sed felis aliquam dictum. Phasellus in urna non elit finibus venenatis. Duis feugiat consectetur velit vel posuere. Suspendisse id hendrerit risus. Nunc euismod lorem ac rutrum pharetra. Phasellus quis pulvinar sem. Aenean convallis sollicitudin nisl.
        </div>
      </div>
    </section>
    <section class="second-selection">
      <div class="col-xs-12">
        <div class="privacy-terms-title">
          <p class="title">OUR MISSION</p>
        </div>
        <div class="text-section">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mollis lorem eget sapien malesuada, vel cursus enim lacinia. Maecenas et lectus eros. Nulla rhoncus ex ut risus porttitor viverra. Morbi id dictum justo. Donec orci lacus, porta vitae diam eget, commodo convallis sapien. Etiam ut ipsum sed felis aliquam dictum. Phasellus in urna non elit finibus venenatis. Duis feugiat consectetur velit vel posuere. Suspendisse id hendrerit risus. Nunc euismod lorem ac rutrum pharetra. Phasellus quis pulvinar sem. Aenean convallis sollicitudin nisl.
        </div>
      </div>
    </section>
  </div>
</div>