<div ng-show="profileSpinner" class="profile-loader">
  <spinner show-spinner="profileSpinner"></spinner>
</div>
<div class="profile background">
<div class="profile wrapper col-md-8 col-md-offset-2">
<div id="profile-top-section">
    <div id="profile-cover" class="coverWrap">
        <div>
            <p class="profile-username-txt"> {{user.name }} {{user.lastname}}</p>
            <p class="profile-tag-txt">{{user.tag}}</p>
            <a ng-if="logged && notMe && isEmployer" ng-click="callCandidate()" class="call-btn">Call now!</a>
        </div>
        <div class="cover-border">
            <simpleimagepicker update-image="updateCoverImage"
                               image-url="user.cover_image"
                               default="profile/default_cover.png"
                               circular="false">

            </simpleimagepicker>
        </div>
    </div>
    <div class="profile-headline wrapper">
        <div class="profile-image wrapper">
            <simpleimagepicker update-image="updateProfileImage"
                               image-url="user.profile_image"
                               default="profile/{{ user.gender ? user.gender : 'other' }}.svg"
                               circular="true"></simpleimagepicker>
        </div>
      <div ng-if="logged && notMe && isEmployer" class="status"> {{ candidateStatus }} </div>
    </div>

</div>
<div class="profile-content">
    <div class="profile-left-content cont col-md-4">
        <profile-highlights user="user"></profile-highlights>
    </div>

    <div class="profile-main-content col-md-8">

        <div class="profile-right-container">
            <div class="profile-right-header">
                <div class="profile-right-header title">
                    <div class="profile-right-header-img summary" ng-class="user.gender"></div>
                    <h3> About me </h3>
                </div>
                <div class="profile-right-header edit">
                    <div class="editwrapper">
                        <div class="edit-pencil" ng-click="onSummaryEditor()"
                             ng-hide="summaryEditorEnable" ng-if="!notMe"></div>

                        <div ng-show="summaryEditorEnable" class="edit-buttons-wrapper">
                            <a ng-click="saveSummary()" class="btn btn-edit">
                                SAVE </span>
                            </a>
                            <a ng-click="onCancelSummaryEditor()" class="btn btn-edit margin-l5">
                                CANCEL </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-right-content">
                <div class="border-container">
                    <p class="profile-placeholder-txt" ng-show="defaultSummaryEnable">{{defaultSummary}}</p>

                    <div ng-hide="summaryEditorEnable" class="profile-right-text">
                        {{user.summary}}
                    </div>
                    <div ng-hide="defaultSummaryEnable">
                        <textarea class="form-control" rows="5" ng-show="summaryEditorEnable"
                                  ng-model="summaryTemp" placeholder="I am a Robotics engineer with passion for working with a team that wants to build the next generation of robots for improving quality of human life.  I led my college team into the US National Robotics Challenge where we won the championship.  It was challenging to build a super intelligent robot that can interact and work with patients suffering from Parkinson’s disease."></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="profile-right-container">
            <div class="profile-right-header">
                <div class="profile-right-header title">
                    <div class="profile-right-header-img skills"></div>
                    <h3> SKILLS </h3>
                </div>
                <div class="profile-right-header edit">
                    <div class="editwrapper">
                        <div class="edit-pencil" ng-click="enableSkillsEditor()" ng-if="!notMe"
                             ng-hide="editorSkillsEnabled"></div>

                        <div ng-show="editorSkillsEnabled" class="edit-buttons-wrapper">
                            <a ng-click="saveSkills()" class="btn btn-edit">
                                SAVE </span>
                            </a>
                            <a ng-click="disableSkillsEditor()" class="btn btn-edit margin-l5">
                                CANCEL </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="profile-right-content">
                <div class="border-container skills">
                    <p class="profile-placeholder-txt" ng-show="selectedSkills.length == 0 && !editorSkillsEnabled">
                        {{defaultSkills}}</p>

                    <div ng-hide="editorSkillsEnabled" class="profile-right-text">
                        <div class="tags">
                            <a class="tag" ng-model="tag" ng-repeat="tag in selectedSkills">{{tag}}</a>
                        </div>
                    </div>
                    <div class="profile-content"
                         ng-hide="selectedSkills.length == 0 && !editorSkillsEnabled">
                        <tags-input tags="skillsTags" ng-show="editorSkillsEnabled"
                                    info="candidateSelectedSkills"></tags-input>
                    </div>
                </div>
            </div>
        </div>

        <div class="profile-right-container" id="focusEducation">
            <div>
                <add-education data="education" save-education="saveEducation"
                               add-education-enable="addEducationEnable" on-add="onEducationAdd"
                               on-cancel="onEducationCancel"></add-education>

                <div class="profile-right-content" ng-show="user.educations.length == 0 && !isAddingEducation">
                    <div class="border-container">
                        <p class="profile-placeholder-txt">{{defaultEducation}}</p>
                    </div>
                </div>

                <div ng-repeat="education in user.educations">
                    <education data="education" update-education="updateEducation"
                               on-delete="deleteEducation"></education>
                </div>
            </div>
        </div>

        <div class="profile-right-container" id="focusExperience">
            <div>
                <add-experience data="experience" save-experience="saveExperience"
                                on-add="onExperienceAdd" on-cancel="onExperienceCancel"></add-experience>

                <div class="profile-right-content" ng-show="user.experiences.length == 0 && !isAddingExperience">
                    <div class="border-container">
                        <p class="profile-placeholder-txt">{{defaultExperience}}</p>
                    </div>
                </div>

                <div ng-repeat="experience in user.experiences">
                    <experience data="experience" update-experience="updateExperience"
                                experience-editor="experienceEditor"
                                on-delete="deleteExperience"></experience>
                </div>
            </div>
        </div>

        <div class="profile-right-container">
            <div class="profile-right-header">
                <div class="profile-right-header title">
                    <div class="profile-right-header-img interests"></div>
                    <h3> INTERESTS </h3>
                </div>
                <div class="profile-right-header edit">
                    <div class="editwrapper">
                        <div class="edit-pencil" ng-click="enableInterestsEditor()" ng-if="!notMe"
                             ng-hide="editorInterestsEnabled"></div>

                        <div ng-show="editorInterestsEnabled" class="edit-buttons-wrapper">
                            <a ng-click="saveInterests()" class="btn btn-edit">
                                SAVE </span>
                            </a>
                            <a ng-click="disableInterestsEditor()" class="btn btn-edit margin-l5">
                                CANCEL </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="profile-right-content">
                <div class="border-container skills">
                    <p class="profile-placeholder-txt"
                       ng-show="selectedInterests.length == 0 && !editorInterestsEnabled">
                        {{defaultInterests}}
                    </p>

                    <div ng-hide="editorInterestsEnabled" class="profile-right-text">
                        <div class="tags">
                            <a class="tag" ng-model="tag" ng-repeat="tag in selectedInterests">{{tag}}</a>
                        </div>
                    </div>

                    <div class="profile-content"
                         ng-hide="selectedInterests.length == 0 && !editorInterestsEnabled">
                        <tags-input tags="interestsTags" ng-show="editorInterestsEnabled"
                                    info="candidateSelectedInterests"></tags-input>
                    </div>
                </div>
            </div>
        </div>

        <div class="profile-right-container">
            <div>
                <add-language data="language" save-language="saveLanguage" on-add="onLanguageAdd"
                              on-cancel="onLanguageCancel"></add-language>

                <div class="profile-right-content" ng-show="user.languages.length == 0 && !isAddingLanguage">
                    <div class="border-container">
                        <p class="profile-placeholder-txt">{{defaultLanguages}}</p>
                    </div>
                </div>

                <div ng-repeat="language in user.languages">
                    <language data="language" update-language="updateLanguage" on-delete="deleteLanguage"></language>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

</div>
</div>

