<div class="profile background">
<div class="profile wrapper col-md-8 col-md-offset-2">
<div id="profileTopSection">
    <div id="profileCover" class="coverWrap">
        <div>
            <p class="profile-username-txt"> {{user.name }} {{user.lastname}}</p>
            <p class="profile-tag-txt">{{user.tag}}</p>
        </div>
        <div class="coverBorder">
            <simpleimagepicker update-user="updateUser" user="user"></simpleimagepicker>
        </div>
    </div>
    <div class="profileHeadline wrapper">
        <div class="profileImage wrapper">
            <div class="profileImage border">
                <div class="profileImage content">
                    <div class="img-circle profileImage img" ng-class="user.gender" ng-show="defaultProfileImageVisible"></div>

                    <div class="profileImageEdit wrapper" ng-show="profileImgSelectVisible">
                        <div class="profileImageEdit img" ng-file-select="onFileSelectProfile($files)"
                             data-multiple="false" title="profile_photo" onclick="this.value = null"></div>
                    </div>
                    <div class="temporaryProfilePhoto">
                        <div class="spinner-container-profile" ng-show="spinnerVisibleProfile">
                            <div class="spinner spinner-profile">
                                <div class="rect1"></div>
                                <div class="rect2"></div>
                                <div class="rect3"></div>
                                <div class="rect4"></div>
                                <div class="rect5"></div>
                            </div>
                        </div>
                        <div class="contentGuillotineProfile" ng-show="temporaryProfilePhoto">
                            <div class="frame">
                                <img class="contentGuillotineProfile img" src="{{profileData.secure_url}}" id="temp_profile_photo"
                                     ng-show="profilePhotoLoaded"/>
                            </div>
                            <div ng-show="profilePhotoButtons" class="edit-buttons-wrapper edit-buttons-profile-photo">
                                <a ng-click="saveProfilePhoto()" class="btn btn-edit">
                                    SAVE </span>
                                </a>
                                <a ng-click="cancelProfilePhoto()" class="btn btn-edit margin-l5">
                                    CANCEL </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="profile-photo">
                        <img class="profilePhoto" src="{{profilePhotoURI}}" ng-show="profilePhoto">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="profileContent">
    <div class="profileLeftContent cont col-md-4">
        <profile-highlights data="user" user-age="age" scroll-to="scrollTo"></profile-highlights>
    </div>

    <div class="profileMainContent col-md-8">

        <div class="profile-right-container">
            <div class="profile-right-header">
                <div class="profile-right-header title">
                    <div class="profile-right-header-img summary"></div>
                    <h3> Summary </h3>
                </div>
                <div class="profile-right-header edit">
                    <div class="editwrapper">
                        <div class="edit-pencil" ng-click="onSummaryEditor()"
                             ng-hide="summaryEditorEnable"></div>

                        <div ng-show="summaryEditorEnable" class="edit-buttons-wrapper">
                            <a ng-click="saveSummary()" class="btn btn-edit">
                                SAVE </span>
                            </a>
                            <a ng-click="onCancelSummaryEditor()" class="btn btn-edit margin-l5">
                                CANCEL </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-right-content">
                <p class="profile-placeholder-txt" ng-show="defaultSummaryEnable">{{defaultSummary}}</p>
                <div ng-hide="summaryEditorEnable" class="profile-right-text">
                    {{user.summary}}
                </div>
                <div ng-hide="defaultSummaryEnable">
                    <textarea class="form-control" rows="5" ng-show="summaryEditorEnable" ng-model="summaryTemp"></textarea>
                </div>
            </div>
        </div>

        <div class="profile-right-container">
            <div class="profile-right-header">
                <div class="profile-right-header title">
                    <div class="profile-right-header-img skills"></div>
                    <h3> SKILLS </h3>
                </div>
                <div class="profile-right-header edit">
                    <div class="editwrapper">
                        <div class="edit-pencil" ng-click="enableSkillsEditor()"
                             ng-hide="editorSkillsEnabled"></div>

                        <div ng-show="editorSkillsEnabled" class="edit-buttons-wrapper">
                            <a ng-click="saveSkills()" class="btn btn-edit">
                                SAVE </span>
                            </a>
                            <a ng-click="disableSkillsEditor()" class="btn btn-edit margin-l5">
                                CANCEL </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="profile-right-content">
                <p class="profile-placeholder-txt" ng-show="selectedSkills.length == 0 && !editorSkillsEnabled">{{defaultSkills}}</p>
                <div ng-hide="editorSkillsEnabled" class="profile-right-text">
                    <div class="tags">
                        <a class="tag" ng-model="tag" ng-repeat="tag in selectedSkills">{{tag}}</a>
                    </div>
                </div>
                <div ng-hide="selectedSkills.length == 0 && !editorSkillsEnabled">
                    <tags-input tags="skillsTags" ng-show="editorSkillsEnabled"
                                info="candidateSelectedSkills"></tags-input>
                </div>

            </div>
        </div>

        <div class="profile-right-container" id="focusEducation">
            <div>
                <add-education data="education" save-education="saveEducation"
                               add-education-enable="addEducationEnable" on-add="onEducationAdd" on-cancel="onEducationCancel"></add-education>
		            <div class="profile-right-content" ng-show="user.educations.length == 0 && !isAddingEducation">
			            <p class="profile-placeholder-txt">{{defaultEducation}}</p>
		            </div>
                <div ng-repeat="education in user.educations">
                    <education data="education" update-education="updateEducation" education-editor="educationEditor"
	                    on-delete="deleteEducation"></education>
                </div>
            </div>
        </div>

        <div class="profile-right-container" id="focusExperience">
            <div>
                <add-experience data="experience" save-experience="saveExperience"
                               on-add="onExperienceAdd" on-cancel="onExperienceCancel"></add-experience>
                <div class="profile-right-content" ng-show="user.experiences.length == 0 && !isAddingExperience">
                    <p class="profile-placeholder-txt">{{defaultExperience}}</p>
                </div>
                <div ng-repeat="experience in user.experiences">
                    <experience data="experience" update-experience="updateExperience" experience-editor="experienceEditor"
	                    on-delete="deleteExperience"></experience>
                </div>
            </div>
        </div>

		    <div class="profile-right-container">
			    <div class="profile-right-header">
				    <div class="profile-right-header title">
					    <div class="profile-right-header-img interests"></div>
					    <h3> INTERESTS </h3>
				    </div>
				    <div class="profile-right-header edit">
					    <div class="editwrapper">
						    <div class="edit-pencil" ng-click="enableInterestsEditor()"
						         ng-hide="editorInterestsEnabled"></div>

						    <div ng-show="editorInterestsEnabled" class="edit-buttons-wrapper">
							    <a ng-click="saveInterests()" class="btn btn-edit">
								    SAVE </span>
							    </a>
							    <a ng-click="disableInterestsEditor()" class="btn btn-edit margin-l5">
								    CANCEL </span>
							    </a>
						    </div>
					    </div>
				    </div>
			    </div>

			    <div class="profile-right-content">
				    <p class="profile-placeholder-txt" ng-show="selectedInterests.length == 0 && !editorInterestsEnabled">
					    {{defaultInterests}}
				    </p>
				    <div ng-hide="editorInterestsEnabled" class="profile-right-text">
					    <div class="tags">
						    <a class="tag" ng-model="tag" ng-repeat="tag in selectedInterests">{{tag}}</a>
					    </div>
				    </div>
				    <div ng-hide="selectedInterests.length == 0 && !editorInterestsEnabled">
					    <tags-input tags="interestsTags" ng-show="editorInterestsEnabled"
					                info="candidateSelectedInterests"></tags-input>
				    </div>
			    </div>
		    </div>

	      <div class="profile-right-container">
		      <div>
			      <add-language data="language" save-language="saveLanguage" on-add="onLanguageAdd" on-cancel="onLanguageCancel"></add-language>

			      <div class="profile-right-content" ng-show="user.languages.length == 0 && !isAddingLanguage">
			        <p class="profile-placeholder-txt" >
				        {{defaultLanguages}}
			        </p>
			      </div>

			      <div ng-repeat="language in user.languages">
				      <language data="language" update-language="updateLanguage" on-delete="deleteLanguage"></language>
			      </div>
		      </div>
		    </div>


    </div>

</div>

</div>

</div>
</div>

