<div class="profile background">
    <div class="profile wrapper col-md-9 col-md-offset-1">
        <div id="employerProfileTopSection" style="overflow: auto;">
            <div id="employerProfileCover" class="coverWrap">
                <div class="coverBorder">
                    <div class="employerDefaultCoverPhoto"></div>
                    <div class="employerCoverImageEdit wrapper">
                        <div class="employerCoverImageEdit img"></div>
                    </div>
                </div>
            </div>
            <div class="profileHeadline wrapper">
                <div class="companyImage wrapper">
                    <div class="companyDefaultPhoto">
                        <h2>Company Logo</h2>
                        <div class="companyImageEdit wrapper">
                            <div class="companyImageEdit img"></div>
                        </div>
                    </div>
                </div>
                <div class="companyNameWrapper">
                    <h1>Company Name</h1>
                </div>
            </div>
        </div>
        <div class="employerProfileContent">
            <div class="employerProfileLeftContent cont col-md-6">
                <div class="section padding-135">
                    <div class="employerProfilePhotoWrapper col-xs-4">
                        <div class="img-circle employerDefaultProfileImage img" ng-class="user.gender"></div>
                        <div class="employerProfileImageEdit wrapper">
                            <div class="employerProfileImageEdit img"></div>
                        </div>
                    </div>
                    <div class="employerBasicInfoWrapper col-xs-8">
                        <div class="employerNameWrapper">
                            <span>{{user.name}} {{user.lastname}}</span>
                        </div>
                        <div class="employerPositionWrapper">
                            <span>{{user.job_title}}</span>
                        </div>                     
                    </div>
                </div>
                <!-- EDIT COMPANY (DIRECTIVE)-->
                <div edit-company data="employerCompany" save-company="saveCompany"
                               add-company-enable="addCompanyEnabled"></div>
                <div class="profileLeftContent section">
                    <div class="profile-communication-panel-img message"></div>
                    <div class="profile-communication-panel-img videocam"></div>
                </div>

            </div>

            <div class="employerProfileRightContent col-md-6">
            
                <!-- DESCRIPTION -->
                <div class="profile-right-container">
                    <div class="profile-right-header">
                        <div class="profile-right-header title">
                            <div class="profile-right-header-img summary"></div>  <h3> Description</h3>
                        </div>
                        <div class="profile-right-header edit">
                            <div class="editwrapper">
                                <div class="edit-pencil employer" ng-click="enableDescriptionEditor()"
                                     ng-hide="descriptionEnable"></div>

                                <div ng-show="editorDescriptionEnabled" class="edit-buttons-wrapper">
                                    <a ng-click="saveDescription()" class="btn btn-edit">
                                        SAVE </span>
                                    </a>
                                    <a ng-click="disableDescriptionEditor()" class="btn btn-edit margin-l5">
                                        CANCEL </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-right-content">
                        <div ng-hide="descriptionEnable" class="profile-right-text">
                            {{employerCompany.description}}
                        </div>
                        <textarea class="form-control" rows="5" ng-show="descriptionEnable" ng-model="employerCompany.description"></textarea>
                    </div>
                </div>

                <!-- SKILLS -->
                <div class="profile-right-container">
                    <div class="profile-right-header">
                        <div class="profile-right-header title">
                            <div class="profile-right-header-img skills"></div> <h3> SKILLS </h3>
                        </div>
                        <div class="profile-right-header edit">
                            <div class="editwrapper">
                                <div class="edit-pencil" ng-click="enableSkillsEditor()"
                                     ng-hide="editorSkillsEnabled"></div>

                                <div ng-show="editorSkillsEnabled" class="edit-buttons-wrapper">
                                    <a ng-click="saveSkills()" class="btn btn-edit">
                                        SAVE </span>
                                    </a>
                                    <a ng-click="disableSkillsEditor()" class="btn btn-edit margin-l5">
                                        CANCEL </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="profile-right-content">
                        <div ng-hide="editorSkillsEnabled" class="profile-right-text">
                            <div class="tags">
                                <a class="tag" ng-model="tag" ng-repeat="tag in selectedSkills">{{tag}}</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <tags-input tags="skillsTags" ng-show="editorSkillsEnabled" placeholder="Add your skills..."
                                        info="employerSelectedSkills"></tags-input>
                        </div>
                    </div>
                </div>

                <!-- INTERESTS -->
                <div class="profile-right-container">
                    <div class="profile-right-header">
                        <div class="profile-right-header title">
                            <div class="profile-right-header-img interests"></div> <h3> INTERESTS </h3>
                        </div>
                        <div class="profile-right-header edit">
                            <div class="editwrapper">
                                <div class="edit-pencil" ng-click="enableInterestsEditor()"
                                     ng-hide="editorInterestsEnabled"></div>

                                <div ng-show="editorInterestsEnabled" class="edit-buttons-wrapper">
                                    <a ng-click="saveInterests()" class="btn btn-edit">
                                        SAVE </span>
                                    </a>
                                    <a ng-click="disableInterestsEditor()" class="btn btn-edit margin-l5">
                                        CANCEL </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="profile-right-content">
                        <div ng-hide="editorInterestsEnabled" class="profile-right-text">
                            <div class="tags">
                                <a class="tag" ng-model="tag" ng-repeat="tag in selectedInterests">{{tag}}</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <tags-input tags="skillsTags" ng-show="editorInterestsEnabled" placeholder="Add your interests..."
                                        info="employerSelectedInterests"></tags-input>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>