<div class="profile background">
  <div class="profile wrapper col-md-8 col-md-offset-2">
    <div id="employer-profile-top-section">
      <div id="employer-profile-cover" class="cover-wrap">
        <div class="cover-border">
          <simpleimagepicker update-image="updateEmployerCoverImage" circular="false"
                             default="/profile/default_cover_2.png" image-url="user.cover_image"></simpleimagepicker>
        </div>
      </div>
      <div class="profile-headline wrapper">
        <div class="company-image wrapper">
          <simpleimagepicker update-image="updateEmployerCompanyImage" default="logocircle-employer.svg" circular="true"
                             image-url="employerCompany.image"></simpleimagepicker>
        </div>
        <div class="company-name-wrapper">
          <h1>{{employerCompany.name}}</h1>
        </div>
      </div>
    </div>
    <div class="employer-profile-content">
      <div class="employer-profile-left-content cont col-md-4">
        <div class="employer-info-wrapper">
          <div class="employer-profile-image-wrapper">
            <simpleimagepicker update-image="updateEmployerProfileImage"
                               default="/profile/{{ user.gender ? user.gender : 'other' }}.svg" circular="true"
                               size="'SMALL'" image-url="user.profile_image"></simpleimagepicker>
          </div>
          <div class="employer-profile-wrapper">
            <div class="margin-t90">
              <p class="employer-name-txt">{{user.name}} {{user.lastname}}</p>
            </div>
            <div class="margin-t5">
              <p class="employer-position-txt">{{user.job_title}}</p>
            </div>
          </div>
        </div>

        <div edit-company data="employerCompany" save-company="saveCompany"
             add-company-enable="addCompanyEnabled"></div>
      </div>

      <div class="employer-profile-right-content col-md-8">
        <div class="profile-right-container">
          <div class="profile-right-header">
            <div class="profile-right-header title">
              <div class="company-logo-summary"></div>
              <h3>About this company</h3>
            </div>
            <div class="profile-right-header edit">
              <div class="editwrapper">
                <div class="edit-pencil employer" ng-click="enableDescriptionEditor()"
                     ng-hide="descriptionEnable"></div>
                <div ng-show="editorDescriptionEnabled" class="edit-buttons-wrapper">
                  <a ng-click="saveDescription()" class="btn btn-edit">
                    <span>SAVE</span>
                  </a>
                  <a ng-click="disableDescriptionEditor()" class="btn btn-edit margin-l5">
                    <span>CANCEL</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="profile-right-content">
            <div class="border-container">
              <div ng-hide="descriptionEnable">
                <p class="profile-right-text" ng-if="employerCompany.description">
                  {{employerCompany.description}}
                </p>
                <p class="profile-placeholder-txt" ng-if="!employerCompany.description">
                  Tell us something about your company...
                </p>
              </div>
              <textarea class="form-control" rows="5" ng-show="descriptionEnable" ng-model="employerCompany.description"
                        placeholder="Tell us something about your company..."></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
