<div class="profile background">
    <div class="profile wrapper col-md-9 col-md-offset-1">
        <div id="employerProfileTopSection" style="overflow: auto;">
            <div id="employerProfileCover" class="coverWrap">
                <div class="coverBorder">
                    <div class="employerDefaultCoverPhoto"></div>
                    <div class="employerCoverImageEdit wrapper">
                        <div class="employerCoverImageEdit img"></div>
                    </div>
                </div>
            </div>
            <div class="profileHeadline wrapper">
                <div class="employerProfileImage wrapper">
                    <div class="employerDefaultProfilePhoto">
                        <h2>Company Logo</h2>
                        <div class="employerProfileImageEdit wrapper">
                            <div class="employerProfileImageEdit img"></div>
                        </div>
                    </div>
                </div>
                <div class="companyNameWrapper">
                    <h1>Company Name</h1>
                </div>
            </div>
        </div>
        <div class="profileContent">
            <div class="profileLeftContent cont col-md-6">

                <div class="profileLeftContent section padding-l35">
                    <div class="editwrapper"></div>

                    <div class="profileLeftContentWrapper">
                        <div class="profileLeft">
                            <div class="img-col">
                                <div class="profile-img jobposition"></div>
                            </div>
                            <div class="cont-col">

                            </div>
                        </div>

                        <div class="profileLeft">
                            <div class="img-col">
                                <div class="profile-img education"></div>
                            </div>
                            <div class="cont-col">

                            </div>
                        </div>

                        <div class="profileLeft">
                            <div class="img-col">
                                <div class="profile-img topskills"></div>
                            </div>
                            <div class="cont-col">

                            </div>
                        </div>

                        <div class="profileLeft">
                            <div class="img-col">
                                <div class="profile-img location"></div>
                            </div>
                            <div class="cont-col">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="profileLeftContent section">
                    <div class="profile-communication-panel-img message"></div>
                    <div class="profile-communication-panel-img videocam"></div>
                </div>

            </div>

            <div class="profileMainContent col-md-6">

                <div class="profile-right-container">
                    <div class="profile-right-header">
                        <div class="profile-right-header title">
                            <div class="profile-right-header-img summary"></div>  <h3> Summary </h3>
                        </div>
                        <div class="profile-right-header edit">
                            <div class="editwrapper">
                                <div class="edit-pencil" ng-click="enableSummaryEditor()"
                                     ng-hide="editorSummaryEnabled"></div>

                                <div ng-show="editorSummaryEnabled" class="edit-buttons-wrapper">
                                    <a ng-click="saveSummary()" class="btn btn-edit">
                                        SAVE </span>
                                    </a>
                                    <a ng-click="disableSummaryEditor()" class="btn btn-edit margin-l5">
                                        CANCEL </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-right-content">
                        <div ng-hide="editorSummaryEnabled" class="profile-right-text">
                            {{profileSummary}}
                        </div>
                        <textarea class="form-control" rows="5" ng-show="editorSummaryEnabled" ng-model="userSummary"></textarea>
                    </div>
                </div>
            </div> 
        </div>

    </div>

</div>
<!-- 
        </div>

    </div>
</div>

 -->