<div class="privacy-terms-body col-xs-12">
  <div class="privacy-terms-wrapper col-xs-12 col-md-8 col-md-offset-2">
    <div class="privacy-terms-title col-xs-12">
      <h1>GradsHub privacy policy</h1>
    </div>

    <section class="first-section">
      <div class="col-xs-12">
        <div class="text-section">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mollis lorem eget sapien malesuada, vel cursus enim lacinia. Maecenas et lectus eros. Nulla rhoncus ex ut risus porttitor viverra. Morbi id dictum justo. Donec orci lacus, porta vitae diam eget, commodo convallis sapien. Etiam ut ipsum sed felis aliquam dictum. Phasellus in urna non elit finibus venenatis. Duis feugiat consectetur velit vel posuere. Suspendisse id hendrerit risus. Nunc euismod lorem ac rutrum pharetra. Phasellus quis pulvinar sem. Aenean convallis sollicitudin nisl.
        </div>
        <div class="text-section">
          <span class="bold">Tip:</span> What you say on Gradshub may be viewed all around the world instantly. You are what you are!
        </div>
        <div class="text-section">
          Nam metus lorem, hendrerit quis feugiat et, vehicula quis nulla. Ut tortor orci, cursus sed sapien sed, sagittis scelerisque enim. Fusce eget tempus sapien, eu blandit justo. Maecenas sed turpis at mi accumsan rutrum et vel eros. Vivamus iaculis ultricies molestie. Duis felis nisl, tempor ut ante in, egestas venenatis libero. Curabitur ultrices, ex nec ullamcorper imperdiet, urna est egestas nisl, eu lobortis diam diam vel arcu. Phasellus vestibulum nulla non commodo fermentum. Maecenas lacus enim, luctus ut arcu ut, ullamcorper rhoncus dui. Vivamus sit amet consectetur massa, eget tristique metus. Morbi vel arcu vel nisi euismod tincidunt et quis lorem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean varius rutrum velit, non lobortis magna placerat sit amet. Donec elementum congue nisi eget imperdiet. Cras ac laoreet orci. Vestibulum quis aliquam tortor.
        </div>
        <div class="text-section">
          Sed ex felis, facilisis a ornare eu, ornare eu sapien. Aenean molestie egestas mi, a sodales dolor. Proin et feugiat velit. Nunc eget cursus massa. Sed at suscipit enim, nec placerat libero. Fusce aliquet augue nec magna semper euismod. Nullam a magna quis lectus cursus ullamcorper. Nunc vel mollis urna. Integer semper massa vitae sapien molestie, at placerat metus suscipit.
        </div>
      </div>
    </section>
    <section class="second-selection">
      <div class="col-xs-12">
        <div class="privacy-terms-sub-title">
          <h2>INFORMATION COLLECTION AND USE</h2>
        </div>
        <div class="text-section">
          <span class="bold">Tip:</span> We collect and use your information below to provide our Services and to measure and improve them over time.
        </div>
        <div class="text-section">
          Basic Account Information: When you create or reconfigure an account, you provide some personal information, such as your name, username, password, email address, or phone number. On the Twitter Services, your name and username are listed publicly, including on your profile page and in search results, and you can use either your real name or a pseudonym. Some Twitter Services, such as searching and viewing public user profiles, do not require registration.
        </div>
        <div class="text-section">
          <span class="bold">Contact Information:</span> In orci mi, semper vitae sapien id, faucibus suscipit lorem. Mauris suscipit non lorem sed congue. Nunc efficitur arcu ut ex tempus, feugiat pellentesque augue rhoncus. Integer justo sapien, facilisis in dolor sed, ultrices porta mi. Mauris in ullamcorper nisi. Aenean tristique mi lorem, in tempor nunc volutpat sit amet. In hac habitasse platea dictumst. Quisque rutrum ex leo. Nulla pellentesque urna sed tortor viverra euismod. Donec et erat magna. Aenean euismod commodo nisi quis hendrerit. Donec vel interdum erat. Nam ut ex nec nulla dapibus varius.
        </div>
        <div class="text-section">
          <span class="bold">Additional Information:</span> In orci mi, semper vitae sapien id, faucibus suscipit lorem. Mauris suscipit non lorem sed congue. Nunc efficitur arcu ut ex tempus, feugiat pellentesque augue rhoncus. Integer justo sapien, facilisis in dolor sed, ultrices porta mi. Mauris in ullamcorper nisi. Aenean tristique mi lorem, in tempor nunc volutpat sit amet. In hac habitasse platea dictumst. Quisque rutrum ex leo. Nulla pellentesque urna sed tortor viverra euismod. Donec et erat magna. Aenean euismod commodo nisi quis hendrerit. Donec vel interdum erat. Nam ut ex nec nulla dapibus varius.
        </div>
        <div class="text-section">
          <span class="bold">Location Information:</span> In orci mi, semper vitae sapien id, faucibus suscipit lorem. Mauris suscipit non lorem sed congue. Nunc efficitur arcu ut ex tempus, feugiat pellentesque augue rhoncus. Integer justo sapien, facilisis in dolor sed, ultrices porta mi. Mauris in ullamcorper nisi. Aenean tristique mi lorem, in tempor nunc volutpat sit amet. In hac habitasse platea dictumst. Quisque rutrum ex leo. Nulla pellentesque urna sed tortor viverra euismod. Donec et erat magna. Aenean euismod commodo nisi quis hendrerit. Donec vel interdum erat. Nam ut ex nec nulla dapibus varius.
        </div>
        <div class="text-section">
          <span class="bold">Link:</span> In orci mi, semper vitae sapien id, faucibus suscipit lorem. Mauris suscipit non lorem sed congue. Nunc efficitur arcu ut ex tempus, feugiat pellentesque augue rhoncus. Integer justo sapien, facilisis in dolor sed, ultrices porta mi. Mauris in ullamcorper nisi.
        </div>
        <div class="text-section">
          <span class="bold">Cookies:</span> In orci mi, semper vitae sapien id, faucibus suscipit lorem. Mauris suscipit non lorem sed congue. Nunc efficitur arcu ut ex tempus, feugiat pellentesque augue rhoncus. Integer justo sapien, facilisis in dolor sed, ultrices porta mi. Mauris in ullamcorper nisi. Aenean tristique mi lorem, in tempor nunc volutpat sit amet. In hac habitasse platea dictumst. Quisque rutrum ex leo. Nulla pellentesque urna sed tortor viverra euismod. Donec et erat magna. Aenean euismod commodo nisi quis hendrerit. Donec vel interdum erat. Nam ut ex nec nulla dapibus varius.
        </div>
      </div>
    </section>
    <section class="third-selection">
      <div class="col-xs-12">
        <div class="privacy-terms-sub-title">
          <h2>INFORMATION SHARING AND DISCLOSURE</h2>
        </div>
        <div class="text-section">
          <span class="bold">Tip:</span> We do not disclose your private personal information except in the limited circumstances described here.
        </div>
        <div class="text-section">
          <span class="bold">User Consent or Direction:</span> In orci mi, semper vitae sapien id, faucibus suscipit lorem. Mauris suscipit non lorem sed congue. Nunc efficitur arcu ut ex tempus, feugiat pellentesque augue rhoncus. Integer justo sapien, facilisis in dolor sed, ultrices porta mi. Mauris in ullamcorper nisi. Aenean tristique mi lorem, in tempor nunc volutpat sit amet. In hac habitasse platea dictumst. Quisque rutrum ex leo. Nulla pellentesque urna sed tortor viverra euismod. Donec et erat magna. Aenean euismod commodo nisi quis hendrerit. Donec vel interdum erat. Nam ut ex nec nulla dapibus varius.
        </div>
        <div class="text-section">
          <span class="bold">Service Providers:</span> In orci mi, semper vitae sapien id, faucibus suscipit lorem. Mauris suscipit non lorem sed congue. Nunc efficitur arcu ut ex tempus, feugiat pellentesque augue rhoncus. Integer justo sapien, facilisis in dolor sed, ultrices porta mi. Mauris in ullamcorper nisi. Aenean tristique mi lorem, in tempor nunc volutpat sit amet. In hac habitasse platea dictumst. Quisque rutrum ex leo. Nulla pellentesque urna sed tortor viverra euismod. Donec et erat magna. Aenean euismod commodo nisi quis hendrerit. Donec vel interdum erat. Nam ut ex nec nulla dapibus varius.
        </div>
      </div>
    </section>
    <section class="fourth-selection">
      <div class="col-xs-12">
        <div class="privacy-terms-sub-title">
          <h2>ACCESSING AND MODIFYING YOUR PERSONAL INFORMATION</h2>
        </div>
        <div class="text-section">
          In orci mi, semper vitae sapien id, faucibus suscipit lorem. Mauris suscipit non lorem sed congue. <span class="blue">Gradshub</span> Nunc efficitur arcu ut ex tempus, feugiat pellentesque augue rhoncus. Integer justo sapien, facilisis in dolor sed, ultrices porta mi. Mauris in ullamcorper nisi.
        </div>
        <div class="text-section">
          In orci mi, semper vitae sapien id, faucibus suscipit lorem. Mauris suscipit non lorem sed congue. Nunc efficitur arcu ut ex tempus, feugiat pellentesque augue rhoncus. Integer justo sapien, facilisis in dolor sed, ultrices porta mi. Mauris in ullamcorper nisi.
        </div>
      </div>
    </section>
    <section class="fifth-selection">
      <div class="col-xs-12">
        <div class="privacy-terms-sub-title">
          <h2>OUR POLICY TOWARDS CHILDREN</h2>
        </div>
        <div class="text-section">
          In orci mi, semper vitae sapien id, faucibus suscipit lorem. Mauris suscipit non lorem sed congue. Nunc efficitur arcu ut ex tempus, feugiat pellentesque augue rhoncus. Integer justo sapien, facilisis in dolor sed, ultrices porta mi. Mauris in ullamcorper nisi. Aenean tristique mi lorem, in tempor nunc volutpat sit amet. In hac habitasse platea dictumst. Quisque rutrum ex leo. Nulla pellentesque urna sed tortor viverra euismod. Donec et erat magna. Aenean euismod commodo nisi quis hendrerit. Donec vel interdum erat. Nam ut ex nec nulla dapibus varius.
        </div>
      </div>
    </section>
    <section class="sixth-selection">
      <div class="col-xs-12">
        <div class="privacy-terms-sub-title">
          <h2>EU SAFE HARBOR FRAMEWORK</h2>
        </div>
        <div class="text-section">
          In orci mi, semper vitae sapien id, faucibus suscipit lorem. Mauris suscipit non lorem sed congue. Nunc efficitur arcu ut ex tempus, feugiat pellentesque augue rhoncus. Integer justo sapien, facilisis in dolor sed, ultrices porta mi. Mauris in ullamcorper nisi.
        </div>
      </div>
    </section>
    <section class="seventh-selection">
      <div class="col-xs-12">
        <div class="privacy-terms-sub-title">
          <h2>CHANGES TO THIS POLICY</h2>
        </div>
        <div class="text-section">
          Nam metus lorem, hendrerit quis feugiat et, vehicula quis nulla. Ut tortor orci, cursus sed sapien sed, sagittis scelerisque enim. Fusce eget tempus sapien, eu blandit justo. Maecenas sed turpis at mi accumsan rutrum et vel eros. Vivamus iaculis ultricies molestie. Duis felis nisl, tempor ut ante in, egestas venenatis libero. Curabitur ultrices, ex nec ullamcorper imperdiet, urna est egestas nisl, eu lobortis diam diam vel arcu. Phasellus vestibulum nulla non commodo fermentum. Maecenas lacus enim, luctus ut arcu ut, ullamcorper rhoncus dui. Vivamus sit amet consectetur massa, eget tristique metus. Morbi vel arcu vel nisi euismod tincidunt et quis lorem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean varius rutrum velit, non lobortis magna placerat sit amet. Donec elementum congue nisi eget imperdiet. Cras ac laoreet orci. Vestibulum quis aliquam tortor.
        </div>
      </div>
    </section>
  </div>
</div>