<div class="profile background">
    <div class="container">
        <div class="profile wrapper col-md-10 col-md-offset-1">
            <div id="profileTopSection">
                <div id="profileCover" class="coverWrap">
                    <div class="coverBorder">
                        <form>
                            <div class="coverImage" ng-if="result.public_id == null"></div>
                            <div class="coverImageEdit wrapper">
                                <div class="coverImageEdit img" ng-file-select="onFileSelect($files)"
                                data-multiple="false" title="Upload Cover Photo"
                                onclick="this.value = null"></div>
                            </div>

                            <cl-image class="cloudinary img" public-id="{{result.public_id}}" format="jpg" ng-if="result.public_id != null">
                            </cl-image>

                        </form>
                    </div>
                </div>
                <div class="profileHeadline wrapper">
                    <div class="profileImage wrapper">
                        <div class="profileImage img"></div>
                        <div class="profileImageEdit wrapper">
                            <div class="profileImageEdit img"></div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>

