<div class="signup background">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">

                <div id="form-container">
                    <div class="page-header text-center signup signup-form">
                        <span class="title">Welcome to Mepedia</span>

                        <div class="text-center">
                            <div class="col-md-12">
                                <div class="margin-10 subtitle-container">
                                    <span class="subtitle">Sed ut perspiciatis unde omnis iste natus.</span>
                                </div>
                            </div>
                        </div>

                        <div class="margin-t20 text-center">
                            <div class="col-md-12  margin-t15 text-center">
                            <span id="looking" class="looking_btn" ng-click="showLookingMindsSignup()"
                                  ng-class="{'looking_btn_active': looking}">I WANT TO HIRE</span>
                            <span id="great" class="great_btn" ng-click="showGreatMindsSignup()"
                                  ng-class="{'great_btn-active': great}">I WANT A JOB</span>
                            </div>
                        </div>

                        <!-- the links to our nested states using relative paths -->
                        <!-- add the active class if the state matches our ui-sref -->
                        <div id="status-buttons-work" class="text-center" ng-show="great">
                            <a ui-sref-active="active" ui-sref=".personal" class="ic-wizard personal active"><span
                                    class="type-work"></span> Personal</a>
                            <a ui-sref-active="active" ui-sref=".education" class="ic-wizard education"><span
                                    class="type-work"></span> Education</a>
                            <a ui-sref-active="active" ui-sref=".career" class="ic-wizard interests"><span
                                    class="type-work"></span> Interests</a>
                        </div>

                        <div id="status-buttons-hire" class="text-center" ng-show="looking">
                            <a ui-sref-active="active" ui-sref=".personal" class="ic-wizard hpersonal"><span
                                    class="type-work"></span> Personal</a>
                            <a ui-sref-active="active" ui-sref=".company" class="ic-wizard company"><span
                                    class="type-work"></span> Company</a>
                            <a ui-sref-active="active" ui-sref=".interests" class="ic-wizard lookingfor"><span
                                    class="type-work"></span> Looking For</a>
                        </div>
                    </div>

                    <!-- use ng-submit to catch the form submission and use our Angular function -->
                    <form id="signup-form" name="form" ng-submit="processForm()">
                        <!-- our nested state views will be injected here -->
                        <div id="form-views" ui-view>

                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>

</div>
