<div class="privacy-terms-body col-xs-12">
  <div class="privacy-terms-wrapper col-xs-12 col-md-8 col-md-offset-2">
    <div class="privacy-terms-title col-xs-12">
      <p class="title">TERMS & PRIVACY</p>
    </div>
    <section class="first-section">
      <div class="col-xs-12">
        <div class="text-section">
          This Statement of Rights and Responsibilities ("Statement," "Terms," or "SRR") derives from the GradsHub Principles, and is our terms of service that governs our relationship with users and others who interact with GradsHub.
        </div>
      </div>
    </section>
    <section class="second-selection">
      <div class="col-xs-12">
        <div class="privacy-terms-sub-title">
          <p>1. Privacy</p>
        </div>
        <div class="text-section">
          Your privacy is very important to us. We designed our Data Policy to make important disclosures about how you can use GradsHub to share your profile with others, hiring managers and how we collect and can use your content and information. We encourage you to read the Data Policy, and to use it to help you make informed decisions.
        </div>
      </div>
    </section>
    <section class="third-selection">
      <div class="col-xs-12">
        <div class="privacy-terms-sub-title">
          <p>2. Sharing Your Content and Information</p>
        </div>
        <div class="text-section">
            You own all of the content and information you provide in your profile on GradsHub and you can control how it is shared through your profile settings.
        </div>
        <div class="text-section">
          <span class="bold">2.1</span> For content that is covered by intellectual property rights, like skills, photos and videos (IP content), you specifically give us the following permission, subject to your settings: you grant us a non-exclusive, transferable, sub-licensable, royalty-free, worldwide license to use any IP content that you post on or in connection with GradsHub (IP License). This IP License ends when you delete your IP content or your account unless your content has been shared with others, and they have not deleted it.
        </div>
        <div class="text-section">
          <span class="bold">2.2</span> When you delete IP content, it is deleted in a manner similar to emptying the recycle bin on a computer. However, you understand that removed content may persist in backup copies for a reasonable period of time (but will not be available to others).
        </div>
        <div class="text-section">
          <span class="bold">2.3</span> When you publish your profile, it means that you are allowing hiring managers, including other subscribers of GradsHub, to access and use that information, and to associate it with you (i.e., your name and profile picture and content).
        </div>
        <div class="text-section">
          <span class="bold">2.4</span> We always appreciate your feedback or other suggestions about GradsHub, but you understand that we may use your feedback or suggestions without any obligation to compensate you for them (just as you have no obligation to offer them).
        </div>
      </div>
    </section>
    <section class="fourth-selection">
      <div class="col-xs-12">
        <div class="privacy-terms-sub-title">
          <p>3. Safety</p>
        </div>
        <div class="text-section">
          We do our best to keep GradsHub safe and secured, but we cannot guarantee it. We need your help to keep GradsHub safe, which includes the following commitments by you:
        </div>
        <div class="text-section">
          <span class="bold">3.1</span> You will not post unauthorized commercial communications (such as spam) on GradsHub.
        </div>
        <div class="text-section">
          <span class="bold">3.2</span> You will not collect other users' content or information, or otherwise access GradsHub, using automated means (such as harvesting bots, robots, spiders, or scrapers) without our prior permission.
        </div>
        <div class="text-section">
          <span class="bold">3.3</span> You will not engage in unlawful multi-level marketing, such as a pyramid scheme, on GradsHub.
        </div>
        <div class="text-section">
          <span class="bold">3.4</span> You will not upload viruses or other malicious code.
        </div>
        <div class="text-section">
          <span class="bold">3.5</span> You will not solicit login information or access an account belonging to someone else.
        </div>
        <div class="text-section">
          <span class="bold">3.6</span> You will not bully, intimidate, or harass any user.
        </div>
        <div class="text-section">
          <span class="bold">3.7</span> You will not post content that: is hate speech, threatening, or pornographic; incites violence; or contains nudity or graphic or gratuitous violence.
        </div>
        <div class="text-section">
          <span class="bold">3.8</span> You will not develop or operate a third-party application containing alcohol-related, dating or other mature content (including advertisements) without appropriate age-based restrictions.
        </div>
        <div class="text-section">
          <span class="bold">3.9</span> You will not use GradsHub to do anything unlawful, misleading, malicious, or discriminatory.
        </div>
        <div class="text-section">
          <span class="bold">3.10</span> You will not do anything that could disable, overburden, or impair the proper working or appearance of GradsHub, such as a denial of service attack or interference with page rendering or other GradsHub functionality.
        </div>
        <div class="text-section">
          <span class="bold">3.11</span> You will not facilitate or encourage any violations of this Statement or our policies.
        </div>
      </div>
    </section>
    <section class="fifth-selection">
      <div class="col-xs-12">
        <div class="privacy-terms-sub-title">
          <p>4. Registration and Account Security</p>
        </div>
        <div class="text-section">
          GradsHub users provide need to provide their real names and information, and we need your help to keep it that way. Here are some commitments you make to us relating to registering and maintaining the security of your account.
        </div>
        <div class="text-section">
          <span class="bold">4.1</span> You will not provide any false personal information on GradsHub, or create an account for anyone other than yourself without permission.
        </div>
        <div class="text-section">
          <span class="bold">4.2</span> You will not create more than one account either for hiring manager or candidate.
        </div>
        <div class="text-section">
          <span class="bold">4.3</span> If we disable your account, you will not create another one without our permission.
        </div>
        <div class="text-section">
          <span class="bold">4.4</span> You will not use your personal timeline primarily for your own commercial gain, and will use a GradsHub Page for such purposes.
        </div>
        <div class="text-section">
          <span class="bold">4.5</span> You will not use GradsHub if you are under 16.
        </div>
        <div class="text-section">
          <span class="bold">4.6</span> You will not use GradsHub if you are a convicted sex offender.
        </div>
        <div class="text-section">
          <span class="bold">4.7</span> You will keep your contact information accurate and up-to-date.
        </div>
        <div class="text-section">
          <span class="bold">4.8</span> You will not share your password (or in the case of developers, your secret key), let anyone else access your account, or do anything else that might jeopardize the security of your account.
        </div>
        <div class="text-section">
          <span class="bold">4.9</span> If you select a username or similar identifier for your account or Page, we reserve the right to remove or reclaim it if we believe it is appropriate (such as when a trademark owner complains about a username that does not closely relate to a user's actual name).
        </div>
      </div>
    </section>
    <section class="sixth-selection">
      <div class="col-xs-12">
        <div class="privacy-terms-sub-title">
          <p>5. Protecting Other People's Rights</p>
        </div>
        <div class="text-section">
          We respect other people's rights, and expect you to do the same.
        </div>

        <div class="text-section">
          <span class="bold">5.1</span> You will not post content or take any action on GradsHub that infringes or violates someone else's rights or otherwise violates the law.
        </div>
        <div class="text-section">
          <span class="bold">5.2</span> We can remove any content or information you post on GradsHub if we believe that it violates this Statement or our policies.
        </div>
        <div class="text-section">
          <span class="bold">5.3</span> We provide you with tools to help you protect your intellectual property rights.
        </div>
        <div class="text-section">
          <span class="bold">5.4</span> If we remove your content or profile for infringing someone else's copyright, and you believe we removed it by mistake, we will provide you with an opportunity to appeal.
        </div>
        <div class="text-section">
          <span class="bold">5.5</span> If you repeatedly infringe other people's intellectual property rights, we will disable your account when appropriate.
        </div>
        <div class="text-section">
          <span class="bold">5.6</span> You will not use our copyrights or Trademarks or any confusingly similar marks, except as expressly permitted by our Brand Usage Guidelines or with our prior written permission.
        </div>
        <div class="text-section">
          <span class="bold">5.7</span> If you collect information from users, you will: obtain their consent, make it clear you (and not GradsHub) are the one collecting their information, and post a privacy policy explaining what information you collect and how you will use it.
        </div>
        <div class="text-section">
          <span class="bold">5.8</span> You will not post anyone's identification documents or sensitive financial information on GradsHub.
        </div>
        <div class="text-section">
          <span class="bold">5.9</span> You will not tag users or send email invitations to non-users without their consent. GradsHub offers social reporting tools to enable users to provide feedback about tagging.
        </div>
      </div>
    </section>
    <section class="seventh-selection">
      <div class="col-xs-12">
        <div class="privacy-terms-sub-title">
          <p>6.  Payments</p>
        </div>
        <div class="text-section">
          If you make a payment on GradsHub, you agree our payment terms unless it is stated that other terms apply.
        </div>
      </div>
    </section>
  </div>
</div>