<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 col-xs-offset-0">
  <div class="form">
    <div class="form-row">
      <p class="subtitle">Check your email</p>
    </div>
    <div class="form-row margin-t15">
      <p class="text">We have sent an email m*****.com</p>
    </div>
    <div class="form-row">
      <p class="text">Click the link in the mail to reset your password.</p>
    </div>
    <div class="form-row margin-t15">
      <p class="text">If you don’t see the email, check other place, it might be, like your junk, spam or others
        folders.</p>
    </div>

    <div class="form-row">
      <hr class="hr"/>
      <a class="text-blue" ui-sref="main.forgotpssw.email">I didn’t receive the email.</a>
    </div>
  </div>
</div>