<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 col-xs-offset-0">
  <form name="emailForm" ng-submit="sendEmailForgotPassword(emailForm.$valid)" novalidate>
    <div class="form text-center">
      <div class="form-wrapper">
      <div ng-show="spinnerVisible">
        <p class="text margin-t15" ng-show="spinnerVisible">Please wait while the email is being sent.</p>

        <div class="spinner">
          <spinner show-spinner="spinnerVisible"></spinner>
        </div>
      </div>

      <div ng-show="!spinnerVisible">
        <div class="subtitle-wrap">
          <span class="subtitle">Find your GradsHub account </span>
        </div>
        <div class="form-group"
             ng-class="{'has-error': emailForm.email.$invalid && (emailForm.$submitted || emailForm.email.$touched)}">
          <input type="email" class="form-control" ng-model="emailFgtPssw" placeholder="Your Email"
                 id="email" name="email" required>
        </div>
        <div ng-if="emailForm.email.$invalid && (emailForm.$submitted || emailForm.email.$touched)"
             ng-messages="emailForm.email.$error">
          <div class="help-block" ng-message="required">
            Please enter your email.
          </div>
          <div class="help-block" ng-message="email">
            Please enter a valid email.
          </div>
        </div>

        <button type="submit" class="form-btn btn"> Search</button>

      </div>
      </div>

    </div>
  </form>
</div>