<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 col-xs-offset-0">
  <div class="form">
    <div class="margin-b20">
      <p class="subtitle">Reset your password</p>
    </div>

    <div class="margin-t20">
      <p class="text">If you don’t see the email, check other place, it might be, like your junk, spam or others
        folders.</p>
    </div>
    <form name="confirmForm" ng-submit="resetPassword(confirmForm .$valid)" novalidate>
      <div class="margin-t20">
        <div class="form-group"
             ng-class="{'has-error': confirmForm.password.$invalid && (confirmForm.$submitted || confirmForm.password.$touched)}">
          <input type="password" class="form-control" ng-model="password" placeholder="Type your new password"
                 id="password" name="password" required ng-minlength="5" ng-maxlength="20">
        </div>
      </div>
      <div class="form-group" ng-class="{'has-error': confirmForm.passwordConfirmation.$invalid && (confirmForm.$submitted || confirmForm.passwordConfirmation.$touched)
                && confirmForm.password.$valid}">
        <input type="password" class="form-control" ng-model="passwordConfirmation"
               placeholder="Type your new password again"
               id="passwordConfirmation" name="passwordConfirmation" required
               confirm-password to-confirm="password">
      </div>
      <div class="text-center">
        <div ng-if="confirmForm.password.$invalid && (confirmForm.$submitted || confirmForm.password.$touched)"
             ng-messages="confirmForm.password.$error">
          <div class="help-block" ng-message="required">
            Please enter your new password
          </div>
          <div class="help-block" ng-message="minlength">
            Your password is too short.
          </div>
          <div class="help-block" ng-message="maxlength">
            Your password is too long.
          </div>
        </div>

        <div
            ng-if="confirmForm.passwordConfirmation.$invalid && (confirmForm.$submitted || confirmForm.passwordConfirmation.$touched) && confirmForm.password.$valid"
            ng-messages="confirmForm.passwordConfirmation.$error">
          <div class="help-block" ng-message="required">
            Please enter your new password
          </div>

          <div class="help-block" ng-message="passwordConfirmed">
            Passwords do not match
          </div>
        </div>
      </div>

      <div class="margin-t10">
        <button type="submit" class="form-btn btn"> Submit</button>
      </div>
    </form>

  </div>
</div>
</div>