<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 col-xs-offset-0">
  <div class="form">
    <div class="margin-b20">
      <p class="subtitle">Congratulations!</p>
    </div>
    <div class="form-row">
      <p class="text"> You’ve successfully changed your password.</p>
    </div>
    <div class="form-row">
      <p class="text">Login and start working your profile.</p>
    </div>
    <div class="margin-t30">
      <hr class="hr"/>
      <a class="ftext-blue" ui-sref="main.login">Continue to GradsHub</a>
    </div>
  </div>
</div>