<div class="row">

  <div class="forgotpssw form-checkemail ">
    <div class="row margin-b20 margin-t30">
      <span class="forgotpssw subtitle">Congratulations! You’ve succesfully changed your password</span>
    </div>

    <div class="row margin-t20">
      <span class="forgotpssw text">Login and start working your profile</span>
    </div>

    <div class="row margin-t30">
      <hr class="forgotpssw hr"/>
      <a class="forgotpssw text-blue" ui-sref="home.login">Continue to GradsHub</a>
    </div>

  </div>
</div>