<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="alert-top-fixed">
		<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{ alert.msg }}</alert>
	</div>
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" ui-sref="login">Login</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div ui-view></div>

<footer id="home" class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="row footer-row-title">
                        <span href="#" class="footer-title" >COMPANY INFO</span>
                    </div>

                    <div class="row footer-row-li">
                        <a href="#" class="footer-li" >About Mepedia</a>
                    </div>

                    <div class="row footer-row-li">
                        <a href="#" class="footer-li" >Terms of Service</a>
                    </div>
                    <div class="row footer-row-li">
                        <a href="#" class="footer-li" >Privacy Policy</a>
                    </div>
                </div>

                <div class="col-md-8 footer-right-cl">
                    <a ng-click="gotoTop()" id="signup-footer-btn" class="btn btn-xs">Join mepedia for free</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <span class="footer-sign-txt"> Copyright &copy; Mepedia, Inc. 2014 </span>
                </div>
            </div>
        </div>
    </div>
</footer>
