<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
  <div class="alert-top-fixed col-lg-6 col-md-6 col-sm-8 col-xs-12 col-md-offset-3 col-lg-offset-3 col-sm-offset-2">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">
      <p ng-bind-html="'<strong>' + alert.title + '!</strong> ' + renderHtml(alert.msg)"></p>
    </alert>
  </div>
  <div class="container topnav">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand topnav" href="#">G</a>

      <div class="search-container">
        <form ng-submit="onSearchSubmit()">
          <label for="search-box"><span class="glyphicon glyphicon-search search-icon"></span></label>
          <input id="search-box" type="search" class="search-box" ng-model="searchKeyword" name="navbar-search"
                 placeholder="Search" autocomplete="off"/>
          <span class="glyphicon glyphicon-remove remove-icon" ng-show="searchKeyword.length"
                ng-mousedown="clearSearch($event)"></span>
          <input type="submit" id="search-submit"/>
        </form>
      </div>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a ng-click="scrollTo('explore')">EXPLORE</a>
        </li>
        <li>
          <a ng-click="scrollTo('section-how-it-works')">HOW IT WORKS</a>
        </li>
        <li>
          <a ng-click="scrollTo('section-testimonials')">REAL LIFE STORIES</a>
        </li>
        <li>
          <p class="username" ng-if="logged">{{username}}</p>
        </li>
        <li>
          <a class="login-btn" ng-if="!logged" ui-sref="home.login">Login</a>
          <a class="login-btn" ng-if="logged" ng-click="logout()">Logout</a>
        </li>
      </ul>
      <!-- Collect the nav links, forms, and other content for toggling -->
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<div ui-view></div>
<footer id="footer" class="text-center">
  <div class="container">
    <div class="col-lg-12">
      <button ng-click="scrollTo('top')" class="button">Join Gradshub for free</button>
    </div>
    <div class="col-lg-8 col-lg-offset-2">
      <div class="link-container">
        <div class="col-md-4 padding-tb-10">
          <a href="#" class="link">About Gradshub</a>
        </div>
        <div class="col-md-4 padding-tb-10">
          <!--<p href="#" class="divider">|</p>-->
          <a ui-sref="main.terms" class="link">Terms of Service</a>
        </div>
        <div class="col-md-4 padding-tb-10">
          <!--<p href="#" class="divider">|</p>-->
          <a ui-sref="main.privacy" class="link">Privacy Policy</a>
        </div>
      </div>
    </div>
    <div class="col-lg-12 padding-tb-20">
      <span class="sign"> Copyright &copy; Gradshub, Inc. 2015 </span>
    </div>
  </div>
</footer>