<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
  <div class="alert-top-fixed col-lg-6 col-md-6 col-sm-8 col-xs-12 col-md-offset-3 col-lg-offset-3 col-sm-offset-2">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">
      <p ng-bind-html="'<strong>' + alert.title + '!</strong> ' + renderHtml(alert.msg)"></p>
    </alert>
  </div>
  <div class="container topnav">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand topnav" ui-sref="main.page">G</a>

    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <div class="navbar-name navbar-right user-menu" ng-if="logged">
        <label ng-click="goToProfile()">{{username}}</label>
        <div document-click-listener class="arrow-container" ng-click="showSettingsPopup()">
          <div class="arrow-down"></div>
        </div>
        <div class="options-box" ng-show="isOptionsVisible">
          <a ng-if="logged" ui-sref="main.user_settings" class="col-md-12 menu-setting-item">Settings</a>
          <a ng-if="!logged" ui-sref="login" class="col-md-12 menu-setting-item">Login</a>
          <a ng-if="logged" ng-click="logout()" class="col-md-12 menu-setting-item">Logout</a>
        </div>
      </div>
      <p class="access-setting-button"></p>

      <ul class="nav navbar-nav navbar-left">

      </ul>
      <ul class="nav navbar-nav navbar-right">
      <!--<ul class="nav navbar-nav navbar-right options-home" ng-if="navbarService.getOptions().home">-->
        <!--<li>-->
          <!--<a ng-click="scrollTo('explore')">EXPLORE</a>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a ng-click="scrollTo('section-how-it-works')">HOW IT WORKS</a>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a ng-click="scrollTo('section-testimonials')">REAL LIFE STORIES</a>-->
        <!--</li>-->
        <li>
        <div class="search-container">
          <form ng-submit="onSearchSubmit()">
            <label for="search-box"><span class="glyphicon glyphicon-search search-icon"></span></label>
            <input id="search-box" type="search" class="search-box" ng-model="searchKeyword" name="navbar-search"
                   placeholder="Search" autocomplete="off"/>
          <span class="glyphicon glyphicon-remove remove-icon" ng-class="{'remove-icon-status':searchKeyword.length }"
                ng-mousedown="clearSearch($event)"></span>
            <input type="submit" id="search-submit"/>
          </form>
        </div>
        </li>

        <li>
          <a class="login-btn" ng-if="!logged" ui-sref="main.login">Login</a>
        </li>
      </ul>

      <!-- Collect the nav links, forms, and other content for toggling -->
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<ui-view></ui-view>

<footer id="footer" class="text-center" ng-if="navbarService.getOptions().home">
  <div class="container">
    <div class="col-lg-12">
      <button ng-click="scrollTo('top')" class="button">Join Gradshub for free</button>
    </div>
    <div class="col-lg-8 col-lg-offset-2">
      <div class="link-container">
        <div class="col-md-4 padding-tb-10">
          <a href="#" class="link">About Gradshub</a>
        </div>
        <div class="col-md-4 padding-tb-10">
          <!--<p href="#" class="divider">|</p>-->
          <a href="#" class="link">Terms of Service</a>
        </div>
        <div class="col-md-4 padding-tb-10">
          <!--<p href="#" class="divider">|</p>-->
          <a href="#" class="link">Privacy Policy</a>
        </div>
      </div>
    </div>
    <div class="col-lg-12 padding-tb-20">
      <span class="sign"> Copyright &copy; Gradshub, Inc. 2015 </span>
    </div>
  </div>
</footer>

