<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
  <div class="alert-top-fixed col-lg-6 col-md-6 col-sm-8 col-xs-12 col-md-offset-3 col-lg-offset-3 col-sm-offset-2">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">
      <p ng-bind-html="'<strong>' + alert.title + '!</strong> ' + renderHtml(alert.msg)"></p>
    </alert>
  </div>
  <div class="container topnav">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand topnav" ui-sref="home.page">Gradshub</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <p class="username" ng-if="logged">{{username}}</p>
        </li>
        <li>
          <a class="login-btn" ng-if="logged" ng-click="logout()">Logout</a>
        </li>
      </ul>
      <!-- Collect the nav links, forms, and other content for toggling -->
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<ui-view></ui-view>

