.comm-container {
  padding-top: 50px;
  overflow: auto;
  height: 100%;
  min-height: 100%;
}

.video-container {
  overflow: auto;
  height: 100%;
  position: relative;
  background-color: $primary-gray;

  .videos {
    height: 90%;
    width: 100%;
  }

  .footer {
    padding: 10px;
    margin: auto;
  }
}

.video-output {
  z-index: -100;
}

.video-input {
  z-index: 100;
}

.chat-container {
  overflow: auto;
  height: 100%;
  display: inline;

  .display {
    height: 86%;
    margin: 10px 10px 0 10px;
    overflow: scroll;

    p {
      width: 100%;
      overflow: auto;
    }
  }

  .input-container {
    width: 100%;
    border-top: 2px solid $primary-turquoise;

    input {
      margin-top: 15px;
      width: 100%;
      border: none;
      outline: none;
      box-shadow:none;

      &:hover, &:focus {
        border: none !important;
        outline: none;
        box-shadow:none;
      }
    }
  }

}