<div class="forgotpssw background" xmlns="http://www.w3.org/1999/html">
  <div class="container">
    <div class="row">
      <div class="forgotpssw cont col-md-6 col-md-offset-3">
        <div class="row">
          <div class="col-margin">
            <div class="forgotpssw img"></div>
          </div>
          <div class="col-sm-6">
            <span class="forgotpssw title"> Password Reset</span>
          </div>
        </div>
        <div class="row">

          <div class="forgotpssw form-checkemail">
            <div class="row margin-b20">
              <span class="forgotpssw subtitle">Check your email</span>
            </div>
            <div class="row">
              <span class="forgotpssw text">We have sent an email m*****.com</span>
            </div>
            <div class="row">
              <span class="forgotpssw text">Click the link in the mail to reset your password.</span>
            </div>
            <div class="row margin-t20">
              <span class="forgotpssw text">If you don’t see the email, check other place, it might be, like your junk, spam or others folders.</span>
            </div>

            <div class="row">
              <hr class="forgotpssw hr"/>
              <a class="forgotpssw text-blue" ui-sref="resetpssw">I didn’t receive the email.</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>