<div class="signup form-container col-md-8 col-md-offset-2">
    <div class="row">
        <div class="form-group">
            <input type="text" ng-model="form.jobTitle" required class="form-control" id="companyName"
                   placeholder="Job Title">
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <input type="text" ng-model="form.skills" required class="form-control" id="skills"
                   placeholder="Skills">
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <input type="text" ng-model="form.interests" required class="form-control" id="interests"
                   placeholder="Interested in ...">
        </div>
    </div>
</div>

<div>
    <div class="form-group row btn-form-container">
        <div class="col-xs-12 text-center">
            <a ui-sref="main.signup.career" class="btn btn-form">
                NEXT </span>
            </a>
        </div>
    </div>
</div>