<div class="signup form-container col-md-8 col-md-offset-2">
    <div class="signup form-box-cont">
    <div class="row">
        <div class="form-group">
            <input type="text" ng-model="school" required class="form-control" id="school"
                   placeholder="School" typeahead="school as school.name for school in schools | filter:$viewValue | limitTo:6" required class="form-control" typeahead-on-select="onSchool($item)">
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <input type="text" ng-model="schoolCountry" required class="form-control" id="schoolCountry" placeholder="School Country"
                   typeahead="country as country.name for country in countries | filter:$viewValue | limitTo:6" required class="form-control" typeahead-on-select="onSchoolCountry($item)">
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <input type="text" ng-model="schoolState" required class="form-control" id="schoolState" placeholder="School State"
                   typeahead="state as state.name for state in states | filter:$viewValue | limitTo:6" required class="form-control" typeahead-on-select="onSchoolState($item)">
        </div>
    </div>


    <div class="row">
        <div class="form-group">
            <input type="text" ng-model="major" required class="form-control" id="major" placeholder="Major"
                   typeahead="major as major.name for major in majors | filter:$viewValue | limitTo:6" required class="form-control" typeahead-on-select="onMajor($item)">
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <input type="text" ng-model="degree" required class="form-control" id="degree" placeholder="Degree"
                   typeahead="degree as degree.name for degree in degrees | filter:$viewValue | limitTo:6" required class="form-control" typeahead-on-select="onDegree($item)">
        </div>
    </div>

	  <div class="row">
		  <div class="form-group">
	      <input type="text" ng-model="description" class="form-control" id="educationDescription" placeholder="Description"
	             class="form-control">
		  </div>
	  </div>

	    <div class="row text-center">

		    <div class="btn-group margin-rn1 left" dropdown >
			    <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
				    {{startDateMonth}} <span class="caret"></span>
			    </button>
			    <ul class="dropdown-menu" role="menu">
				    <li ng-repeat="month in months">
					    <a ng-click="setMonth(month, 'start')">{{month}}</a>
				    </li>
			    </ul>
		    </div>

		    <div class="btn-group margin-rn1 left" dropdown >
			    <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
				    {{startDateYear}} <span class="caret"></span>
			    </button>
			    <ul class="dropdown-menu" role="menu">
				    <li ng-repeat="year in years">
					    <a ng-click="setYear(year, 'start')">{{year}}</a>
				    </li>
			    </ul>
		    </div>

		    <div class="btn-group margin-rn1 left" dropdown >
			    <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
				    {{endDateMonth}} <span class="caret"></span>
			    </button>
			    <ul class="dropdown-menu" role="menu">
				    <li ng-repeat="month in months">
					    <a ng-click="setMonth(month, 'end')">{{month}}</a>
				    </li>
			    </ul>
		    </div>

		    <div class="btn-group left" dropdown >
			    <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
				    {{endDateYear}} <span class="caret"></span>
			    </button>
			    <ul class="dropdown-menu" role="menu">
				    <li ng-repeat="year in years">
					    <a ng-click="setYear(year, 'end')">{{year}}</a>
				    </li>
			    </ul>
		    </div>
	    </div>

	    </div>
</div>
</div>

<div>
    <div class="form-group row btn-form-container">
        <div class="col-xs-12 text-center">
            <a ui-sref="main.signup.career" class="btn btn-form">
                NEXT </span>
            </a>
        </div>
    </div>

</div>