<form id="personal-form" name="personalForm" ng-submit="validatePersonal(personalForm.$valid)" novalidate>

    <div class="signup form-container col-md-8 col-md-offset-2">
        <p class="subtitle"> Can you please enter the following information about yourself?  We will use the information to build your profile and to match you with the jobs that are in your area. </p>

    <div class="signup form-box-cont">
      <div class="row">
        <div class="form-group">
          <input type="text" ng-model="user.tag" class="form-control input-sm" id="tag" placeholder="This will be your profile's headline">
        </div>
      </div>

      <div class="row text-center">
        <div class="form-group" ng-class="{'has-error': !user.birth && personalForm.$submitted}">
          <simpledatepicker ng-model="user.birth" is-date></simpledatepicker>
          <div ng-if="personalForm.$submitted && !user.birth">
            <div class="help-block">
              Please select a birth date!
            </div>
          </div>
        </div>
      </div>
      <div class="row text-center">
        <div class="form-group" ng-class="{'has-error': !user.gender && personalForm.$submitted}">
          <select ng-model="user.gender" name="gender" class="form-control btn button-primary w120 input-sm" required>
            <option selected disabled value="" >Select Gender</option>
            <option value="{{gender | lowercase}}" ng-repeat="gender in genders"> {{gender}}</option>
          </select>

          <div ng-if="personalForm.gender.$invalid && (personalForm.$submitted || personalForm.gender.$touched)"
               ng-messages="personalForm.gender.$error">
            <div class="help-block" ng-message="required">
              Please select a gender!
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group"
             ng-class="{'has-error': personalForm.country.$invalid && (personalForm.$submitted || personalForm.country.$touched)}">
          <country-selector placeholder="What country do you live in?" ng-model="country" on-select="onCountry"
                            required></country-selector>
          <div ng-if="personalForm.country.$invalid && (personalForm.$submitted || personalForm.country.$touched)"
               ng-messages="personalForm.country.$error">
            <div class="help-block" ng-message="required">
              Please select a country!
            </div>
            <div class="help-block" ng-message="country">
              Please select a valid country!
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group"
             ng-class="{'has-error': personalForm.state.$invalid && (personalForm.$submitted || personalForm.state.$touched)}">
          <state-selector placeholder="What state do you live in?" ng-model="state"
                          on-select="onState" country-id="user.country_id" required></state-selector>
          <div ng-if="personalForm.state.$invalid && (personalForm.$submitted || personalForm.state.$touched)"
               ng-messages="personalForm.state.$error">
            <div class="help-block" ng-message="required">
              Please select a state!
            </div>
            <div class="help-block" ng-message="state">
              Please select a valid state!
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group"
             ng-class="{'has-error': personalForm.nationality.$invalid && (personalForm.$submitted || personalForm.nationality.$touched)}">
          <nationality-selector placeholder="What is your nationality?" ng-model="nationality"
                                on-select="onNationality"></nationality-selector>
          <div
            ng-if="personalForm.nationality.$invalid && (personalForm.$submitted || personalForm.nationality.$touched)"
            ng-messages="personalForm.nationality.$error">
            <div class="help-block" ng-message="required">
              Please select a nationality!
            </div>
            <div class="help-block" ng-message="nationality">
              Please select a valid nationality!
            </div>
          </div>
        </div>
      </div>

      <div class="row margin-t20">
        <div class="col-xs-12 text-center">
          <a class="btn btn-back margin-lr20"></a>
          <button type="submit" class="btn btn-next margin-lr20">
          </button>
        </div>
      </div>

    </div>
  </div>
  <div>

  </div>
</form>