<div class="signup form-container col-md-8 col-md-offset-2">

    <div class="row">
        <div class="form-group">
            <input type="text" ng-model="form.skills" required class="form-control" id="skills"
                   placeholder="Skills">
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <input type="text" ng-model="form.interests" required class="form-control" id="interests"
                   placeholder="Interests">
        </div>
    </div>

</div>

<div>
    <div class="form-group row btn-form-container">
        <div class="col-xs-12 text-center">
            <a class="btn btn-form">
                <!--ui-sref=""-->
                SUBMIT </span>
            </a>
        </div>
    </div>
</div>