<form id="education-form" name="educationForm" ng-submit="validateEducation(educationForm.$valid)" novalidate>
	<div class="signup form-container col-md-8 col-md-offset-2">
	    <div class="signup form-box-cont">
	    <div class="row">
	        <div class="form-group">
	            <input name="school" type="text" ng-model="school" required class="form-control" id="school"
	                   placeholder="School" typeahead="school as school.name for school in schools | filter:$viewValue | limitTo:6" required class="form-control" typeahead-on-select="onSchool($item)">
			        <div ng-if="eSubmitted" ng-messages="educationForm.school.$error">
				        <div class="control-group.error p" ng-message="required">
					        Please select a school
				        </div>
			        </div>
	        </div>
	    </div>

	    <div class="row">
	        <div class="form-group">
	            <input type="text" ng-model="schoolCountry"  class="form-control" id="schoolCountry" placeholder="School Country"
	                   typeahead="country as country.name for country in countries | filter:$viewValue | limitTo:6" required class="form-control" typeahead-on-select="onSchoolCountry($item)">
	        </div>
	    </div>

	    <div class="row">
	        <div class="form-group">
	            <input type="text" ng-model="schoolState"  class="form-control" id="schoolState" placeholder="School State"
	                   typeahead="state as state.name for state in states | filter:$viewValue | limitTo:6" required class="form-control" typeahead-on-select="onSchoolState($item)">
	        </div>
	    </div>


	    <div class="row">
	        <div class="form-group">
	            <input name="major" type="text" ng-model="major" required class="form-control" id="major" placeholder="Major"
	                   typeahead="major as major.name for major in majors | filter:$viewValue | limitTo:6" required class="form-control" typeahead-on-select="onMajor($item)">
			        <div ng-if="eSubmitted" ng-messages="educationForm.major.$error">
				        <div class="control-group.error p" ng-message="required">
					        Please select a major
				        </div>
			        </div>
	        </div>
	    </div>

	    <div class="row">
	        <div class="form-group">
	            <input name="degree" type="text" ng-model="degree" required class="form-control" id="degree" placeholder="Degree"
	                   typeahead="degree as degree.name for degree in degrees | filter:$viewValue | limitTo:6" required class="form-control" typeahead-on-select="onDegree($item)">
			        <div ng-if="eSubmitted" ng-messages="educationForm.degree.$error">
				        <div class="control-group.error p" ng-message="required">
					        Please select a degree
				        </div>
			        </div>
	        </div>
	    </div>

		  <div class="row">
			  <div class="form-group">
		      <input type="text" ng-model="education.description" class="form-control" id="educationDescription" placeholder="Description"
		             class="form-control">
			  </div>
		  </div>

		    <div class="row text-center">
					<simpledatepicker no-day="true" date="education.start_date"></simpledatepicker>
			    <div ng-if="eSubmitted && !education.start_date" >
				    <div class="control-group.error p">
					    Please select a birth date!
				    </div>
			    </div>
			    <simpledatepicker no-day="true" date="education.end_date"></simpledatepicker>
			    <div ng-if="eSubmitted && !education.start_date" >
				    <div class="control-group.error p">
					    Please select a birth date!
				    </div>
			    </div>
		    </div>
	</div>
	</div>

	<div>
	    <div class="form-group row btn-form-container">
	        <div class="col-xs-12 text-center">
	            <button type="submit" class="btn btn-form">
	                NEXT </span>
	            </button>
	        </div>
	    </div>

	</div>
</form>