<form id="personal-form" name="personalForm" ng-submit="validatePersonal(personalForm.$valid)" novalidate>
    <div class="signup form-container col-md-8 col-md-offset-2">
        <div class="signup form-box-cont">
        <div class="row">
            <div class="form-group">
                <input type="text" ng-model="user.tag" class="form-control" id="tag" placeholder="Tag">
            </div>
        </div>

        <div class="row text-center">
            <div class="form-group" ng-class="{'has-error': !user.birth && personalForm.$submitted}">
              <simpledatepicker ng-model="user.birth" is-date></simpledatepicker>
                <div ng-if="personalForm.$submitted && !user.birth" >
                    <div class="help-block">
                        Please select a birth date!
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="form-group" ng-class="{'has-error': !user.gender && personalForm.$submitted}">
                <div class="btn-group" dropdown>
                    <button type="button" class="btn btn-primary-120 dropdown-toggle" dropdown-toggle>
                        {{userGender}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu gender-dropdown dropdown-menu-gender" role="menu">
                        <li ng-repeat="gender in genders">
                            <a ng-click="onGender(gender)">{{gender}}</a>
                        </li>
                    </ul>
                </div>
                <div ng-if="personalForm.$submitted && !user.gender">
                    <div class="help-block">
                        Please select gender!
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group" ng-class="{'has-error': personalForm.country.$invalid && (personalForm.$submitted || personalForm.country.$touched)}">
                    <country-selector placeholder="Country" ng-model="country" on-select="onCountry" required></country-selector>
                    <div ng-if="personalForm.country.$invalid && (personalForm.$submitted || personalForm.country.$touched)" ng-messages="personalForm.country.$error">
                        <div class="help-block" ng-message="required">
                            Please select a country!
                        </div>
                        <div class="help-block" ng-message="country">
                            Please select a valid country!
                        </div>
                    </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group" ng-class="{'has-error': personalForm.state.$invalid && (personalForm.$submitted || personalForm.state.$touched)}">
                <state-selector placeholder="State" ng-model="state" on-select="onState" country-id="user.country_id" required></state-selector>
                <div ng-if="personalForm.state.$invalid && (personalForm.$submitted || personalForm.state.$touched)" ng-messages="personalForm.state.$error">
                    <div class="help-block" ng-message="required">
                        Please select a state!
                    </div>
                    <div class="help-block" ng-message="state">
                        Please select a valid state!
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group" ng-class="{'has-error': personalForm.nationality.$invalid && (personalForm.$submitted || personalForm.nationality.$touched)}">
                <nationality-selector placeholder="Nationality" ng-model="nationality" on-select="onNationality"></nationality-selector>
                <div ng-if="personalForm.nationality.$invalid && (personalForm.$submitted || personalForm.nationality.$touched)" ng-messages="personalForm.nationality.$error">
                    <div class="help-block" ng-message="required">
                        Please select a nationality!
                    </div>
                    <div class="help-block" ng-message="nationality">
                        Please select a valid nationality!
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div>
        <div class="form-group row">
            <div class="col-xs-12 text-center">
                <button type="submit" class="btn btn-form">
                    NEXT </span>
                </button>
            </div>
        </div>

    </div>
</form>