<form id="personal-form" name="lookingForm" novalidate>
  <div class="signup form-container col-md-8 col-md-offset-2">

    <p> Donec aliquet molestie urna, accumsan commodo diam vulputate dapibus. Ut tempor velit diam, et sagittis enim
      interdum sed.</p>

    <div class="control-group has-error" ng-messages="serverErrors">
      <alert ng-repeat="error in serverErrors.reasons" type="danger" close="alert.close()">
        <strong>Something went wrong!</strong> {{ error }}
      </alert>
    </div>

    <div class="signup form-box-cont min-height-150">

      <div class="row">
        <div class="form-group">
          <tags-input tags="skillsTags" placeholder="What skills you are looking for?"
                      info="selectedSkills" signup></tags-input>
        </div>
      </div>

      <div class="row margin-t15">
        <div class="form-group">
          <tags-input tags="interestsTags" placeholder="What interests you are looking for?"
                      info="selectedInterests" signup></tags-input>
        </div>
      </div>
    </div>

    <div class="row margin-t20">
      <div class="form-group row btn-form-container">

        <div class="col-xs-12 text-center">
          <a ng-click="backToCompany()" class="btn btn-back margin-lr20"></a>

          <a ng-click="validateAndCreate(lookingForm.$valid)" type="submit" class="btn btn-next margin-lr20">
          </a>
        </div>
      </div>
    </div>
  </div>
</form>