<form id="personal-form" name="personalForm" ng-submit="validatePersonal(personalForm.$valid)" novalidate>
	<div class="signup form-container col-md-8 col-md-offset-2">
	    <div class="signup form-box-cont">
	    <div class="row">
	        <div class="form-group">
		        <input name="company" type="text" ng-model="company" required class="form-control" id="company"
		               placeholder="Company Name" typeahead="company as company.name for company in companies | filter:$viewValue | limitTo:6" required class="form-control" typeahead-on-select="onCompany($item)">
	        </div>
	    </div>

	    <div class="row">
	        <div class="form-group">
	            <input type="text" ng-model="form.industry" required class="form-control" id="industry"
	                   placeholder="Industry">
	        </div>
	    </div>

	    <div class="row">
	        <div class="form-group">
	            <input type="text" ng-model="form.location" required class="form-control" id="location"
	                   placeholder="Offices Location">
	        </div>
	    </div>
	</div>
	</div>
	<div>
	    <div class="form-group row btn-form-container">
	        <div class="col-xs-12 text-center">
	            <a ui-sref="main.signup.career" class="btn btn-form">
	                NEXT </span>
	            </a>
	        </div>
	    </div>

	</div>
</form>