<form id="personal-form" name="personalForm" ng-submit="validatePersonal(personalForm.$valid)" novalidate>
	<div class="signup form-container col-md-8 col-md-offset-2">
	    <div class="signup form-box-cont">
	    <div class="row">
	        <div class="form-group">
	            <input type="text" ng-model="user.tag" class="form-control" id="tag" placeholder="Tag">
	        </div>
	    </div>

	    <div class="row text-center">
		    <simpledatepicker date="user.birth"></simpledatepicker>
		    <div ng-if="pSubmitted && !user.birth" >
			    <div class="form-error">
				    Please select a birth date!
			    </div>
		    </div>
	    </div>

	    <div class="row margin-t15">
	        <div class="form-group">
	            <input name="country" type="text" ng-model="country" typeahead="country as country.name for country in countries | filter:$viewValue | limitTo:6"  required class="form-control" id="country" typeahead-on-select="onCountry($item)"
	                   placeholder="Country" required>
			        <div ng-if="pSubmitted" ng-messages="personalForm.country.$error">
				        <div class="control-group.error p" ng-message="required">
					        Please select a country!
				        </div>
			        </div>
	        </div>
	    </div>

	    <div class="row">
	        <div class="form-group">
	            <input name="state" type="text" ng-model="state" typeahead="state as state.name for state in states | filter:$viewValue | limitTo:6" required class="form-control" id="state" typeahead-on-select="onState($item)"
	                   placeholder="State" required>
		        <div ng-if="pSubmitted" ng-messages="personalForm.state.$error">
			        <div class="control-group.error p" ng-message="required">
				        Please select a state!
			        </div>
		        </div>
	        </div>
	    </div>

	    <div class="row">
	        <div class="form-group ">
	            <input name="nationality" type="text" ng-model="nationality" typeahead="nationality as nationality.name for nationality in nationalities | filter:$viewValue | limitTo:6" required class="form-control" id="nationality" typeahead-on-select="onNationality($item)"
	                   placeholder="Nationality" required>
		        <div ng-if="pSubmitted" ng-messages="personalForm.nationality.$error">
			        <div class="control-group.error p" ng-message="required">
				        Please select a nationality!
			        </div>
		        </div>
	        </div>
	    </div>
	</div>
	</div>
	<div>
	    <div class="form-group row">
	        <div class="col-xs-12 text-center">
	            <button type="submit" class="btn btn-form">
	                NEXT </span>
	            </button>
	        </div>
	    </div>

	</div>
</form>