<div class="signup form-container col-md-8 col-md-offset-2">
    <div class="signup form-box-cont">
    <div class="row">
        <div class="form-group">
            <tags-input tags="skillstags" placeholder="Add your skills..." info="skillsTags"></tags-input>
        </div>
    </div>
</div>
</div>
<div>
    <div class="form-group row btn-form-container">
        <div class="col-xs-12 text-center">
            <a class="btn btn-form" ui-sref="main.profile" ng-click="createUser()">
                SUBMIT </span>
            </a>
        </div>
    </div>

</div>