
$primary-white: #ffffff;
$primary-green: #c9e3d8;
$primary-blue: #486799;
$primary-dark-blue: #2D456A;
$primary-black-blue: #0b1f37;
$primary-light-blue: #9CDCF8;
$primary-orange: #f7942d;
$primary-pink: #fcddd6;
$primary-violet: #c9d3e7;
$primary-turquoise: #3db9e9;
$primary-dark-turquoise: #44A1D7;
$primary-gray: #e5e5e4;
$primary-pastel-green: #D9F0F6;

/* Hovers */
$primary-turquoise-hover: #00aadf;


$secondary-blue: #4262ad;
$secondary-gray-blue: #8bb0ce;
$secondary-gray-green: #a6cbc7;
$secondary-pastel-green: #b3c89a;
$secondary-pastel-yellow: #fbe899;
$secondary-brick-orange: #e09c6e;
$secondary-brick-red: #d16565;
$secondary-lila: #c7c4e2;

$secondary-gray: #88868b;

$secondary-linkedin: #2672ae;

/* Grays */
$text-title: #28282e;
$text-bold: #505050;
$text-regular: #808284;
$text-inputs: #505050;

$text-placeholder: #aaa;

$border-gray: #dddddd;
$border-gray-focus: #aaa;
$bg-gray: #F7f5f4;
$bg-gray-dark: #e5e5e4;

$border-blue: #2F4699;

$footer-bg: #28282e;




