@import "mixins";

/* Paddings */

.padding-zero {
  padding: 0;
}

.padding-tb-20 {
  padding: 20px 0px;
}

.padding-tb-10{
  padding: 10px 0px;
}

/* Margins */

.margin-zero {
  margin: 0 !important;
}

.margin-t10 {
  margin-top: 10px;
}

.margin-t15 {
  margin-top: 15px;
}

.margin-t25 {
  margin-top: 25px;
}

.margin-r5 {
  margin-right: 5px;
}

/* Align */

.align-right {
  float: right;
}

.align {
  position: relative;
  .child {
    position:absolute;
    margin: auto;
    &.align-left{
      left: 0;
    }
    &.align-bottom{
      bottom:0;
    }
  }
}

.center-align {
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
}

.align-vertical {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.vertical-align-wr {
  width: 100%;
  height: 100%;
  display: table;
}

.vertical-align-tb {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/* Logos */

.logo-form {
  background: url(logos/logotype-white.svg) no-repeat center center;
  width: 250px;
  height: 50px;
  margin: 0 auto;
}

.imago {
  background: url('logos/imagotype-white.svg') no-repeat center center;
  background-size: 25px;
}

.max-height{
  height: 100%;
}

.max-width{
  width: 100%;
}

/* Buttons */

button:focus { outline:0 !important; }


.form-btn {
  width: 100%;
  background-color: $primary-blue;
  color: $primary-white;
  font-size: 16px;
  font-family: "Lato-Regular";
  border: 1px solid $primary-blue;
  border-radius: 4px !important;
  padding: 10px 30px;
  &:hover,
  &:focus,
  &:active {
    background-color: $primary-blue-hover;
    border-color: $primary-blue-hover;
    color: $primary-white;
  }
}

.btn-edit {
  width: 70px;
  padding: 5px 0px;
  background: none;
  color: #3f7ec1;
  font: 12px Lato-Regular, Georgia, serif;
  border: 1px solid #3f7ec1;
  border-radius: 3px !important;
  outline: none !important;

  &:hover, &:active{
    color: $primary-white;
    background: #3569a2;
    border: 1px solid #3569a2;
  }

  &.btn-active {
    color: $primary-white;
    background: #3569a2;
  }
}


/* Titles */

.g-title {
  @include font-style(Montserrat-Regular, 22px, $primary-regular-blue);
  letter-spacing: 2px;
}

.g-subtitle {
  @include font-style(Montserrat-Light, 18px, $primary-regular-blue);
  letter-spacing: 1.5px;
}

/* Errors */

.o-error {
  color: $primary-white;
  margin: 5px 0;
  padding: 10px 15px;
  background: rgba(0,0,0,0.33);;
}

/*==========================> Responsive Design <=========================*/

/* Tablets (portrait) */
@media only screen and (min-device-width: 768px) {
  .g-title {
    font-size: 26px;
  }
  .g-subtitle {
    font-size: 22px;
  }
}

/*==========================> End Responsive Design <=========================*/
