@import "mixins";

/* Paddings */

.padding-zero {
  padding: 0;
}

.padding-tb-20 {
  padding: 20px 0px;
}

.padding-tb-10{
  padding: 10px 0px;
}

/* Margins */

.margin-zero {
  margin: 0 !important;
}

.margin-lr10 {
  margin: 0px 10px;
}

.margin-t15 {
  margin-top: 15px;
}

/* Align */

.align-right {
  float: right;
}

.align-bottom {
  position: relative;
  .child {
    position:absolute;
    bottom:0;
    left: 0;
  }
}

.vertical-align {
  @include vertical-align();
}

/* Buttons */

button:focus { outline:0 !important; }
