@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin font-style($family, $size, $color) {
  font-family: $family, "Times New Roman", Georgia, serif;
  font-size: $size;
  color: $color;
}


