<div class="comm-container">
  <div class="video-container col-md-5" ng-class="">
    <div class="videos">
      <!--<div class="video-output" id="videoOut"></div>-->
      <!--<div class="video-input" id="videoIn"></div>-->
    </div>
    <div class="footer">
      <button class="btn video" ng-click="toggleVideo()"></button>
      <button class="btn mic" ng-click="toggleMute()"></button>
      <button class="btn phone" ng-click="call()"></button>
    </div>
  </div>

  <div class="chat-container col-md-7" ng-class="">
    <div id="display" class="display"></div>

    <form class="form-inline" ng-submit="sendMessage()" novalidate>
      <div class="form-group input-container">
        <input ng-model="message" placeholder="Type a message" class="form-control" autocomplete="off" type="text" name="chatInput">
      </div>
      <!--<button ng-click="sendMessage()" type="submit" class="btn btn-default" type="button">Send</button>-->
    </form>

  </div>
</div>