@import "directives/search-card";
@import "base/colors";
/* Search bar */

$tl: 0.4s; // transition length


.navbar {
  margin-bottom: 0px !important;
}

.navbar-default {
  background-color: $primary-blue !important;
  border-color: $primary-blue !important;;
}

.navbar-default .navbar-brand {
  color: $primary-white !important;
}

.navbar-default .navbar-nav > li > a {
  color: $primary-white !important;
  &:hover {
    color: $primary-turquoise-hover;
  }
}

.search-container{ margin-top: 5px; float: right; margin-left: 40px}

.search-box {
  transition: width $tl, border-radius $tl, background $tl, box-shadow $tl;
  width: 180px;
  height: 40px;
  border-radius: 20px;
  border: none;
  border: 1px solid $border-gray !important;
  background: $primary-white;
  font: 15px Lato-Regular !important;
  cursor: pointer;
  padding-left: 35px;
  & + label .search-icon {
    color: $secondary-gray;
  }
  &:hover {
    border: 1px solid $border-gray-focus !important;
  }
  &:focus{
    transition: width $tl, border-radius $tl, background $tl;
    box-shadow: none;
    cursor: text;
    width: 300px;
    border-radius: auto;
    border: 1px solid $border-gray-focus !important; outline: none;
    background: $primary-white;
    color: black;
    &:not(:focus) { } // for more-graceful falling back (:not browsers likely support indent)
  }
}

#search-submit {
  position: relative; left: -5000px;
}

.search-icon {
  position: relative;
  left: 30px;
  top: 3px;
  color: $secondary-gray;
  cursor: pointer;
}

.remove-icon{
  position: relative;
  left: -40px;
  top: 3px;
  color: $secondary-gray;
  cursor: pointer;
  z-index: 99;
  padding: 10px;
}
