@import "directives/search-card";
@import "base/colors";
/* Search bar */

$tl: 0.4s; // transition length

.search-container{ margin-top: 4px;}

.search-box {
  transition: width $tl, border-radius $tl, background $tl, box-shadow $tl;
  width: 180px;
  height: 40px;
  border-radius: 20px;
  border: none;
  border: 1px solid $secondary-gray !important;
  background: $primary-white;
  font: 15px Lato-Regular !important;
  cursor: pointer;
  padding-left: 35px;
  & + label .search-icon {
    color: $secondary-gray;
  }
  &:hover {
    border: 1px solid $secondary-gray !important;
  }
}

.search-box.focus{
    transition: width $tl, border-radius $tl, background $tl;
    box-shadow: none;
    cursor: text;
    width: 300px;
    border-radius: auto;
    border: 1px solid $primary-turquoise-hover !important; outline: none;
    background: $primary-white;
    color: black;
    &:not(:focus) { } // for more-graceful falling back (:not browsers likely support indent)
}

#search-submit {
  position: relative; left: -5000px;
}

.search-icon {
  position: relative;
  left: 30px;
  top: 3px;
  color: $secondary-gray;
  cursor: pointer;
}

.remove-icon{
  position: relative;
  left: -40px;
  top: 3px;
  color: $secondary-gray;
  cursor: pointer;
  z-index: 99;
  padding: 10px;
}
