@import "directives/search-card";
/* Search bar */

$tl: 0.6s; // transition length

.search-container{
  float: right; margin-top: 4px;
}

.search-box {
  transition: width $tl, border-radius $tl, background $tl, box-shadow $tl;
  width: 40px; height: 40px;
  border-radius: 20px; border: none !important;
  cursor: pointer;
  background: rgb(235, 235, 235);
  & + label .search-icon {    color: $footer-bg; margin-bottom: 0px; margin-top: 4px; }
  &:hover {
    color: white;
    border: none !important;
    box-shadow: 0 0 0 5px rgb(200, 200, 200) !important;
    & + label .search-icon { color: $primary-turquoise }
  }
  &:focus {
    transition: width $tl cubic-bezier(0,1.22,.66,1.39), border-radius $tl, background $tl;
    border: none !important;outline: none !important;
    box-shadow: none !important;
    padding-left: 15px;
    cursor: text;
    width: 300px;
    border-radius: auto;
    background: rgb(235, 235, 235);
    color: $text-inputs;
    & + label .search-icon {    color: $footer-bg;    }
  }
  &:not(:focus) {    text-indent:-5000px;    } // for more-graceful falling back (:not browsers likely support indent)
}

#search-submit {
  position: relative; left: -5000px;
}

.search-icon {
  position: relative; left: -30px; color: white; cursor: pointer;
}
