@import "base/colors";

.settings-wrapper {

  margin-top: 70px;
  border-left: 1px solid $primary-gray;
  padding-bottom: 20px;

  label {
    font-weight: normal;
    color: $text-inputs;
  }

  .settings-header {
    border-bottom: 2px solid $primary-blue;
    width: 90%;
    margin: 0 auto;    
  }
}

.title-wrapper {
  h3 {
    text-transform: capitalize;
  }
}

.line-wrapper {
  margin: 5px 0;

  .edit-button-settings {
    background: url(pencil.svg) no-repeat;
    background-size: 17px;
    width: 17px;
    height: 17px;
    cursor: pointer;
    visibility: hidden;
    float: right;
    margin-right: 10%;

    &:hover {
      background: url(pencil-hover.svg) no-repeat;
      background-size: 17px;
    }
  }

  .input-wrapper {
    text-transform: capitalize;
  }

  .input-wrapper-headline {
    text-transform: none;
  }

  &:hover .edit-button-settings{
    visibility: visible;
  }
}

.line-separator {
  border-top: 1px solid $primary-gray;
  width: 96%;
  margin: 0 auto 5px;
}
.line-separator.primary {
  border-color: $primary-blue;
}

.label-edit-wrapper {
  label {
    margin: 5%;
    font-size: 18px;
  }
}

.no-padding-left {
  padding-left: 0px;
}

.box-edit-wrapper {

  background-color: $bg-gray;

  option, select {
    text-transform: capitalize; 
  }

  .inputs-edit-wrapper {
    margin: 1% 0;

    .inputs-top {
      margin-top: 2%;
    }

    .inputs-bottom {
      margin-bottom: 2%;
    }

    .buttons-wrapper {
      margin: 2% 0;
    }

    input {
      width: 100%;
    }

    .birthday select {
      width: inherit;
    }
  }
}