@import "base/colors";

.settings-wrapper {

  margin-top: 70px;
  border-left: 1px solid $primary-blue;
  padding-bottom: 20px;

  label {
    font-weight: normal;
    color: $text-inputs;
  }

  .settings-header {
    border-bottom: 2px solid $primary-blue;
    width: 90%;
    margin: 0 auto;    
  }
}

.title-wrapper {
  h3 {
    text-transform: capitalize;
  }
}

.line-wrapper {
  margin: 5px 0;

  .edit-button-settings {
    background: url(pencil.svg) no-repeat;
    background-size: 17px;
    width: 17px;
    height: 17px;
    cursor: pointer;
    visibility: hidden;
    float: right;
    margin-right: 10%;

    &:hover {
      background: url(pencil-hover.svg) no-repeat;
      background-size: 17px;
    }
  }

  .input-wrapper {
    text-transform: capitalize;
  }

  &:hover .edit-button-settings{
    visibility: visible;
  }
}

.line-separator {
  border-top: 1px solid $primary-blue;
  width: 96%;
  margin: 0 auto 5px;
}

.label-edit-wrapper {
  label {
    margin: 10%;
    font-size: 18px;
  }
}

.box-edit-wrapper {

  background-color: $bg-gray;

  option, select {
    text-transform: capitalize; 
  }

  .inputs-edit-wrapper {
    .input-line {
      margin: 1% 0;
      label {
        width: 15%;
        text-align: right;
      }
      input {
        width: 40%;
      }
    }

    .buttons-line {
      margin: 1% 0% 1% 10%;
    }

    .select-line {
      margin: 1% 0% 1% 10%;
      select{
        width: 100%;
      }
    }
    .single-select-line {
      margin: 1% 0% 1% 10%;
    }
  }
}