.privacy-terms-body {
  margin-top: 50px;
  font-family: Lato-Regular;

  .privacy-terms-title {    
    h1 {
      font: 30px Montserrat-Regular;
      color: $primary-blue;
      text-transform: uppercase;
    }
  }

  .privacy-terms-wrapper {
    .bold {
      font-weight: bold;
    }

    .blue {
      color: $primary-blue;
    }

    .privacy-terms-sub-title {
      color: $primary-blue;
      font-family: Montserrat-Light;
      
      h2 {
        font-size: 20px;
      }
    }

    .text-section {
      margin: 15px 0px;
    }
  }

}