
$primary-white: #ffffff;
$primary-green: #c9e3d8;
$primary-blue: #486799;
$primary-lightblue: #c8e3eb;
$primary-pink: #fcddd6;
$primary-violet: #c9d3e7;

$secondary-blue: #4262ad;
$secondary-gray-blue: #8bb0ce;
$secondary-gray-green: #a6cbc7;
$secondary-pastel-green: #b3c89a;
$secondary-pastel-yellow: #fbe899;
$secondary-brick-orange: #e09c6e;
$secondary-brick-red: #d16565;
$secondary-lila: #c7c4e2;

$text-dark: #191b29;
$text-dark-gray: #808284;
$text-light-gray: #a7a9ab;

$border-blue: #2F4699;
$border-gray: #d8d8d8;

$bg-gray: #f4f4f4;
