/* COVER PHOTO */
.coverBorder.coverBorderEmployer {
  height: 361px;
}
.employerDefaultCoverPhoto {
  background: url('default-cover-photo.png') center center no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: block;
  width: 100%;
  height: 360px;
  position: relative;
}

.employerCoverImageEdit.wrapper {
  float: right;
  bottom: 0;
  right: 0;
  position: relative;
  margin: -65px 5px 0px 0px;
}

.employerCoverImageEdit.img {
  width: 45px;
  height: 40px;
  background: url('ic-photo.svg') center center no-repeat;
  background-size: 45px 40px;
  margin: 10px 15px;
  cursor: pointer;
}

.employerCoverImageEdit.img:hover {
  background: url('ic-photo-hover.svg') center center no-repeat;
  background-size: 45px 40px;
}

.companyImage.wrapper {
  z-index: 99;
  overflow: hidden;
  border-radius: 150px;
  width: 227px;
  height: 227px;
  position: relative;
  margin: -34% auto;
}

.companyDefaultPhoto {
  background-color: white;
  background-size: 272px 272px;
  background-position: -8px -6px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: auto;
  border: 6px solid #ececec;
}

.companyDefaultPhoto h2 {
  font-family: Montserrat-Regular;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  color: #374776;
  margin: 43% auto;
  width: 185px;
}

.companyImageEdit.wrapper {
  width: 100%;
  text-align: center;
  position: relative;
  margin: -50px auto;
  z-index: 100;
}

.companyImageEdit.img {
  width: 25%;
  margin: 0 auto;
  height: 40px;
  background: url('ic-photo.svg') center center no-repeat;
  background-size: 35px 40px;
  cursor: pointer;
}

.companyImageEdit.img:hover {
  background: url('ic-photo-hover.svg') center center no-repeat;
  background-size: 35px 40px;
}

.companyNameWrapper {
  color: white;
  position: relative;
  width: 40%;
  text-align: center;
  margin: 32% auto 0px;
}

.companyNameWrapper h1 {
  font-family: Montserrat-Regular;
  font-size: 40px;
  text-transform: uppercase;
}


/*-------------------*/

.employerProfileContent{
  width: 100%;
  display: inline-block;
}

.employerProfileLeftContent.cont{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.employerProfileLeftContent .section{
  overflow: auto;
  display: inline-block;
  width: 100%;
  background-color: #FFFFFF;
  margin-top: 20px;
  border-radius: 3px;
  border: 1px solid #d8d8d8;
  border-bottom-width: 2px;
  padding: 20px 20px 25px 20px;
}

.employerProfileLeftContent .section.employer-info-wrapper {
  padding: 60px 20px 25px 20px;
}

.employerProfileLeftContent .section.company-wrapper{
  background-color: #00a5e4;
}

/* Employer profile image */
.employerProfilePhotoWrapper {
  position: absolute;
  top: -55px;
  left: 30%;
  padding: 0;   
}

.employerBasicInfoWrapper {
  font-family: Montserrat-Regular;
  text-align: center;
}

.employerNameWrapper {
  margin: 35px 0px 0px 0px;
  font-size: 2em;
  
}

.employerTagWrapper {
  font-size: 18px;
}

.employerPositionWrapper {
  font-size: 17px;
  text-transform: uppercase;
}

.employerDefaultProfileImage.img {
  background-image: url(default-profile-photo.png);
  background-size: 108%;
  background-position: -6px -4px;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  border: 1px solid #ececec;
  margin: 0 auto;
}

.employerProfileImageEdit.wrapper {
  width: 30%;
  position: relative;
  z-index: 100;
  margin: -41px 0 0 55px;
}

.employerProfileImageEdit.img {
  width: 100%;
  margin: 0 auto;
  height: 40px;
  background: url('ic-photo.svg') center center no-repeat;
  background-size: 35px 40px;
  cursor: pointer;
}

.employerProfileImageEdit.img:hover {
  background: url('ic-photo-hover.svg') center center no-repeat;
  background-size: 35px 40px;
}

.employerProfileRightContent {
    padding: 0;
}

.profile-right-container {
  background-color: #FFF;
  margin: 20px 0 20px 20px;
  border-radius: 3px;
  border: 1px solid #d8d8d8;
  border-bottom-width: 2px;
}

.profile-right-header.title {
  width: 65%;
}

.profile-right-header.title h3 {
  padding-top: 5px;
  font-size: 18px;
}

.profile-right-header.edit {
  float: right;
  width: 35%;
}

.company-logo-summary {
  background: url(company_logo.svg) no-repeat;
  background-size: 50px;
  width: 50px;
  height: 50px;
  margin-right: 3%;
  float: left;
}

.profile-left-header.title {
  color: white;
  text-align: center;
  width: 100%;
}

.profile-left-header.edit {
  float: right;
  height: 35px;
  width: 35px;
  position: relative;
  top: -60px;
}

.edit-pencil.employer {
  margin: 0 10px 0 0;
}

.profile-left-header {
  width: 100%;
  height: 45px;
}

.employer-left-content-wrapper {
  color: white;
  width: 100%;
  margin: 10px 0px 0px 0px;
  float: left;
}
.img-col.employer {
  float: left;
  width: 10%;
  margin-left: 10%;
}

.form-group.employer-company {
  float: right;
  margin: 6px 0px 0px 10px;
  width: 75%;
}

.edit-buttons-wrapper.edit-company {
  height: 30px;
  width: 100%;
  margin-left: 0px;
  margin-bottom: 2%;
  margin-top: 5%;
}

.edit-company-btn-wrapper {
  width: 25%;
  height: 30px;
  padding-top: 5px;
  margin-left: 5%;
  text-align: center;
  float: left;
  color: white;
  font: 13px Lato-Regular, Georgia, "Times New Roman", Times, serif;
  border: 2px solid white;  
  cursor: pointer;
  text-decoration: none;
}

.edit-company-btn-wrapper:hover {
  color: #374776;
  background-color: white;
  font: 13px Lato-Regular, Georgia, "Times New Roman", Times, serif;
  border: 2px solid #374776;
  text-decoration: none;
}

.edit-company-btn-wrapper:first-child {
  margin-left: 22%;
}

.btn.btn-edit.employer-company input {
  font-family: inherit !important; 
  color: inherit;
  background-color: inherit;
  border: 0px;
}

.profile-left-wrapper {
  width: 100%;
  float: left;
}

/* Edit company directive */
.country-selector-wrapper {
  float: left; 
  width: 90%;
  margin-bottom: 2%;
}

.state-selector-wrapper {
  float: left; 
  width: 90%;
}
.help-block {
  color: #a94442;  
}

.profile-img.company-name{
  background: url('companyname_employer.svg') center center no-repeat;
  background-size: 30px !important;
}

.profile-img.company-industry {
  text-transform: inherit;
  background: url('companyindustry_employer.svg') center center no-repeat;
  background-size: 30px !important;
}

.profile-img.company-specialties {
  text-transform: inherit;
  background: url('specialties_employer.svg') center center no-repeat;
  background-size: 30px !important;
}

.profile-img.company-type {
  text-transform: inherit;
  background: url('type_employer.svg') center center no-repeat;
  background-size: 30px !important;
}

.profile-img.company-location {
  text-transform: inherit;
  background: url('headquarters_employer.svg') center center no-repeat;
  background-size: 30px !important;
}

.profile-img.company-url {
  text-transform: inherit;
  background: url('website_employer.svg') center center no-repeat;
  background-size: 30px !important;
}

.company-info-header {
  height: 60px;
  margin-top: 25px;
}

.separator-employer-company {
  border-top: 1px solid #4262ad;
  width: 80%;
}

.company-info-content {
  margin-bottom: 5%;
}

.company-info-row {
  margin-bottom: 2%;
}

.input-company-url {
  width: 90%;
}

.company-header-title span {
  font-size: 25px;
  text-transform: uppercase;
  margin-left: 20%;
}

.cont-col.employer-company {
  margin-top: 3%;
}