@import "colors";
/* General */

h3 {
  font: 20px Montserrat-Regular, Georgia, "Times New Roman", Times, serif;
  color: #122028;
  text-transform: uppercase;
  margin: 0px !important;
  display: inline-block;
  float: left;
  line-height: 40px;
}

/* Spinner */
.spinner {
  width: 50px;
  height: 30px;
  font-size: 10px;
  position: relative;
  margin-top: 182px;
}

.spinner.small {
  margin-top: 60px;
}

.spinner > div {
  background-color: #374776;
  border-color: #374776;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.spinner-profile {
  position: relative;
  margin-top: -55%;
}

/* END SPINNER */

/** Profile **/

.profile.background {
  width: 100%;
  display: inline-block;
  background-color: $bg-gray;
}

.profile.wrapper {
  height: 100%;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

#profileTopSection {
  height: 425px;
}

#profileCover.coverWrap {
  display: block;
  position: relative;
  height: 365px;
  overflow: hidden;
  text-decoration: none;
}

.spinner-container {
  position:relative;
  text-align: center;
  display: inline-block;
  z-index: 10;
}

/** IMAGE PICKER **/

.image-picker.wrapper{
  height: 100%;
  width: 100%;
  overflow: hidden;
  text-align: center;
  z-index: 99;
  border-radius: 50%;  
}

.image-picker.default-image {
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px !important;
}

.edit-buttons-wrapper {
  float: right;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.delete-buttons-wrapper{
  float: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.image-picker.upload-btn-wrapper-left {
  position: relative;
  z-index: 5;
}

.image-picker.upload-btn-right {
  width: 60px;
  height: 55px;
  background: url('camera.svg') center center no-repeat;
  background-size: 45px 40px;
  cursor: pointer;
  position: relative;
  float: right;
  margin: -34% 1% 0 0;
}

.image-picker.upload-btn-right:hover {
  background: url('camera-hover.svg') center center no-repeat;
  background-size: 45px 40px;
}

.image-picker.upload-btn-wrapper-center {
  position: relative;
  text-align: center;
  z-index: 5;
}

.image-picker.upload-btn-center {
  height: 45px;
  width: 45px;
  margin: 0 auto;
  background: url('camera.svg') center center no-repeat;
  background-size: 45px 40px;
  position: relative;
  cursor: pointer;
  top: -55px;
}

.image-picker.upload-btn-center.small {
  height: 55px;
}

.image-picker.upload-btn-center:hover {
  background: url('camera-hover.svg') center center no-repeat;
  background-size: 45px 40px;
}

.image-picker.guillotine-photo {
  width: 100%;
  z-index: 3;
}

.guillotine-content {
  position: absolute; 
  top: 0px; 
  width: 100%;
}

.guillotine-content .frame {
  width: 100%; 
  height: 100%;
}

.image-picker.content{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
}

.image-picker.content-shadow{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0px;
}

.image-picker.content-shadow:after{
  content: '';
  top:0; left:0; right:0; bottom:0;
  position: absolute;
  background: -moz-linear-gradient(bottom,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 46%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,rgba(0,0,0,0.65)), color-stop(46%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 46%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 46%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 46%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(to top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 46%,rgba(0,0,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.image-picker.img {
  width: 100%;
  height: 100%;
}

.image-picker.img-circular {
  height: 100%;
}


.image-picker.edit-btn{
  width: 70px;
  padding: 5px 0px;
  background: rgba(255,255,255,0.7);
  color: #374776;
  font: 13px Lato-Regular, Georgia, "Times New Roman", Times, serif;
  border: 2px solid #374776;
  border-radius: 5px !important;
}

.image-picker.edit-btn:hover {
  color: #FFF;
  background: rgba(55,71,118,0.9);
  font: 13px Lato-Regular, Georgia, "Times New Roman", Times, serif;
  border: 1px solid #374776;
}

.image-picker.edit-btn.small {
  width: 50px;
  font-size: 10px;
}

.image-picker.edit-btn.small:hover {
  width: 50px;
  font-size: 10px;
}

.image-picker.btn-wrapper-right{
  position: absolute;
  bottom: 15px;
  margin: 0 15px 0 0;
  right: 0;
  z-index: 20;
}

.image-picker.btn-wrapper-center{
  position: relative;
  margin-top: -30%;
  text-align: center;
  z-index: 20;
}

.profile-username-txt{
  font: 32px Montserrat-Regular, Georgia, "Times New Roman", Times, serif;
  color: #FFF;
  bottom: 45px;
  left: 320px;
  position: absolute;
  text-transform: uppercase;
  text-shadow: 0 0 3px rgba(0,0,0,.2);
  z-index: 10;
}

.profile-tag-txt {
  font: 20px Montserrat-Regular, Georgia, "Times New Roman", Times, serif;
  color: #FFF;
  bottom: 20px;
  left: 320px;
  position: absolute;
  text-shadow: 0 0 3px rgba(0,0,0,.2);
  z-index: 10;
}

.coverBorder {
  border-top: none !important;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  height: 365px;
}

/** COVER PHOTO END **/

/** PROFILE PHOTO START **/

.profile-image.border{

}

.profile-image.wrapper {
  box-shadow: 0 0 0 2px $bg-gray;
  border: 4px solid $primary-white;
  margin-top: -200px;
  left: 50px;
  position: absolute;
  z-index: 99;
  overflow: hidden; 
  border-radius: 50%;
  width: 241px;
  height: 241px;
  background: $primary-white;
}

.profileImage.border {
  border-radius: 50%;
  border: 10px solid #FFF;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 111;
}

.profileImage.content {
  width: 100%;
  height: 100%;
  background-color: $primary-white;
}

.profileImage.img {
  height: 100%;
  width: 100%;
  background: url(profile/not_known.svg) no-repeat;
  background-size: 100%;
  position: absolute;
}

.male {
  background-image: url(profile/male.svg) !important;

}

.female {
  background-image: url(profile/female.svg) !important;
}

.profileHeadline.wrapper {
  height: 60px;
  width: 100%;
  background-color: #FFF;
}

.profileImageEdit.wrapper {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 190px;
  z-index: 113;
}

.profileImageEdit.img {
  width: 45px;
  height: 45px;
  margin: 0 auto;
  background: url('ic-photo.svg') center center no-repeat;
  background-size: 45px 40px;
  cursor: pointer;
}

.profileImageEdit.img:hover {
  background: url('ic-photo-hover.svg') center center no-repeat;
  background-size: 45px 40px;
}

.edit-buttons-profile-photo {
  position: absolute;
}

.edit-buttons-profile-photo a{
  background-color: white;
}

.spinner-container-profile {
  position: absolute; 
  top: 150px; 
  left: 115px;
}

.temporaryProfilePhoto{}

.contentGuillotineProfile .frame {
  width: 260px;
  height: 260px;
  border-radius: 50% !important;
}

.contentGuillotineProfile .img {
  background-repeat: no-repeat;
}

.profile-photo {
  position:relative; 
  z-index: 2;
  width: 280px;
  height: 280px;
  left: -10px;
}

.profilePhoto {
  width: 100%;
  height: 100%;
}

/** PROFILE PHOTO END **/

.profile-content {
  width: 100%;
}

.profileLeftContent.cont{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.profileLeftContent.section{
  display: inline-block;
  width: 100%;
  min-width: 285px;
  background-color: $primary-white;
  margin-top: 20px;
  border-radius: 6px;
  border: 1px solid $border-gray;
  padding: 30px 20px 30px 20px;
}

.profileMainContent{
  height: 100%;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.profile-img {
  width: 35px;
  height: 35px;
  background-size: 30px !important;
}

.profile-img.location{
  background: url('profile/candidate/map_marker.svg') center center no-repeat;
}

.profile-img.education{
  background: url('profile/candidate/graduation_hat.svg') center center no-repeat;
}

.profile-img.jobposition{
  background: url('profile/candidate/case.svg') center center no-repeat;
}

.profile-img.company{
  background: url('profile/candidate/portfolio.svg') center center no-repeat;
}

.profile-communication-panel-img{
  width: 50%;
  height: 40px;
  float: left;
  background-size: 40px !important;
}

.profile-communication-panel-img.message{
  background: url('message.svg') center center no-repeat;
  border-right: 1px solid #ececec;
  cursor: pointer;
}

.profile-communication-panel-img.videocam{
  background: url('videocam.svg') center center no-repeat;
  border-left: 1px solid #ececec;
  cursor: pointer;
}

.profile-cont{

}

p {
  margin: 0;
}

.profileLeft {
  width: 100%;
  padding: 10px 0 10px 10px;
  float: left;
}

.horizontal-line{
  min-height: 1px;
  clear:both;
  width:100%;
  text-align: center;
  height:1px;
}

.horizontal-line.blue{
  border-bottom:1px solid $primary-blue;
}

.img-col {
  display: inline-block;
  float: left;
}

.cont-col {
  width: 80%;
  display: inline-block;
  float: left;
  padding-left: 15px;
}

.ph-col {
  height: 35px;
  float: right;
}

.profile-input{
  margin-top: 10px;
  height: 30px !important;
}

.profile-left-cont{
  line-height: 50px;
}

.profile-select{
  display: inline-block;
  line-height: 50px;
}

.editwrapper{
  width: 100%;
  height: 40px;
}

.edit-pencil{
  width: 17px;
  height: 17px;
  background: url(pencil.svg) no-repeat;
  background-size: 17px;
  float: right;
  cursor: pointer;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.edit-pencil:hover{
  background: url(pencil-hover.svg) no-repeat;
  background-size: 17px;
  cursor: pointer;
}

.edit-pencil-hover{
  width: 17px;
  height: 17px;
  float: right;
  background: url(pencil.svg) no-repeat;
  background-size: 17px;
  cursor: pointer;
  visibility: hidden;
  margin-right: -10px;
}

.edit-pencil-hover:hover{
  background: url(pencil-hover.svg) no-repeat;
  background-size: 17px;
  cursor: pointer;
}

.profile-edit-on-hover:hover .edit-pencil-hover{
  visibility: visible;
}

.profileLeft:hover .edit-pencil-hover{
  visibility: visible;
}

.btn-edit {
  width: 70px;
  padding: 5px 0px;
  background: none;
  color: #9197A3;
  font: 12px Lato-Regular, Georgia, serif;
  border: 1px solid $border-gray;
  border-radius: 3px !important;
}

.btn-edit:hover {
  color: #FFF;
  background: $primary-turquoise;
  border: 1px solid $primary-turquoise;
}

.btn-edit:active {
  color: #FFF;
  background: $primary-turquoise-hover;
  border: 1px solid $primary-turquoise-hover;
}

.btn-add{
  width: 25px;
  height: 25px;
  background: url(add.svg) no-repeat;
  background-size: 25px;
  float: right;
  cursor: pointer;
}

.btn-add:hover {
  background: url(add_hover.svg) no-repeat;
  background-size: 25px;
}

.btn-delete{
  width: 35px;
  height: 35px;
  background: url(delete.svg) no-repeat;
  background-size: 30px;
  float: right;
  cursor: pointer;
}

.btn-delete:hover {
  background: url(delete-hover.svg) no-repeat;
  background-size: 30px;
}

.signup-btn {
  margin-right: 40px;
  margin-top: 75px;
}

.profile-right-container{
  background-color: $primary-white;
  margin: 20px 0 20px 20px;
  border-radius: 6px;
  border: 1px solid $border-gray;
  border-bottom-width: 3px;
}

.profile-right-header{
  width: 100%;
  padding: 30px 20px 10px 30px;
  display: inline-block;
}

.profile-right-header-img{
  width: 40px;
  height: 40px;
  margin-right: 20px;
  float: left;
}

.profile-right-header-img.summary{
  background: url(profile/not_known.svg) no-repeat;
  background-size: 40px;
  box-shadow: 0 0 0 2px $bg-gray;
  border-radius: 50%;
}

.profile-right-header-img.skills{
  background: url(profile/candidate/rocket.svg) no-repeat;
  background-size: 40px;
}

.profile-right-header-img.education{
  background: url(profile/candidate/graduation_hat.svg) no-repeat;
  background-size: 40px;
}

.profile-right-header-img.experience{
  background: url(profile/candidate/books.svg) no-repeat;
  background-size: 40px;
}

.profile-right-header-img.interests{
  background: url(profile/candidate/light_bulb.svg) no-repeat;
  background-size: 40px;
}

.profile-right-header-img.languages{
  background: url(profile/candidate/message.svg) no-repeat;
  background-size: 40px;
}

.profile-right-header.title{
  float: left;
  width: 40%;
  padding: 0px;
}

.profile-right-header.edit{
  float: left;
  width: 60%;
  padding: 0px;
}

.profile-header.edit{
  width: 100%;
  padding: 15px 20px;
}

.profile-right-content{
  width: 100%;
  padding: 0px 20px 20px 20px;
}

.profile-right-content.languages{
  width: 100%;
  padding: 0px 20px;
}

.border-container {
  width: 100%;
  padding: 20px 10px 10px 10px;
  border-top: 2px solid $bg-gray-dark;
}

.border-container.skills{
  padding: 20px 10px 0px 10px !important;
  display: inline-block;
}

.border-container.languages {
  width: 100%;
  padding: 10px 10px 30px 10px;
  border-top: none;
}

.profile-add-right-content{
  width: 100%;
  padding: 20px 30px;
  display: inline-block;
  background: $bg-gray-dark;
}

.profile-right-text{
  color: $text-regular;
  font: 15px Lato-Light;
}

textarea{
  color: $text-regular;
  font: 14px Lato-Regular;
  resize: none;
  outline: 0;
}

.form-cont{
  margin-bottom: 5px;
}

.header-title{
  color: $text-bold;
  font: 17px Lato-Regular;
}

.header-subtitle{
  color: $text-regular;
  font: 15px Lato-Regular;
}

.header-light-txt-s{
  color: $text-regular;
  font: 13px Lato-Light;
}

.header-light-txt-m{
  color: $text-regular;
  font: 14px Lato-Light;
}

.header-highlight-title {
  font: 18px Segoe-Print;
  color: $primary-blue;
  text-align: center;
}

.header-highlight-placeholder{
  margin-left: 5px;
  color: $text-placeholder;
  font: 14px Segoe-Print;
  line-height: 35px;
}

.header-highlight-txt{
  color: $primary-blue;
  font: 14px Segoe-Print;
  line-height: 35px;
}

.profile-placeholder-txt{
  font: 15px Lato-Light, Georgia, "Times New Roman", Times, serif;
  color: $text-placeholder;
}

.profile-datepicker-container{
  float: left;
  display: inline-block;
  margin-right: 15px;
}

.profile-datepicker-label {
  display: inline-block;
  color: $text-bold;
  float: left;
  line-height: 25px;
}

.profile-form-animation {
  -webkit-transition:all linear 0.3s;
  transition:all linear 0.3s;
}

.education-animation-div.ng-hide {
  opacity:0;
}

.flag-img {
  width: 30px;
  margin-right: 15px;
}

.inline {
  display: inline-block;
}

.align-vertical {
  display: inherit;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.form-cont-languages{
  height: 50px;
  margin-bottom: 0px;
}

.btn-language-level{
  width: 120px;
  font: 12px Lato-Regular, Georgia, serif !important;
  color: $primary-white !important;
  background: $primary-turquoise;
  border: 1px solid $primary-turquoise;
}

.btn-language-level:hover{
  color: $primary-white;
  background: $primary-turquoise;
  border: 1px solid $primary-turquoise;
}

.btn-language-level:active{
  color: $primary-white;
  background: $primary-turquoise-hover;
  border: 1px solid $primary-turquoise-hover;
}
