/* General */

h3 {
  font: 20px Montserrat-Regular, Georgia, "Times New Roman", Times, serif;
  color: #122028;
  text-transform: uppercase;
  margin: 0px !important;
  display: inline-block;
  float: left;
}


/* Spinner */
.spinner {
  margin: 100px auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
  position: relative;
  margin-top: -18%;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
// END SPINNER <<<<<<<<<<<<


/** profile **/

.profile.background {
  width: 100%;
  display: inline-block;
  background-color: #ececec;
}

.profile.wrapper {
  //  background-color: #fff;
  height: 100%;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

#profileTopSection {
  height: 375px;
}

#profileCover.coverWrap {
  display: block;
  position: relative;
  height: 315px;
  overflow: hidden;
  text-decoration: none;
}

.coverImage {
  background: url('background-pattern-blue.png') center center no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: block;
  height: 315px;
}

.cloudinary.img {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: block;
  width: 948px;
}

.coverBorder {
  border-bottom-color: rgba(0, 0, 0, .4);
  border: 1px solid #000;
  border-color: rgba(0, 0, 0, .25);
  border-top-color: rgba(0, 0, 0, .1);
  bottom: 0;
  left: 0;
  //position: absolute;
  right: 0;
  top: 0;
}

.coverImageEdit.wrapper {
  float: right;
  bottom: 0;
  right: 0;
  position: absolute;
}

.coverImageEdit.img {
  width: 45px;
  height: 40px;
  background: url('camara.svg') center center no-repeat;
  background-size: 45px 40px;
  margin: 10px 15px;
  cursor: pointer;
}

.coverImageEdit.img:hover {
  background: url('camara.svg') center center no-repeat;
  background-size: 40px 35px;
}

.profileImage.wrapper {
  margin-top: -220px;
  left: 30px;
  position: absolute;
  z-index: 99;
}

.profileImage.img {
  background: url(profileimage-default.svg) no-repeat;
  background-size: 270px 270px;
  background-position: 0px 0px;
  height: 270px;
  width: 270px;
  border-radius: 50%;
  margin: auto;
  z-index: 99;
}

.profileHeadline.wrapper {
  height: 60px;
  width: 100%;
  background-color: #3D9ED8;
}

.profileImageEdit.wrapper {
  position: absolute;
  width: 100%;
  z-index: 100;
  margin-top: -50px;
  text-align: center;
}

.profileImageEdit.img {
  width: 50%;
  margin: 0 auto;
  height: 40px;
  background: url('camara.svg') center center no-repeat;
  background-size: 45px 40px;
  //margin: 10px 15px;
  cursor: pointer;
}

.profileImageEdit.img:hover {
  background: url('camara.svg') center center no-repeat;
  background-size: 45px 40px;
}

.profileContent{
  width: 100%;
  display: inline-block;
}

.profileLeftContent{
  height: 100%;
  background-color: #FFFFFF;
  margin-top: 20px;
  border-radius: 3px;
  border: 1px solid #d8d8d8;
  border-bottom-width: 2px;
  padding: 20px 20px 25px 20px;
}

.profileMainContent{
  height: 100%;
  background-color: #ececec;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.profile-img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-top: 4px;
  background-size: 40px !important;
}

.profile-img.country{
  background: url('country.svg') center center no-repeat;
}

.profile-img.major{
  background: url('major.svg') center center no-repeat;
}

.profile-img.interest{
  background: url('magnifyingglass.svg') center center no-repeat;
}

.profile-img.current{
  background: url('current.svg') center center no-repeat;
}


.profile-cont{

}

p {
  margin: 0;
}

.profileLeft {
  width: 100%;
  height: 50px;
  float: left;
}

.img-col {
  float: left;
  width: 15%;
}

.cont-col {
  width: 85%;
  margin-left: 5px;
  overflow: auto;
  height: 50px;
}

.profile-label {
  display: inline-block;
  color: #041533;
  line-height: 50px;
  text-decoration: none;
  font-weight: normal !important;
  float: left;
}

.profile-input{
  margin-top: 10px;
  height: 30px !important;
}

.profile-left-cont{
  line-height: 50px;
}

.profile-select{
  display: inline-block;
  line-height: 50px;
}

.editwrapper{
  height: 30px;
  width: 100%;
}

.edit-buttons-wrapper{
  float: right;
}

.edit-pencil{
  width: 25px;
  height: 25px;
  background: url(pencil.svg) no-repeat;
  background-size: 25px;
  float: right;
  cursor: pointer;
}

.edit-pencil{
  width: 25px;
  height: 25px;
  background: url(pencil.svg) no-repeat;
  background-size: 25px;
  float: right;
}

.edit-pencil:hover{
  background: url(pencil-hover.svg) no-repeat;
  background-size: 25px;
}

.btn-edit {
  width: 70px;
  padding: 5px 0px;
  background: none;
  color: #9197A3;
  font: 13px Roboto-Light, Georgia, "Times New Roman", Times, serif;
  border: 1px solid #9197A3;
  border-radius: 0 !important;
}

.btn-edit:hover {
  color: #FFF;
  background: #3D9ED8;
  border: 1px solid #3D9ED8;
}

.btn-add {
  float: right;
  padding: 5px 5px;
  background: none;
  color: #9197A3;
  font: 14px Lato-Regular, Georgia, "Times New Roman", Times, serif;
  border: 1px solid #9197A3;
  border-radius: 0 !important;
}

.btn-add:hover {
  color: #FFF;
  background: #3D9ED8;
  border: 1px solid #3D9ED8;
}

.profile-right-container{
  background-color: #FFF;
  padding: 20px 20px 25px 20px;
  margin: 20px 0 20px 20px;
  border-radius: 3px;
  border: 1px solid #d8d8d8;
  border-bottom-width: 2px;
}

.profile-right-header{
  width: 100%;
  display: inline-block;
  padding: 10px 0;
}

.profile-right-header.title{
  float: left;
  width: 40%;
  padding: 0px;
}

.profile-right-header.edit{
  float: left;
  width: 60%;
  padding: 0px;
}

.profile-right-content{
  width: 100%;
  display: inline-block;
}

.profile-right-container{

}

.profile-right-text{
  color: #999999;
  font: 14px Lato-Regular;
}

textarea{
  color: #505050;
  font: 14px Lato-Regular;
}

.header-title{
  color: #505050;
  font: 18px Lato-Regular;
}

.header-subtitle{
  color: #999999;
  font: 16px Lato-Regular;
}

.header-light-txt{
  color: #999999;
  font: 13px Lato-Light;
}

.header-regular-txt{
  color: #999999;
  font: 14px Lato-Regular;
}

.form-cont{
  margin-bottom: 5px;
}