@font-face {
  font-family: 'Opensans-regular';
  src: url(OpenSans-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Opensans-semibold';
  src: url(OpenSans-Semibold.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Opensans-light';
  src: url(OpenSans-Light.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Opensans-light-italic';
  src: url(OpenSans-LightItalic.ttf);
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Roboto-bold';
  src: url(Roboto-Bold.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-light';
  src: url(Roboto-Light.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald-Regular';
  src: url(Oswald-Regular.otf);
}

html,body{
  width: 100%;
  height: 100%;
  overflow-x: hidden !important;
  webkit-tap-highlight-color: transparent;
}

.input {
  color: #3f4752;
  font-family: Opensans-regular, Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
}

.input::-webkit-input-placeholder {
  color: #bbb;
}

.light-txt-white {
  color: #FFF !important;
  font-size: 14px;
  font-family: 'Opensans-light', Georgia, "Times New Roman", Times, serif;
}

.regular-txt-gray {
  color: #898989 !important;
  font-size: 14px;
  font-family: 'Opensans-regular', Georgia, "Times New Roman", Times, serif;
}

.regular-tlt-black {
  color:#3f4752;
  font-size:18px;
  font-family: 'Opensans-semibold', Georgia, "Times New Roman", Times, serif;
}

.title {
  font-size: 2.5em;
  font-family: Oswald-regular, Georgia, "Times New Roman", Times, serif;
}

@media(min-width:768px) {
  .title {
    font-size: 3.5em;
    font-family: Oswald-regular, Georgia, "Times New Roman", Times, serif;
  }
}

.navbar-default {
  position: inherit;
  margin-bottom: 0px !important;
  border-radius: 0px;
  border: 0 !important;
  background-color: #1C2A33;
}

.navbar-default .navbar-collapse {
  border-color: rgba(255,255,255,.02);
}

.navbar-default .navbar-toggle {
  border-color: #3D9ED8;
  background-color: #3D9ED8;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #3D9ED8;
}

.navbar-default .nav li a {
  text-transform: uppercase;
  font-family: 'Opensans-regular';
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
  outline: 0;
  color: #3D9ED8;
  font-family: 'Opensans-semibold';
}

.navbar-default .navbar-nav>.active>a {
  border-radius: 0;
  color: #fff;
  background-color: #3D9ED8;
}

@media(min-width:768px) {

  .navbar-default .navbar-nav>.active>a {
    border-radius: 3px;
  }

  .navbar-default.navbar-shrink {
    padding: 10px 0;
    background-color: #222;
  }

  .navbar-default.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }

}

section#logo {
  padding: 10px 0;
}

section#logo .logo {
  width:100%;
  padding-top: 20px;
  padding-bottom: 25px;
  float: left;
  background-image: url("logo-homepage.svg");
  background-repeat: no-repeat;
  background-size: 200px auto;
}

// SignIn

header {
  width: 100%;
  height: 490px;
  background-attachment: scroll;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

header .intro-text {
  padding-bottom: 50px;
  position: absolute;
  z-index: 2;
}

header .intro-text .intro-lead-in {
  padding-top: 30px;
  line-height: 50px;
  font-family: Roboto-bold, Georgia, "Times New Roman", Times, serif;
  font-size: 2.2em;
  color: #FFF;
}

header .intro-text .intro-heading {
  font-family: Roboto-light, Georgia, "Times New Roman", Times, serif;
  font-size: 1.4em;
  line-height: 22px;
  color: #FFF;
}

@media(min-width:768px) {
  header {
    height: 490px;
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

  header .intro-text {
    float: left;
    padding-bottom: 20px;
    padding-top: 60px;
  }

  header .intro-text .intro-lead-in {
    font-size: 3.5em;
  }

  header .intro-text .intro-heading {
    font-size: 1.5em;
    padding-top: 10px;
  }
}

/* Sign up form & carousel*/

section#signup {
  width: 90%;
  padding-top: 150px;
  position: absolute;
  z-index: 2;
}

section#signup .home-col.name {
  padding-left: 0px;
  padding-right: 0px;
}

section#signup .home-col.lastname {
  padding-left: 0px;
  padding-right: 0px;
}

section#signup .form-control:focus {
  border-color: #3D9ED8;
  box-shadow: none;
}

header .home-carousel-container{
  display: none;
  position:absolute;
  width: 100%;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

  header .home-carousel-container {
    display: block;
  }

  section#signup {
    width: 80%;
    padding-top: 210px;
    padding-bottom: 50px;
  }

  section#signup .home-col.name {
    padding-right: 7.5px;
  }

  section#signup .home-col.lastname {
    padding-left: 7.5px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

.btn-xl {
  padding: 10px 40px;
  background:none;
  color:#fff;
  font:18px Opensans-regular, Georgia, "Times New Roman", Times, serif;
  border:1px solid #fff;
  margin-top: 20px;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  background-color: #1C2A33;
  color:#fff;
}

.btn-xs {
  padding: 15px 30px;
  background:none;
  color:#fff;
  font:14px Opensans-regular, Georgia, "Times New Roman", Times, serif;
  border:1px solid #fff;
}

.btn-xs:hover {
  background:#FFF;
  color:#1C2A33;
  font:14px Opensans-semibold, Georgia, "Times New Roman", Times, serif;
}

@media(min-width:768px) {
  .btn-xs {
    float: right;
  }
}

.home-carousel-img{
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Removes carousel buttons */
.right.carousel-control, .left.carousel-control {
  display: none;
}

.carousel-indicators li {
  margin: 0 2px !important;
}


/*** Start features section ***/

section {
  padding: 50px 0;
}

section h2.section-heading {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 30px;
  color: #3D9ED8;
  font-family: Oswald-regular, Georgia, "Times New Roman", Times, serif;
}

section h3.section-subheading {
  margin-bottom: 45px;
  font-family: Opensans-regular, Georgia, "Times New Roman", Times, serif;
  font-size: 1.5em;
  color: #3f4752;
//  font-variant: small-caps;
}

.features-image {
  width: 120px;
  height: 120px;
  background-size: 120px;
  background-repeat: no-repeat;
  display: inline-block; /* so that it behaves like the img element */
}

.features-image.img-left{
  background-image: url("home-features-left.svg");
}

.features-image.img-middle{
  background-image: url("home-features-middle.svg");
}

.features-image.img-right{
  background-image: url("home-features-right.svg");
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  section {
    padding: 50px 0;
  }

  section h2.section-heading {
    font-size: 3.5em;
  }

  section h3.section-subheading {
    margin-bottom: 35px;
    margin-top: 15px;
  }

  .features-image{
    width:120px;
    height:120px;
    background-size: 120px;
  }

  .home-features-container{
    padding-left: 80px;
    padding-right: 80px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .home-features-container{
    padding-left: 50px;
    padding-right: 50px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .home-features-container{
    padding-left: 0px;
    padding-right: 0px;
  }
}

/* End features section */


/* Start reallifestories section */

section#reallifestories {
  text-align:center;
  padding-top: 50px;
  padding-bottom: 60px;
  width: 100%;
  background: url(home-reallifestories-background.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}


.reallifestories {
  color:#FFF;
  text-align: center;
  width:100%;
}

.reallifestories-img {
  width: 160px;
  height: 160px;
  background-size: 160px;
  background-repeat: no-repeat;
  margin: 10px 0;
  display: inline-block; /* so that it behaves like the img element */
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .reallifestories-carousel .carousel-indicators{
    bottom: -50px !important;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/* End reallifestories section */

/* Start middle quote section */

section#home-middle-quote {
  padding: 50px 0;
}

.home-middle-quote-tlt {
  font-family: Opensans-semibold, Georgia, "Times New Roman", Times, serif;
  font-size: 2.0em;
  color: #3f4752;
}

.home-middle-quote-txt {
  font-family: Opensans-regular, Georgia, "Times New Roman", Times, serif;
  font-size: 1.5em;
  color: #3f4752;
}


/* End middle quote section */

/* Btn type section */

section#btn-type {
  padding: 20px 0;
}

.looking_minds_btn{
  width: 300px;
  text-align:center;
  padding:15px 0;
  border:2px solid rgb(134,185,163);
  font:18px Opensans-regular, Georgia, "Times New Roman", Times, serif;
  color: #3f4752;
  cursor: pointer;
  background-color: #FFF;
  text-decoration: none;
}

.looking_minds_btn-active{
  background-color: rgb(134,185,163);
  color: #FFF;
  text-decoration: none;
}

.looking_minds_btn:hover {
  background-color:rgb(134,185,163);
  border-width: 2px;
  border-style: solid;
  color: #FFF;
  text-decoration: none;
}

.great_minds_btn {
  width: 300px;
  text-align:center;
  border:2px solid rgb(226,148,123);
  font:18px Opensans-regular, Georgia, "Times New Roman", Times, serif;
  padding:15px 0;
  color: #3f4752;
  cursor: pointer;
  background-color: #FFF;
  text-decoration: none;
}

.great_minds_btn-active{
  background-color: rgb(226,148,123);
  color: #FFF;
  text-decoration: none;
}

.great_minds_btn:hover {
  background-color:rgb(226,148,123);
  border-width: 2px;
  border-style: solid;
  color: #FFF;
  text-decoration: none;
}

.btn-type {
  padding-bottom: 50px;
}

@media(min-width:767px) {

  .looking_minds_btn_right{
    float: right;
  }

  .great_minds_btn_left{
    float: left;
  }

  .btn-type {
    padding-bottom: 0px;
  }
}

/* End Btn type section */


/* Start how it works section */

section#howitworks-bar-line{
  height: 10px;
  padding: 0px 0px;
  background-color: #00A0DE;
}

section#howitworks-bar {
  padding: 20px 0px;
  background-color: #1C2A33;
}

.here-is-how-it-works{
  text-align: center;
  color: #FFF;
}

section#home-hiw-section-one {
  padding: 20px 0;
}

section#home-hiw-section-two {
  padding: 20px 0;
}

.how-it-works-row-img {
  width: 60px;
  height: 60px;
  float: right;
  background-size: 60px 60px;
  background-repeat: no-repeat;
  display: inline-block; /* so that it behaves like the img element */
}

.how-it-works-row-img.gm-img-1 {
  background-image: url(tabs1.svg);
}

.how-it-works-row-img.gm-img-2 {
  background-image: url(tabs2.svg);
}

.how-it-works-row-img.gm-img-3 {
  background-image: url(tabs3.svg);
}

.how-it-works-row-img.gm-img-4 {
  background-image: url(tabs4.svg);
}

.how-it-works-row-img.lgm-img-1 {
  background-image: url(tabs1.svg);
}

.how-it-works-row-img.lgm-img-2 {
  background-image: url(tabs2.svg);
}

.how-it-works-row-img.lgm-img-3 {
  background-image: url(tabs3.svg);
}

.how-it-works-row-img.lgm-img-4 {
  background-image: url(tabs4.svg);
}

.how-it-work-row-img-cl {
  float: left;
}

.how-it-works-row-padding {
  padding: 10px 0;
}

.how-it-works-img {
  width: 100%;
  padding: 10px 0;
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
}

.how-it-works-img-cl-right {
  display: none;
}

.how-it-works-img-cl-left {
  display: none;
}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

  .how-it-works-img-cl-right {
    display: block;
    float: right;
  }

  .how-it-works-img-cl-left {
    display: block;
    float: left;
  }

  .how-it-work-row-img-cl {
    width: 20%;
  }

  .how-it-works-img {
    height: 250px;
    margin: 80px 0;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .how-it-works-img {
    height: 350px;
    margin: 50px 0;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .how-it-works-img {
    height: 350px;
    margin: 20px 0;
  }
}

/* End how it works section */


section#quotes {
  padding: 50px 0;
  background-color: #f0efef;
}

.quotes-img{
  margin-bottom: 20px;
  width: 55px;
  height: 45px;
  background-image: url(quotes.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
}

.quotes-txt{
  color:#3f4752;
  font:1.5em Opensans-light-italic, Georgia, "Times New Roman", Times, serif;
}

.quotes-author {
  color:#3f4752;
  line-height: 40px !important;
  font:16px Opensans-light, Georgia, "Times New Roman", Times, serif;
}

/* End quotes section */

footer#home {
  padding: 0px 0px !important;
}

footer#home .footer-above {
  background-color: #1C2A33;
  padding: 50px 0px;
}

footer#home .footer-below {
  padding: 25px 0;
  background-color: #FFF;
}

.footer-title {
  color:#FFF;
  font:16px Opensans-semibold, Georgia, "Times New Roman", Times, serif;
}

.footer-li{
  color:#FFF;
  font:14px Opensans-light, Georgia, "Times New Roman", Times, serif;
  cursor: pointer;
  text-decoration: none;
}

.footer-li:hover {
  font:14px Opensans-regular, Georgia, "Times New Roman", Times, serif;
  color:#00A0DE;
  cursor: pointer;
  text-decoration: none;
}

.footer-row-title {
  padding-bottom: 25px;
}

.footer-row-li {
  padding-bottom: 10px;
}

.footer-sign-txt{
  font:14px Opensans-light, Georgia, "Times New Roman", Times, serif;
  color:#3f4752;
}

.footer-right-cl {
  padding-top: 40px;
}

/** Signup **/

.signup-background {
    height:100%;
    background:url("signup-image.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: 100%;
}

.signup-container {
  background-color: #FFF;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 0px;
  padding: 40px 80px 80px;
  min-height: 570px;
}

.signup-container .title {
  font-size: 2.5em;
  font-family: Oswald-regular, Georgia, "Times New Roman", Times, serif;
  color: #00A0DE;
}

.signup-container .looking_btn {
  width: 210px;
  text-align:center;
  padding:10px 0;
  border:2px solid rgb(134,185,163);
  font:14px Opensans-regular, Georgia, "Times New Roman", Times, serif;
  color: #3f4752;
  cursor: pointer;
  background-color: #FFF;
  text-decoration: none;
  display: block;
  float: left;
  margin-right: 10px;
}

.signup-container .looking_btn_active {
  background-color: rgb(134,185,163);
  color: #FFF;
  text-decoration: none;
}

.signup-container .looking_btn:hover {
  background-color:rgb(134,185,163);
  border-width: 2px;
  border-style: solid;
  color: #FFF;
  text-decoration: none;
}

.signup-container .great_btn {
  width: 210px;
  text-align:center;
  border:2px solid rgb(226,148,123);
  font: 14px Opensans-regular, Georgia, "Times New Roman", Times, serif;
  padding:10px 0;
  color: #3f4752;
  cursor: pointer;
  background-color: #FFF;
  text-decoration: none;
  display: block;
  float: left;
}

.signup-container .great_btn-active{
  background-color: rgb(226,148,123);
  color: #FFF;
  text-decoration: none;
}

.signup-container .great_btn:hover {
  background-color:rgb(226,148,123);
  border-width: 2px;
  border-style: solid;
  color: #FFF;
  text-decoration: none;
}

.btn-info {
  background-color: #00A0DE !important;
}

.btn-info:hover {
  background-color: #00A0DE !important;
  border-color: #00A0DE;

}

.btn-danger {
  background-color: #3f4752;
  border-color: #3f4752 !important;
}

.btn-danger:hover {
  background-color: #3f4752;
  border-color: #3f4752;
}

