@import "base/colors";
@import "base/constants";
@import "base/placeholders";
@import "navigation";
@import "profile-candidate";
@import "profile-employer";
@import "search";

@font-face {
  font-family: 'Opensans-regular';
  src: url(OpenSans-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Opensans-semibold';
  src: url(OpenSans-Semibold.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Opensans-light';
  src: url(OpenSans-Light.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Opensans-light-italic';
  src: url(OpenSans-LightItalic.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-bold';
  src: url(Roboto-Bold.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-light';
  src: url(Roboto-Light.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald-Regular';
  src: url(Oswald-Regular.otf);
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url(Montserrat-Bold.otf);
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url(Montserrat-Regular.otf);
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url(Montserrat-Light.otf);
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url(Montserrat-Bold.otf);
}

@font-face {
  font-family: 'Lato-Regular';
  src: url(Lato-Regular.ttf);
}

@font-face {
  font-family: 'Lato-Light';
  src: url(Lato-Light.ttf);
}

@font-face {
  font-family: 'Lato-Light-Italic';
  src: url(Lato-LightItalic.ttf);
}

@font-face {
  font-family: 'Lato-Medium-Italic';
  src: url(Lato-MediumItalic.ttf);
}

@font-face {
  font-family: 'Segoe-Print';
  src: url(Segoe-Print.ttf);
}

html {
  height: 100%;
}

body {
  height: 100%;
  overflow-x: hidden !important;
  -webkit-overflow-scrolling: touch;
  webkit-tap-highlight-color: transparent;
  padding: 0;
  margin: 0;
}

input {
  color: $text-inputs !important;
  font-family: Lato-Regular !important;
  font-size: 13px !important;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid $border-gray;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aaa !important;
  font-size: 13px !important;
  font-family: Lato-Regular !important;
  line-height: 1.4em !important;
}

input:focus, textarea:focus {
  outline: none !important;
  border: 1px solid $border-gray-focus !important;
  box-shadow: none !important;
}

input:hover, textarea:hover {
  outline: none !important;
  border: 1px solid $border-gray-focus !important;
  box-shadow: none !important;
}

input[type="checkbox"]{
  float: left;
  margin: 3px 0px 0px 7px;
}

textarea {
  color: $text-inputs !important;
  font: 13px Lato-Regular !important;
  resize: none;
  outline: 0;
}

.custom-placeholder{
  color: #aaa;
  font-size: 13px !important;
  font-family: Lato-Regular !important;
  text-align: left;
  padding: 5px 10px;
}

.align-left {
  float: left !important;
}

.max-width {
  width: 100%;
}

.light-txt-white {
  color: #FFF !important;
  font-size: 14px;
  font-family: 'Opensans-light', Georgia, "Times New Roman", Times, serif;
}

.form_label {
  color: #3f4752;
  font-size: 14px;
  font-family: Opensans-regular, Georgia, "Times New Roman", Times, serif !important;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  padding: 6px 0;
}

.padding-0 {
  padding: 0px;
}

.padding-l35 {
  padding-left: 35px !important;
}

.padding-5 {
  padding: 0 5px !important;
}

.padding-right-0 {
  padding-right: 0;
}

.padding-left-0 {
  padding-left: 0 !important;
}

.padding-right-0 {
  padding-right: 0 !important;
}

.padding-b-20 {
  padding-bottom: 20px !important;
}

.padding-t-20{
  padding-top: 20px;
}

.padding-tb-20{
  padding: 20px 0px;
}

.padding-t-60 {
  padding-top: 60px;
}

@media(min-width: 768px) {
  .title {
    font-size: 3.5em;
  }

  .subtitle {
    font-size: 1.1em;
  }
}

.text-center {
  text-align: center;
}

.overflow-auto {
  overflow: auto;
}

.margin-l5 {
  margin-left: 5px;
}

.margin-r5 {
  margin-right: 5px;
}

.margin-l10 {
  margin-left: 10px;
}

.margin-r10 {
  margin-right: 10px;
}

.margin-rn1 {
  margin-right: 6px;
}

.margin-lr10 {
  margin: 0px 10px;
}

.margin-lr20 {
  margin: 0px 20px;
}

.margin-lr30 {
  margin: 0px 30px;
}

.margin-t5 {
  margin-top: 5px;
}

.margin-t10 {
  margin-top: 10px;
}

.margin-t15 {
  margin-top: 15px;
}

.margin-t20 {
  margin-top: 20px;
}

.margin-t30 {
  margin-top: 30px;
}

.margin-t40 {
  margin-top: 40px;
}

.margin-t50 {
  margin-top: 50px;
}

.margin-t80 {
  margin-top: 80px;
}

.margin-t90 {
  margin-top: 90px;
}

.margin-b15 {
  margin-bottom: 15px;
}

.margin-b20 {
  margin-bottom: 20px;
}

.margin-b30 {
  margin-bottom: 30px;
}

.margin-lt-7{
  margin: 7px 7px 0 !important;
}

.col-margin {
  width: 10%;
  float: left;
}

.col-label {
  display: inline-block;
  box-sizing: border-box;
  width: 30%;
  padding-right: 11px;
  text-align: right;
}

.col-field {
  margin-left: 30%;
  text-align: left;
}

.width15 {
  width: 15% !important;
  float: left;
}

.width85 {
  width: 85%;
  float: left;
}

.height25 {
  height: 25px;
}

.height50 {
  height: 50px;
}

.text-align-right {
  text-align: right;
}

.align-vertical {
  display: inherit;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.align-vertical-inverse {
  display: inherit;
  position: relative;
  top: 50%;
  transform: translateY(50%);
}

::-webkit-input-placeholder {
  font: 13px Lato-Regular;
}

:-moz-placeholder {
  /* Firefox 18- */
  font: 13px Lato-Regular;
}

::-moz-placeholder {
  /* Firefox 19+ */
  font: 13px Lato-Regular;
}

:-ms-input-placeholder {
  font: 13px Lato-Regular;
}

.username {
  padding-top: 15px;
  padding-bottom: 15px;
  color: $primary-blue;
  font-family: Montserrat-Light, Georgia, "Times New Roman", Times, serif;
}

/** Logo Header **/

section#logo {
  padding: 10px 0;
}

section#logo .logo {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 25px;
  float: left;
  background-repeat: no-repeat;
  background-size: 200px auto;
}

.login-btn {
  color: $primary-turquoise !important;
  font-family: Montserrat-Regular, Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  border: 2px solid $primary-turquoise;
  border-radius: 4px !important;
  padding: 6px !important;
  cursor: pointer;
  margin-top: 9px;
  margin-left: 50px;
  margin-right: -15px;

  &:hover {
    color: $primary-turquoise-hover !important;
    border: 2px solid $primary-turquoise-hover;
  }
}

header {
  width: 100%;
  height: 830px;
  background-size: cover !important;
  padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
  padding-bottom: 50px;
  text-align: center;
}

.header-signup {
  color: $primary-white;
  margin: 0;
  padding: 10% 0;
  overflow: hidden;
  width: 100%;

  .title {
    font-size: 5em;
    font-weight: 700;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.4);
  }

  .subtitle {
    font-family: Montserrat-Regular, Georgia, "Times New Roman", Times, serif;
    font-size: 1.6em;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
  }

  .type-btn {
    width: 165px;
    font: 18px Montserrat-Regular, Georgia, "Times New Roman", Times, serif;
    color: $primary-white;
    padding: 15px 0;
    margin-bottom: 15px;
    border: 3px solid $primary-white;
    border-radius: 4px !important;
    background-color: transparent;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    &.btn-left {
      float: left;
    }
    &.btn-right {
      float: right;
    }

    &:hover {
      background-color: $primary-turquoise-hover;
      border: 3px solid $primary-turquoise-hover;
      color: $primary-white;
    }
  }

  .type-btn-active{
    background-color: $primary-turquoise;
    border: 3px solid $primary-turquoise;
    color: $primary-white;
    text-decoration: none;
  }

  .buttons {
    width: 100%;
    margin-top: 30px;
    overflow: hidden;
  }

  .form-btn-container {
    width: 100%;
    overflow: hidden;
    margin-top: 15px;
  }

  .form-btn {
    width: 100%;
    height: 47px;
    background-color: $primary-blue;
    color: $primary-white;
    font-size: 16px;
    font-family: "Lato-Regular";
    border: 1px solid $primary-blue;
    border-radius: 4px !important;
    padding: 10px 30px;

    &:hover,
    &:focus,
    &:active,
    &.dropdown-toggle.form-btn {
      background-color: $primary-blue;
      color: $primary-white;
    }

    &.linkedin {
      background-color: $secondary-linkedin;
      border: 1px solid $secondary-linkedin;
      margin-top: 10px;

      &.linkedin > p {
       color: $primary-white;
       font-size: 16px;
       display: inline-block;
      }

      .icon {
       width: 18px;
       height: 16px;
       background: url("homepage/ic_linkedin.png") no-repeat center;
       background-size: 20px;
       margin-right: 15px;
       display: inline-block;
     }
    }
  }
}

section#signup {
  width: 100%;
  overflow: hidden;
  z-index: 2;
}

.home-carousel-container {
  display: block;
}

.carousel-inner {
  height: 830px;
}

.carousel-inner > .item img {
  width: 100% !important;
  background-size: cover;
}

/* Removes carousel buttons */
.right.carousel-control, .left.carousel-control {
  display: none;
}

.carousel-indicators li {
  display: none;
}

/* Sign up process */

section#signup .form-control:focus {
  border-color: #3D9ED8;
  box-shadow: none;
}

.signup-title {
  width: 100%;
  height: 75px;
  margin-top: 50px;
  text-align: center;
  color: #ffffff;
  font: 22px Montserrat-Regular;
}

.signup-title img {
  display: block;
  margin: auto;
  position: relative;
  top: -40px;
  width: 75px;
  margin-bottom: -40px;
}

.personal {
  background: $primary-lightblue;
}

.education {
  background: $primary-green;
}

.interests {
  background: $primary-violet;
}

.company {
  background: $primary-green;
}

.looking {
  background: $primary-violet;
}

.signup-form {
  display: inline-block;
}

.control-group.error input {
  border-color: #122028;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.control-group.error p {
  color: #122028;
  padding: 0px 12px;
  margin-top: 2px;
  margin-bottom: 8px;
  font-size: 13px;
}

.form-group {
  &.signup {
    margin-bottom: 0px !important;
  }
  &.error {
    margin-bottom: 0px !important;
  }
}
  .login-group.error input {
    border-color: #FFF;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }

  .login-group.error p {
    color: #FFF;
    padding: 0px 12px;
    margin-top: 3px;
    margin-bottom: 10px;
    float: left;
    font-size: 13px;
  }

  header .home-carousel-container {
    display: none;
    position: absolute;
    width: 100%;
  }

  /* Custom, iPhone Retina */
  @media only screen and (min-width: 320px) {

  }

  /* Extra Small Devices, Phones */
  @media only screen and (min-width: 480px) {

  }

  /* Small Devices, Tablets */
  @media only screen and (min-width: 768px) {

    section#signup {
      //  width: 100%;
      overflow: hidden;
      //position: absolute; -> cambiarlo
      z-index: 2;
    }

    section#signup .home-col.name {
      padding-right: 7.5px;
    }

    section#signup .home-col.lastname {
      padding-left: 7.5px;
    }

  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width: 992px) {

    header .home-carousel-container {
      display: block;
    }

    section#signup {
      position: absolute;
      //padding: 80px 0px 20px 0px;
    }

    section#signup .home-col.name {
      padding-right: 7.5px;
    }

    section#signup .home-col.lastname {
      padding-left: 7.5px;
    }

  }

  /* Large Devices, Wide Screens */
  @media only screen and (min-width: 1200px) {

    section#signup {
      //  padding: 60px 0px 40px 0px;
    }

  }

  .btn-xl {
    padding: 10px 40px;
    background: none;
    color: #011B25;
    font: 18px Montserrat-Light, Georgia, "Times New Roman", Times, serif;
    border: 1px solid #011B25;
    border-radius: 0 !important;
    margin: 10px 0;
  }

  .btn-xl:hover,
  .btn-xl:focus,
  .btn-xl:active,
  .btn-xl.active,
  .open .dropdown-toggle.btn-xl {
    background-color: #011B25;
    color: #fff;
  }

  .btn-xs {
    padding: 10px 30px;
    background: none;
    color: #011B25;
    font: 14px Montserrat-Light, Georgia, "Times New Roman", Times, serif;
    border: 1px solid #011B25;
  }

  .btn-xs:hover {
    background: #011B25;
    color: #FFF;
    font: 14px Montserrat-Light, Georgia, "Times New Roman", Times, serif;
  }

  @media(min-width: 768px) {
    .btn-xs {
      float: right;
    }

  }

  /*** Start features section header ***/

  section#section-two {
    padding: 50px 0px 30px 0;
  }

  .home-section-two.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 1.8em;
    color: $primary-blue;
    text-transform: uppercase;
    font-family: Montserrat-Bold, Georgia, "Times New Roman", Times, serif;
  }

  .home-section-two.section-subheading {
    margin-bottom: 40px;
    font-family: Montserrat-Regular, Georgia, "Times New Roman", Times, serif;
    font-size: 1.2em;
    color: $text-bold;
    float: none !important;
  }

  /*** End features section header ***/

  /*** Start features section ***/

  section#section-three {
    padding: 20px 0px 50px 0px;
  }

  .features-image {
    width: 100px;
    height: 100px;
    background-size: 100px;
    background-repeat: no-repeat;
    display: inline-block; /* so that it behaves like the img element */
  }

  .features-image.img-left {
    background-image: url("homepage/ic_compelling_profile.svg");
  }

  .features-image.img-middle {
    background-image: url("homepage/ic_search_engine.svg");
  }

  .features-image.img-right {
    background-image: url("homepage/ic_personalization_platform.svg");
  }

  .features-txt {
    width: 215px;
    color: $primary-blue;
    font-size: 1.5em;
    font-family: Montserrat-Light, Georgia, "Times New Roman", Times, serif;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  .features-detail-txt {
    color: $text-regular;
    font-size: 1.2em;
    font-family: Lato-Light, Georgia, "Times New Roman", Times, serif;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }


  /*** End features section ***/

  /*** Start section How it works ***/

  /*** Start section seven ***/

  section#section-seven {
    padding: 50px 0px;
    background-color: $primary-turquoise;
  }

  .section-seven.title {
    font-size: 1.8em;
    font-family: Montserrat-Bold, Georgia, "Times New Roman", Times, serif;
    color: $primary-white;
  }

  /*** End section seven ***/

  section#section-eight {
    width: 100%;
    height: 450px;
  }

  .section-eight.img {
    height: 450px;
    background: url('homepage/home-background-candidate.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .home-title.white {
    font-size: 1.8em;
    font-family: Montserrat-Bold, Georgia, "Times New Roman", Times, serif;
    color: $primary-white;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  section#section-nine {
    width: 100%;
    overflow: hidden;
  }

  /* Start how it works section */

  .section-nine.img {
    height: 500px;
    width: 660px;
    background: url('mobile-employer.png') no-repeat center center;
    background-size: 660px 500px;
    bottom: 0;
    float: right;
  }

  .section-nine-rows-cont {
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .section-nine.row {
    padding: 15px 0;
  }

  .section-nine.row-img {
    width: 60px;
    height: 60px;
    float: right;
    background-size: 60px 60px;
    background-repeat: no-repeat;
    display: inline-block; /* So that it behaves like the img element */
  }

  .section-nine.row-img.c-img-1 {
    background-image: url(homepage/ic_person.svg);
  }

  .section-nine.row-img.c-img-2 {
    background-image: url(homepage/ic_lightbulb.svg);
  }

  .section-nine.row-img.c-img-3 {
    background-image: url(homepage/ic_loupe.svg);
  }

  .section-nine.row-img.c-img-4 {
    background-image: url(homepage/ic_tick.svg);
  }

  .section-nine.row-img.e-img-1 {
    background-image: url(homepage/ic_person.svg);
  }

  .section-nine.row-img.e-img-2 {
    background-image: url(homepage/ic_lightbulb.svg);
  }

  .section-nine.row-img.e-img-3 {
    background-image: url(homepage/ic_loupe.svg);
  }

  .section-nine.row-img.e-img-4 {
    background-image: url(homepage/ic_tick.svg);
  }

  .section-nine .title {
    color: $text-title;
    font-size: 20px;
    text-align: left;
    font-family: 'Montserrat-Regular', Georgia, "Times New Roman", Times, serif;
  }

  .section-nine .subtitle {
    color: $text-regular !important;
    font-size: 16px;
    text-align: left;
    font-family: 'Lato-Light-Italic', Georgia, "Times New Roman", Times, serif;
  }

  .section-nine .row {
    padding: 10px 0;
  }

  .section-ten.img {
    height: 450px;
    background: url('homepage/home-background-candidate.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  section#section-eleven {
    width: 100%;
    overflow: hidden;
  }

  .section-eleven.img {
    height: 500px;
    width: 660px;
    background: url('mobile-candidate.png') no-repeat center center;
    background-size: 660px 500px;
    bottom: 0;
    float: left;
  }

  section#section-twelve {
    padding: 50px 0px;
    background-color: $primary-blue;
  }

  .section-twelve.title {
    font-size: 1.8em;
    font-family: Montserrat-Bold, Georgia, "Times New Roman", Times, serif;
    color: $primary-white;
  }

  section#section-thirteen {
    overflow: hidden;
  }

  .section-thirteen.top {
    width: 100%;
  }

  .section-thirteen-top-padding {
    padding: 40px 80px;
    //height: 280px;
  }

  .section-thirteen.img {
    height: 280px;
    background-size: auto 300px !important;
  }

  .section-thirteen.img.testimonial-1{
    background: url('homepage/testimonials-1.png') no-repeat center center;
  }

  .section-thirteen.img.testimonial-2{
    background: url('homepage/testimonials-2.png') no-repeat center center;
  }

  .section-thirteen.img.testimonial-3{
    background: url('homepage/testimonials-3.png') no-repeat center center;
  }

  .section-thirteen.title {
    font-family: 'Montserrat-Regular', Georgia, "Times New Roman", Times, serif;
    font-size: 22px;
    color: $text-title;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  .section-thirteen.subtitle {
    font-family: 'Lato-Regular', Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    color: $text-regular;
    margin-bottom: 25px;
  }

  .section-thirteen.txt {
    font-family: 'Lato-Light-Italic', Georgia, "Times New Roman", Times, serif;
    font-size: 1.2em;
    color: $text-regular;
  }

  section#section-fourteen {
    overflow: hidden;
  }

  /* End how it works section */

  /* End quotes section */

  footer#home {
    padding: 0px 0px !important;
  }

  footer#home .footer-above {
    background-color: $footer-bg;
    padding: 60px 0px 0px;
  }

  footer#home .button {
    padding: 15px 40px;
    background: $primary-blue;
    color: $primary-white;
    font: 18px Montserrat-Light, Georgia, "Times New Roman", Times, serif;
    border: 3px solid $primary-blue;
    border-radius: 4px !important;
    margin-bottom: 50px;
  }

  .footer-divider {
    float: left;
    color: $primary-white;
    font: 16px Lato-Regular, Georgia, "Times New Roman", Times, serif;
    padding: 0px 50px;
  }

  .footer-li-container {
    display: inline-block;
  }

  .footer-li {
    float: left;
    color: $primary-white;
    font: 1.2em Lato-Regular, Georgia, "Times New Roman", Times, serif;
    cursor: pointer;
    text-decoration: none;
  }

  .footer-li:hover {
    color: $primary-turquoise;
    text-decoration: none;
  }

  .footer-sign-txt {
    font: 14px Lato-Light, Georgia, "Times New Roman", Times, serif;
    color: $primary-white;
  }

  /** Main footer **/

  footer#main {
    padding: 0px 0px !important;
  }

  footer#main .footer-above {
    background-color: #122028;
    padding: 15px 0px;
  }

  /** Signup **/

  .col-8 {
    width: 90%;
  }

  .signup.background {
    min-height: 700px;
    height: 95%;
    padding-top: 60px;
    overflow: hidden;

    background: url('signup/background-signup1.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .signup .title {
    font-size: 2.0em;
    font-family: Montserrat-Regular, Georgia, "Times New Roman", Times, serif;
    color: #3D9ED8;
    text-transform: uppercase;
  }

  .signup .subtitle-container {
    padding: 0 30px;
  }

  .signup .subtitle {
    font-size: 14px;
    font-family: Montserrat-Light, Georgia, "Times New Roman", Times, serif;
    color: $text-title;
  }

  .signup .form-box-cont {
    padding: 0px 0px;
    margin-top: 25px;
  }

  .signup-label {
    font: 13px Lato-Regular !important;
    color: $text-regular;
    float: left;
    text-align: left;
  }

  .signup-label.date {
    width: 100px;
  }

  .signup-label.placeholder{

  }

  .btn-next {
    background: url(signup/next.svg) no-repeat;
    background-size: 100%;
    width: 40px;
    height: 40px;
  }

  .btn-next:hover {
    background: url(signup/next-hover.svg) no-repeat;
    background-size: 100%;
    width: 40px;
    height: 40px;
  }

  .btn-back {
    background: url(signup/back.svg) no-repeat;
    background-size: 100%;
    width: 40px;
    height: 40px;
  }

  .btn-back:hover {
    background: url(signup/back-hover.svg) no-repeat;
    background-size: 100%;
    width: 40px;
    height: 40px;
  }

  .btn-form.double {
    width: 150px;
    margin-top: 40px;
  }

  .btn-primary-70 {
    width: 75px;
    background-color: rgb(255, 255, 255) !important;
    border-color: #CCCCCC !important;
    color: #555555 !important;
    padding: 2px !important;
    font-size: 13px !important;
  }

  .btn-primary-70 :hover {
    background-color: rgb(255, 255, 255) !important;
    border-color: rgb(255, 255, 255) !important;
    color: #555555 !important;
  }

  .btn-primary-120 {
    width: 120px;
    background-color: rgb(255, 255, 255) !important;
    border-color: #CCCCCC !important;
    color: #555555 !important;
    padding: 2px !important;
    font-size: 13px !important;
  }

  .btn-primary-120 :hover {
    background-color: rgb(255, 255, 255) !important;
    border-color: rgb(255, 255, 255) !important;
    color: #555555 !important;
  }

  .dropdown-menu-gender {
    max-height: 140px;
    z-index: 999;
    font: 14px Lato-Regular !important;
    cursor: pointer;
  }

  .caret {
    margin-left: 5px !important;
  }

  /* Extra Small Devices, Phones */
  @media only screen and (min-width: 494px) {

    .signup .looking_btn {
      margin-right: 10px;
      margin-bottom: 0px;
    }

  }

  /* Small Devices, Tablets */
  @media only screen and (min-width: 768px) {

    .signup .form-box-cont {
      // padding: 0 70px;
    }

    .col-8 {
      width: 60%;
    }

    .signup .title {
      font-size: 2.5em;
    }

    .signup .signup-form {
      padding: 20px 20px 20px 20px;
    }

  }

  /* Large Devices, Wide Screens */
  @media only screen and (min-width: 1200px) {

  }

  /* BASIC STYLINGS
  ============================================================================= */

  /* form styling */
  #form-container {
    display: inline-block;
  }

  #form-container .page-header {
    margin: 0;
    padding: 20px 30px;
  }

  /* numbered buttons */
  #status-buttons-work {
  }

  #status-buttons-work a {
    color: #122028;
    display: inline-block;
    font-size: 12px;
    margin-right: 10px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none !important;
    font-family: Montserrat-Regular, Georgia, "Times New Roman"
  }

  #status-buttons-work a:hover {
    text-decoration: none !important;
  }

  #status-buttons-work span {
    display: block;
    height: 30px;
    margin: 25px auto 10px;
    padding-top: 5px;
    width: 30px;
    text-decoration: none
  }

  .ic-wizard {
    background-size: 45px 45px;
    background-repeat: no-repeat;
    background-position: center center;
  }

  /* active buttons */
  #status-buttons-work a.active span {
    text-decoration: none !important;
  }

  /* numbered buttons */
  #status-buttons-hire {
  }

  #status-buttons-hire a {
    color: #FFF;
    display: inline-block;
    font-size: 12px;
    margin-right: 10px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none !important;
    font-family: Opensans-light, Georgia, "Times New Roman"
  }

  #status-buttons-hire a:hover {
    text-decoration: none !important;
  }

  #status-buttons-hire span {
    display: block;
    height: 30px;
    margin: 25px auto 10px;
    padding-top: 5px;
    width: 30px;
    text-decoration: none
  }

  label {
    color: #FFF;
  }

  /* ANIMATION STYLINGS
  ============================================================================= */
  #signup-form {
    position: relative;
    min-height: 330px;
    margin-top: 20px;
  }

  //overflow:hidden;

  /* basic styling for entering and leaving */
  /* left and right added to ensure full width */
  #form-views.ng-enter,
  #form-views.ng-leave {
    position: absolute;
    left: 0px;
    right: 0px;
    transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
  }

  /* enter animation */
  #form-views.ng-enter {
    -webkit-animation: slideInRight 0.5s both ease;
    -moz-animation: slideInRight 0.5s both ease;
    animation: slideInRight 0.5s both ease;
  }

  /* leave animation */
  #form-views.ng-leave {
    -webkit-animation: slideOutLeft 0.5s both ease;
    -moz-animation: slideOutLeft 0.5s both ease;
    animation: slideOutLeft 0.5s both ease;
  }

  /* ANIMATIONS
  ============================================================================= */
  /* slide out to the left */
  @keyframes slideOutLeft {
    to {
      transform: translateX(-200%);
    }
  }

  @-moz-keyframes slideOutLeft {
    to {
      -moz-transform: translateX(-200%);
    }
  }

  @-webkit-keyframes slideOutLeft {
    to {
      -webkit-transform: translateX(-200%);
    }
  }

  /* slide in from the right */
  @keyframes slideInRight {
    from {
      transform: translateX(200%);
    }
    to {
      transform: translateX(0);
    }
  }

  @-moz-keyframes slideInRight {
    from {
      -moz-transform: translateX(200%);
    }
    to {
      -moz-transform: translateX(0);
    }
  }

  @-webkit-keyframes slideInRight {
    from {
      -webkit-transform: translateX(200%);
    }
    to {
      -webkit-transform: translateX(0);
    }
  }

  /*=========================================================================== */

  .auto-width {
    width: auto;
    overflow: hidden;
  }

  /** START login **/

  .login.background.one {
    background: url("login/background2.png") no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100%;
  }

  .login.background.other {
    background: url("login/background3.png") no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100%;
  }

  .login.logo-container {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #000000;
    margin: -50px auto auto;
  }

  .login.form-container {
    padding: 160px 0 0 0;
  }

  .login.form-box {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 6px;
  }

  .login.form-box-cont {
    padding: 15px 30px 30px 30px;
  }

  .login-ic {
    width: 40px;
    margin: auto;
  }

  .ic-email {
    background: url("login/email.svg") no-repeat;
    width: 30px;
    height: 30px;
  }

  .ic-password {
    background: url("login/password.svg") no-repeat;
    width: 30px;
    height: 30px;
  }

  .login.button-submit {
    width: 50%;
    background: none;
    font: 14px Lato-Regular, Georgia, "Times New Roman", Times, serif;
    border: 1px solid black;
    border-radius: 6px !important;
    padding: 10px;
  }

  .login.button-submit:hover {
    background: #122028;
    color: #FFF;
  }

  .login.forgotpssw {
    color: white;
    overflow: auto;
  }

  .login.forgotpssw a,
  .login label {
    float: left;
    font-weight: normal;
    color: black;
    font: 11px Lato-Regular, Georgia, "Times New Roman", Times, serif;
  }

  .login.forgotpssw a {
    cursor: pointer;
  }

  .login.rememberme {
    overflow: auto;
    margin-top: 20px;
  }

  .login.rememberme-checkbox {
    float: left;
    margin-left: 10px;
    font-size: 13px;
  }

  .sign-up-login {
    color: #3D9ED8 !important;
  }

  /* Custom, iPhone Retina */
  @media only screen and (min-width: 320px) {

    .login.form-box {
      padding-top: 1px;
    }
  }

  /* Extra Small Devices, Phones */
  @media only screen and (min-width: 650px) {

    .login.background {
      height: 100vh !important;
    }

  }

  /* Small Devices, Tablets */
  @media only screen and (min-width: 768px) {

  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width: 992px) {

  }

  /** END login **/

  /** START forgot password **/
  .forgotpssw.background {
    height: 100vh;
    background-color: #ececec;
  }

  .forgotpssw.cont {
    margin-top: 40px;
    padding: 0 40px;
  }

  .forgotpssw.form {
    margin-top: 5px;
    padding: 40px 50px 40px 50px;
    background-color: #FFF;
  }

  .forgotpssw.form-checkemail {
    margin-top: 5px;
    padding: 30px 50px 30px 50px;
    background-color: #FFF;
  }

  .forgotpssw.title-container {
    vertical-align: middle;
    padding: 5px 0px;
  }

  .forgotpssw.title {
    font: 16px Opensans-regular, Georgia, "Times New Roman", Times, serif;
    color: #3D9ED8;
    line-height: 27px;
  }

  .forgotpssw.subtitle {
    font: 16px Opensans-regular, Georgia, "Times New Roman", Times, serif;
    color: #3f4752;
  }

  .forgotpssw.img {
    background: url('_logo.svg') no-repeat center center;
    width: 30px;
    height: 30px;
  }

  .forgotpssw.btn-form {
    width: 100%;
    margin: 20px 0;
    padding: 10px 0px;
    background: none;
    color: #3D9ED8;
    font: 14px Opensans-regular, Georgia, "Times New Roman", Times, serif;
    border: 1px solid #3D9ED8;
    border-radius: 0 !important;
  }

  .forgotpssw.btn-form:hover {
    padding: 10px 0px;
    background: #3D9ED8;
    color: #FFF;
  }

  .forgotpssw.btn-form.reset {
    margin: 0px 0;
  }

  .forgotpssw.text {
    color: #3f4752;
    font: 14px Opensans-light, Georgia, "Times New Roman", Times, serif;
  }

  .forgotpssw.text-blue {
    color: #3D9ED8;
    font: 14px Opensans-regular, Georgia, "Times New Roman", Times, serif;
    cursor: pointer;
    text-decoration: none;
  }

  .forgotpssw.hr {
    background: #3D9ED8;
  }

  /* Small Devices, Tablets */
  @media only screen and (min-width: 768px) {

    .forgotpssw.cont {
      padding: 0px 50px;
      margin-top: 120px;
    }

    .footer-li-container-none {
      display: inline-block;
      padding: 5px 50px;
    }

  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width: 992px) {

    .forgotpssw.cont {
      padding: 0px 0px;
    }

  }

  /* Tags input directive */

  .tags {
    width: 100%;
    float: left;
    background-color: rgba(255, 255, 255, 0.1);
  }

  .tags .tag {
    border-radius: 0px;
    background-color: $primary-pastel-green;
    color: $primary-blue;
    border: 1px solid $primary-pastel-green;
    border-radius: 3px;
    padding: 4px 5px;
    margin: 5px 0px 5px 5px;
    display: inline-block;
    float: left;
    font: 14px Lato-Regular;
  }

  .tags .tag:hover {
    text-decoration: none;
  }

  .tagsinput-container {
    padding-bottom: 10px;
  }

  .tagsinput-right {
    float: right;
  }

  .tagsinput-left {
    display: block;
    overflow: hidden;
    padding-right: 5px;
  }

  .tagsinput-left input {
    width: 100%;
  }

  .tagsinput.addbutton {
    height: 28px;
    float: right;
    color: $primary-turquoise;
    border: 1px solid $primary-turquoise;
    font: 13px Lato-Regular, Georgia, serif !important;
    margin-left: 5px;
    text-decoration: none;
    cursor: pointer;
  }

  .tagsinput.addbutton:hover {
    background: $primary-turquoise;
    color: #FFF;
  }

  .tags-box {
    background: #FFFFFF;
    min-height: 100px;
    border: 1px solid #cccccc;
  }

  .div-100 {
    width: 100% !important;
  }

  .div-90 {
    width: 89% !important;
  }

  .div-50 {
    width: 49% !important;
  }

  .div-25 {
    width: 24% !important;
  }

  .div-10 {
    width: 9% !important;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  .min-height-150 {
    min-height: 150px;
  }

  .alert-top-fixed {
    opacity: 0.95;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 7000;
    margin-top: 5px;
  }

  .alert-top-fixed ul {
    text-align: left;
  }

  /* Start middle quote section */

  section#home-middle-quote {
    padding: 70px 0;
  }

  .home-middle-quote-tlt {
    font-family: Oswald-Regular, Georgia, "Times New Roman", Times, serif;
    font-size: 1.5em;
    color: #3D9ED8 !important;
    text-transform: uppercase;
  }

  .home-middle-quote-txt {
    font-family: Opensans-light, Georgia, "Times New Roman", Times, serif;
    font-size: 1.3em;
    color: #3f4752;
  }

  /* Small Devices, Tablets */
  @media only screen and (min-width: 768px) {

    .home-middle-quote-tlt {
      font-family: Oswald-Regular, Georgia, "Times New Roman", Times, serif;
      font-size: 3.5em;
    }

    .home-middle-quote-txt {
      font-family: Opensans-light, Georgia, "Times New Roman", Times, serif;
      font-size: 1.5em;
      color: #3f4752;
    }

  }

  section#home-end-quote {
    padding: 70px 0;
  }

  /*****************************************************************************************/

  /* Small Devices, Tablets */
  @media only screen and (min-width: 768px) {
    /* header */
    .header-signup .employer-btn {
      margin: 0px 15px;
    }

    /* section two */
    section#section-two {
      padding: 120px 0px 40px 0;
    }

    .home-section-two-container {
      padding-left: 80px;
      padding-right: 80px;
    }

    .home-section-two.section-heading {
      font-size: 4.5em;
      margin-bottom: 25px;
    }

    .home-section-two.section-subheading {
      margin-bottom: 35px;
      margin-top: 15px;
      font-size: 1.8em;
    }

    .features-image {
      width: 130px;
      height: 130px;
      background-size: 130px;
    }

    .features-txt {
      margin-bottom: 20px;
    }

    /* section three */

    section#section-three {
      padding: 0px 0px 120px 0px;
    }

    /* section seven */

    section#section-seven {
      padding: 150px 0px;
    }

    .section-seven.title {
      font-size: 4.5em;
    }

    .home-title.white {
      font-size: 4.5em;
    }

    section#section-twelve {
      padding: 70px 0px;
    }

    .section-twelve.title {
      font-size: 4.5em;
    }

  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width: 992px) {

    section#section-four {
      padding: 100px;
    }

    section#section-five {
      padding: 100px;
    }

    section#section-six {
      padding: 100px;
    }

    .section-four.column-left {
      float: left;
    }

    .section-four.img {
      height: 360px;
      float: right;
    }

  }

  /* Large Devices, Wide Screens */
  @media only screen and (min-width: 1200px) {

    .home-section-two-container {
      padding-left: 0px;
      padding-right: 0px;
    }

  }

  /* Extra Small Devices, Phones */
  @media only screen and (min-width: 480px) {


  }

  /* Medium Devices, Desktops */
  @media(min-width: 768px) {

  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width: 992px) {


    .home-carousel-container {
      display: block;
    }

    section#signup {
      position: absolute;
    }

    .header-signup .home-col.name {
      padding-right: 7.5px;
    }

    .header-signup .home-col.lastname {
      padding-left: 7.5px;
    }

  }

  /* Large Devices, Wide Screens */
  @media only screen and (min-width: 1200px) {

  }



