<form id="education-form" name="educationForm" ng-submit="validateEducation(educationForm.$valid)"
      ng-init="setInnerScope(this)" novalidate>
  <div class="signup form-container col-md-8 col-md-offset-2">
      <p class="subtitle"> We are well on our way to build your profile. </p>

    <div class="signup form-box-cont">
      <div class="row">
        <div class="form-group"
             ng-class="{'has-error': educationForm.school.$invalid && (educationForm.$submitted || educationForm.school.$touched)}">
          <school-selector placeholder="What is your school name?" ng-model="school" on-select="onSchool" required></school-selector>
          <div ng-if=" educationForm.school.$invalid && (educationForm.$submitted || educationForm.school.$touched)"
               ng-messages="educationForm.school.$error">
            <div class="help-block" ng-message="required">
              Please select a school
            </div>
            <div class="help-block" ng-message="school">
              Please select a valid school!
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group div-50 left">
          <country-selector placeholder="School Country" ng-model="schoolCountry"
                            on-select="onSchoolCountry"></country-selector>
        </div>
        <div class="form-group div-50 right">
          <state-selector placeholder="School State" ng-model="schoolState" on-select="onSchoolState"
                          country-id="education.country_id"></state-selector>
        </div>
      </div>

      <div class="row">
        <div class="form-group"
             ng-class="{'has-error': educationForm.major.$invalid && (educationForm.$submitted || educationForm.major.$touched)}">
          <major-selector placeholder="Major" ng-model="major" on-select="onMajor" required></major-selector>
          <div ng-if="educationForm.major.$invalid && (educationForm.$submitted || educationForm.major.$touched)"
               ng-messages="educationForm.major.$error">
            <div class="help-block" ng-message="required">
              Please select a major
            </div>
            <div class="help-block" ng-message="major">
              Please select a valid major!
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group"
             ng-class="{'has-error': educationForm.degree.$invalid && (educationForm.$submitted || educationForm.degree.$touched)}">
          <degree-selector placeholder="Degree" ng-model="degree" on-select="onDegree" required></degree-selector>
          <div ng-if="educationForm.degree.$invalid && (educationForm.$submitted || educationForm.degree.$touched)"
               ng-messages="educationForm.degree.$error">
            <div class="help-block" ng-message="required">
              Please select a degree!
            </div>
            <div class="help-block" ng-message="degree">
              Please select a valid degree!
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div ng-class="{'has-error': educationForm.$submitted && !education.start_date}">
          <div class="max-width">
            <span class="signup-label date">From: </span>
            <simpledatepicker no-day="true" ng-model="education.start_date" is-date></simpledatepicker>
          </div>

          <div ng-if="educationForm.$submitted && !education.start_date">
            <div class="help-block">
              Please select a start date!
            </div>
          </div>

          <div class="max-width margin-t5">
            <span class="signup-label date">Graduation Year</span>
            <simpledatepicker no-day="true" ng-model="education.end_date"
                              disabled="isCurrentEducation"></simpledatepicker>
          </div>

          <div class="left" ng-if="educationForm.$invalid && educationForm.$submitted"
               ng-messages="educationForm.$error">
            <div class="div-100 help-block text-center" ng-message="validDates">
              The end date must be greater than the start date!
            </div>
          </div>
        </div>
      </div>

      <div class="row form-group">
        <div class="max-width margin-t5">
          <span class="signup-label">Is my current education?</span>
          <input
              id="switchEducationSignup"
              checked="false"
              type="checkbox"
              ng-model="isCurrentEducation">
        </div>
      </div>
    </div>

    <div class="row margin-t20">
      <div class="form-group row btn-form-container">
        <div class="col-xs-12 text-center">
          <a ng-click="backToPersonal()" class="btn btn-back margin-lr20"></a>
          <button type="submit" class="btn btn-next margin-lr20">
          </button>
        </div>
      </div>
    </div>

  </div>

</form>