/** START forgot password **/
.forgotpssw {

  &.background {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100vh;
    background: url("login/login-background.png") no-repeat center center;
  }

  .forgot-container {
    width: 100%;
    .form {
      padding: 35px 25px;
      width: 100%;
      margin-top: 10px;
      background-color: $primary-white;
      min-height: 220px;
      border-radius: 4px;
    }
    .form-wrapper{
      overflow: hidden;
      margin: auto;
      top: 0;
      bottom: 0px
    }
  }

  &.title-container {
    vertical-align: middle;
    padding: 5px 0px;
  }

  .title {
    font: 22px Montserrat-Light;
    color: $primary-white;
    line-height: 27px;
    float: left;
  }

  .subtitle-wrap {
    margin-bottom: 30px;
  }

  .subtitle {
    font: 17px 'Lato-Light', Georgia, "Times New Roman", Times, serif;
    color: $text-title;
  }

  .form-btn {
    margin-top: 15px;
  }

  .text {
    color: #3f4752;
    font: 14px 'Lato-Regular', Georgia, "Times New Roman", Times, serif;
  }

  .text-blue {
    color: #3D9ED8;
    font: 14px 'Lato-Regular', Georgia, "Times New Roman", Times, serif;
    cursor: pointer;
    text-decoration: none;
  }

  .hr {
    background: #3D9ED8;
  }

  .spinner {
    width: 100px;
    margin: auto;
    margin-top: 10px;
  }
}

