/*** Start Header ***/

section#home-signup {
  width: 100%;
  height: 100%;
  min-height: 620px;
  overflow: hidden;
  text-align: center;
  @extend %bg-image;
  background-image: url('homepage/home-background.png');
  background-attachment: fixed;
  margin-top: 50px;
  #top {
    height: 100%;
    position: relative;
  }
  .form-height {
    height: 452px;
  }
}

.header-signup {
  color: $primary-white;
  margin: auto;
  width: 100%;

  .subtitle {
    font-family: Lato-Light, Georgia, "Times New Roman", Times, serif;
    font-size: 1.25em;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
  }

  .wrapper {
    width: 290px;
    right: 0;
    left: 0;
    margin: auto;
  }

  .buttons {
    width: 100%;
    margin-top: 25px;
    overflow: hidden;
    .btn-left {
      padding-right: 5px;
    }
    .btn-right {
      padding-left: 5px;
    }
  }

  .form-btn-container {
    width: 100%;
    overflow: hidden;
    margin-top: 15px;
  }

  .form-btn {
    &.dropdown-toggle.form-btn {
      background-color: $primary-blue;
      color: $primary-white;
    }

    &.linkedin {
      background-color: $secondary-linkedin;
      border: 1px solid $secondary-linkedin;
      margin-top: 15px;
      &:hover {
        background-color: $secondary-linkedin-hover;
        border-color: $secondary-linkedin-hover;
      }

      &.linkedin > p {
        color: $primary-white;
        font-size: 16px;
        display: inline-block;
      }

      .icon {
        width: 18px;
        height: 16px;
        background: url("homepage/ic_linkedin.png") no-repeat center;
        background-size: 20px;
        margin-right: 15px;
        display: inline-block;
      }
    }
  }
}

.type-btn {
  width: 100%;
  font: 1.1em Montserrat-Regular, Georgia, "Times New Roman", Times, serif;
  color: $primary-white;
  padding: 13px 0;
  margin-bottom: 15px;
  border: 1px solid $primary-white;
  border-radius: 4px !important;
  background-color: transparent;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  &.white {
    background-color: $primary-white;
    color: $primary-turquoise;
    border-color: $primary-white;
  }
  &.large {
    width: 170px;
    font-size: 20px;
    padding: 20px 0;
    margin-bottom: 0px !important;
  }
}

.type-btn-active {
  background-color: $primary-turquoise;
  border: 1px solid $primary-turquoise;
  color: $primary-white;
  text-decoration: none;
  cursor: default;
  text-shadow: none;
}

/*** End Header ***/

/*** Start Sign Up form ***/

.signup-input {
  width: 100%;
  padding: 11px 10px 11px 13px;
  display: block;
  margin: 0;
  border: 0;
  background: 0;
  font: 16px/1.4 "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  outline: 0;

  &:hover {
    border: 0 !important;
  }

  &:focus {
    border: 0 !important;
  }
}

.form-row {
  background-color: $primary-white;
  z-index: 2;
  &.first-child {
    border-top: 0 !important;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
  }

  &.last-child {
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
  }

  &.childs {
    position: relative;
    border-top: 1px solid #e3e3e3;
  }
}

/*** End Sign Up form  ***/

/*** Start Section Title  ***/

.section-title {
  height: 245px;
  position: relative;

  &.section-two {
    background-color: $primary-dark-blue;
  }

  &.section-how-it-works-header {
    @extend %bg-image;
    background-image: url('homepage/background-howitworks.png');
  }

  &.section-testimonials-header {
    background-color: $primary-orange;
  }
}

.section-container {
  width: 100%;

  .heading {
    font-family: Montserrat-Regular, Georgia, "Times New Roman", Times, serif;
    font-size: 2.6em;
    color: $primary-white;
    text-transform: uppercase;

    &.section-how-it-works-header {
      color: $primary-blue;
    }
  }

  .subheading {
    font-family: Lato-Light, Georgia, "Times New Roman", Times, serif;
    font-size: 1.4em;
    color: $primary-white;
    margin-top: 10px;

    &.section-how-it-works-header {
      color: $text-title;
    }
  }
}

/*** End Section Title  ***/

/*** Start features section ***/

section#section-features {
  padding: 50px 0px;
}

.features-image {
  width: 100px;
  height: 100px;
  background-size: 100px;
  background-repeat: no-repeat;
  display: inline-block; /* so that it behaves like the img element */
  &.img-left {
    background-image: url("homepage/ic_compelling_profile.svg");
  }
  &.img-middle {
    background-image: url("homepage/ic_search_engine.svg");
  }
  &.img-right {
    background-image: url("homepage/ic_personalization_platform.svg");
  }
}

.features-txt {
  width: 215px;
  color: $primary-blue;
  font-size: 1.5em;
  font-family: Montserrat-Light, Georgia, "Times New Roman", Times, serif;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.features-detail-txt {
  color: $text-regular;
  font-size: 1.2em;
  font-family: Lato-Light, Georgia, "Times New Roman", Times, serif;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  &.padding-b {
    padding-bottom: 50px;
  }
}

/*** End features section ***/

/*** Start How it Works section ***/

section#section-how-it-works-candidate {
  background-color: $primary-dark-blue;
}

section#section-how-it-works-employer {
  background-color: $primary-dark-turquoise;
}

.container-wrapper {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
}

.container-top {
  width: 100%;
}

.container-bottom {
  overflow: hidden;
  position: relative;
  &.align-bottom {
    position: relative;
    .child {
      height: 550px;
      position: relative;

      img {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
    }
  }
}

.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.container-img {
  visibility: hidden;
  &.align-center {
    right: 0px;
  }
  .phone-image {
    width: 100%;
    height: 260px;
    background-image: url("homepage/cellphone_h.png");
    background-size: 520px auto;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.container-txt {
  color: $primary-white;
  padding: 50px 0px;
  overflow: hidden;
  .row-img {
    width: 35px;
    height: 35px;
    float: right;
    background-size: 35px;
    background-repeat: no-repeat;
    display: inline-block; // So that it behaves like the img element
  }
  .url-img-employer {
    background-image: url(homepage/ic_tick_blue.svg);
  }
  .url-img-candidate {
    background-image: url(homepage/ic_tick_turquoise.svg);
  }
  .wrapper {
    float: left;
    margin-bottom: 40px;
  }
  .title {
    font: 1.4em Montserrat-Light, Georgia, "Times New Roman", Times, serif;
    float: left;
  }
  .detail {
    font: 1.2em Lato-Light, Georgia, "Times New Roman", Times, serif;
    float: left;
    margin-top: 7px;
  }
}

/*** End How it Works section ***/

/*** Start section Testimonials ***/

.section-testimonials {
  overflow: hidden;
  .top {
    width: 100%;
  }
  .img {
    height: 300px;
    background-size: cover !important;
    &.testimonial-1 {
      background: url('homepage/testimonials-1.jpg') no-repeat center center;
    }
    &.testimonial-2 {
      background: url('homepage/testimonials-2.jpg') no-repeat center center;
    }
    &.testimonial-3 {
      background: url('homepage/testimonials-3.jpg') no-repeat center center;
    }
  }
  .cont {
    padding: 0px 20px;
    height: 300px;
  }
  .parent-wrapper {
    width: 100%;
  }
  .wrapper {
    padding: 0 20px;
  }
  .title {
    font-family: 'Montserrat-Regular', Georgia, "Times New Roman", Times, serif;
    font-size: 1.4em;
    color: $text-title;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  .subtitle {
    font-family: 'Lato-Light', Georgia, "Times New Roman", Times, serif;
    font-size: 1.15em;
    color: $text-regular;
    margin-bottom: 20px;
  }
  .txt {
    font-family: 'Lato-Light-Italic', Georgia, "Times New Roman", Times, serif;
    font-size: 1.15em;
    color: $text-regular;
  }
}

/* End section Testimonials */

/*==========================> Responsive Design <=========================*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {


}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {


    .col-sm-height {
      display: table-cell;
      float: none;
      height: 100%;
    }
    .col-sm-top {
      vertical-align: top;
    }

  .container-img {
    visibility: visible;
    padding: 0px;
  }

  /* Section Title */
  .section-title {
    height: 280px;
    position: relative;
  }

  .section-container {
    & .heading {
      font-size: 3.8em;
    }

    & .subheading {
      font-size: 1.5em;
    }
  }

  /* Section Features */
  section#section-features {
    padding: 80px 0px;
  }

  .features-image {
    width: 130px;
    height: 130px;
    background-size: 130px;
  }

  .features-detail-txt {
    &.padding-b {
      padding-bottom: 0px;
    }
  }

  /*** Start How it Works section ***/
  .container-txt {
    padding: 100px 0;
  }

  .container-bottom {
    &.align-bottom {
      .child {
        position: absolute;
      }
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/*==========================> End Responsive Design <=========================*/

