/*** Start section Testimonials ***/

.section-testimonials {
  overflow: hidden;
  .top {
    width: 100%;
  }
  .img {
    height: 330px;
    background-size: cover !important;
    &.testimonial-1 {
      background: url('homepage/testimonials-1.jpg') no-repeat center center;
    }
    &.testimonial-2 {
      background: url('homepage/testimonials-2.jpg') no-repeat center center;
    }
    &.testimonial-3 {
      background: url('homepage/testimonials-3.jpg') no-repeat center center;
    }
  }
  .cont {
    padding: 0px 20px;
    height: 330px;
  }
  .parent-wrapper {
    height: 100%;
    position: relative;
  }
  .wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 20px;
  }
  .title {
    font-family: 'Montserrat-Regular', Georgia, "Times New Roman", Times, serif;
    font-size: 22px;
    color: $text-title;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  .subtitle {
    font-family: 'Lato-Regular', Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    color: $text-regular;
    margin-bottom: 25px;
  }
  .txt {
    font-family: 'Lato-Light-Italic', Georgia, "Times New Roman", Times, serif;
    font-size: 1.2em;
    color: $text-regular;
  }
}

/* End section Testimonials */