.login {
  &.background {
    height: 100%;
    min-height: 420px;
    position: relative;
    @extend %bg-image;
    &.one {
      background-image: url("login/login-background.png");
    }

    &.other {
      background-image: url("login/login-background.png");
    }
  }

  .form-height {
    height: 255px;
  }

  .form-container {
    height: 100%;
    width: 100%;
    min-height:100%;
  }

  .form-login {
    position: relative;
  }

  .form-box-cont {
    width: 300px;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    margin: auto;
  }

  &.ic {
    width: 40px;
    margin: auto;
  }

  .forgotpssw {
    font: 14px Lato-Light, Georgia, "Times New Roman", Times, serif;
    text-align: center;
    cursor: pointer;
    padding: 0 !important;
    color: $primary-white !important;
    &.label{
      cursor: text;
    }
    &.signup {
      font: 14px Lato-Regular, Georgia, "Times New Roman", Times, serif;
      color: $primary-turquoise !important;
    }
  }

  &.rememberme {
    overflow: auto;
    margin-top: 40px;
  }

  &.rememberme-checkbox {
    float: left;
    margin-left: 10px;
    font-size: 13px;
  }

  .login-input {
    width: 100%;
    padding: 11px 10px 11px 13px;
    display: block;
    margin: 0;
    border: 0;
    font: 16px/1.4 "Lato-Regular","HelveticaNeue",Helvetica,Arial,sans-serif;
    box-sizing: border-box;
    background: $primary-white;

    &.first-input {
      border: 0px !important;
      border-top-left-radius: 4px !important;
      border-top-right-radius: 4px !important;
    }

    &.last-input {
      border: 0px !important;
      border-top: 1px solid #e3e3e3 !important;
      border-bottom-left-radius: 4px !important;
      border-bottom-right-radius: 4px !important;
    }
  }
}

/*==========================> Responsive Design <=========================*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

  .login.form-box {
    padding-top: 1px;
  }

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {


}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/*==========================> End Responsive Design <=========================*/
