.login {
  &.background {
    min-height: 100vh;
    position: relative;

    @extend %bg-image;

    &.one {
      background-image: url("login/background.png");
    }

    &.other {
      background-image: url("login/background.png");
    }
  }

  .form-container {
    height: 100%;
    width: 100%;
    padding: 130px 0;
    min-height:100%;
  }

  .form-login {
    position: relative;
  }

  .form-box {
    width: 400px;
    background: $primary-white;
    border-radius: 4px;
    left: 0;
    right: 0;
    margin: auto;
  }

  .form-box-cont {
    padding: 20px;
  }

  &.ic {
    width: 40px;
    margin: auto;
  }

  &.button-submit {
    width: 100%;
    font: 14px Lato-Regular, Georgia, "Times New Roman", Times, serif;
    color: $primary-white;
    padding: 10px;
    background: $primary-blue;
    border: 3px solid $primary-blue;

    &:hover {
      background: $primary-turquoise-hover;
      border: 3px solid $primary-turquoise-hover;
    }
  }

  &.forgotpssw {
    margin-top: 40px;
    color: white;
    overflow: auto;

    a {
      cursor: pointer;
    }
  }

  label, .forgotpssw a {
    float: left;
    font-weight: normal;
    color: $text-regular;
    font: 12px Lato-Regular, Georgia, "Times New Roman", Times, serif;
  }

  &.rememberme {
    overflow: auto;
    margin-top: 40px;
  }

  &.rememberme-checkbox {
    float: left;
    margin-left: 10px;
    font-size: 13px;
  }

  &.sign-up-login {
    color: #3D9ED8 !important;
  }

  .login-input {
    width: 100%;
    padding: 11px 10px 11px 13px;
    display: block;
    margin: 0;
    background: 0;
    font: 16px/1.4 "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
    box-sizing: border-box;

    &.first-input {
      border-bottom: 0px !important;
      border-top-left-radius: 4px !important;
      border-top-right-radius: 4px !important;
      &:hover {
        border-bottom: 1px solid $border-gray-focus !important;
        + .last-input {
          border-top: 0px !important;
        }
      }
    }

    &.last-input {
      border-bottom-left-radius: 4px !important;
      border-bottom-right-radius: 4px !important;
    }
  }
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {

  .login.form-box {
    padding-top: 1px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 650px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {

}

.ic-email {
  background: url("login/email.svg") no-repeat;
  width: 30px;
  height: 30px;
}

.ic-password {
  background: url("login/password.svg") no-repeat;
  width: 30px;
  height: 30px;
}