@import "angular-app/base/colors";
/* Search bar */

$tl: 0.4s; // transition length

.navbar {
  margin-bottom: 0px !important;
}

.navbar-default {
  background-color: $primary-blue !important;
  border-color: $primary-blue !important;;
}

.navbar-default .navbar-brand {
  color: $primary-white !important;
  cursor: pointer;
}

.navbar-default .navbar-nav > li > a {
  color: $primary-white !important;
  cursor: pointer;
  &:hover {
    color: $primary-turquoise-hover;
  }
}

.options-home {
  display: block;
  &.active {
    display: block;
  }
}

.navbar-nav > li > a {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.navbar-default .navbar-toggle{
  display: block;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFF;
}

.search-container{ margin-top: 8px; }

.search-box {
  width: 230px;
  height: 34px;
  border-radius: 17px;
  border: none;
  border: 1px solid $secondary-gray !important;
  background: $primary-white;
  font: 13px Lato-Regular !important;
  cursor: pointer;
  padding-left: 35px;
  padding-right: 28px;
  & + label .search-icon {
    color: $secondary-gray;
  }
  &:hover {
    border: 1px solid $border-gray-focus !important;
  }
  &:focus{
    box-shadow: none;
    cursor: text;
    border-radius: auto;
    border: 1px solid $border-gray-focus !important; outline: none;
    background: $primary-white;
    color: $text-inputs;
    &:not(:focus) { } // for more-graceful falling back (:not browsers likely support indent)
  }
}

#search-submit {
  display: none; position: relative; left: -5000px;
}

.search-icon {
  position: relative;
  left: 30px;
  top: 2px;
  color: $secondary-gray;
  cursor: pointer;
}

.remove-icon{
  position: relative;
  margin-left: -40px;
  top: 2px;
  color: $secondary-gray;
  cursor: pointer;
  z-index: 99;
  padding: 7px;
  visibility: hidden;
}

.remove-icon-status{ visibility: visible }

/*** Login Button ***/

.login-btn {
  color: $primary-white !important;
  font-family: Montserrat-Regular, Georgia, "Times New Roman", Times, serif;
  font-size: 13px;
  border: 1px solid $primary-white;
  border-radius: 4px !important;
  padding: 6px !important;
  margin-left: 67px !important;
  cursor: pointer;
  margin-top: 8px;
  text-align: center;

  &:hover {
    color: $primary-white !important;
    border: 1px solid $primary-turquoise-hover;
    background-color: $primary-turquoise-hover !important;
  }
}

/*** End Login Button ***/

/*** Logged Username ***/

.username {
  padding-top: 15px;
  padding-bottom: 15px;
  color: $primary-white;
  font-family: Montserrat-Light, Georgia, "Times New Roman", Times, serif;
}

.user-menu {
  label {
    color: $primary-turquoise !important;
    font: 14px Montserrat-Bold;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0px;
    cursor: pointer;
  }

  .arrow-container {
    position: relative;
    float: right;
    width: 25px;
    height: 20px;
    top: 15px;
  }

  .arrow-down {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid $primary-turquoise;
    margin: 7px 0px 0px 7px;
    cursor: pointer;
  }

  .options-box {
    width: 150px;
    position: absolute;
    background: $primary-white;
    border: 1px solid $primary-gray;
    z-index: 100;
    top: 52px;
    margin-left: -40px;
    border-radius: 4px;
    padding: 10px;

    &:after, &:before {
      bottom: 100%;
      left: 75%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }
    &:after {
      border-color: rgba(255, 245, 245, 0);
      border-bottom-color: $primary-white;
      border-width: 7px;
      margin-left: -7px;
    }
    &:before {
      border-color: rgba(72, 103, 153, 0);
      border-bottom-color: $primary-gray;
      border-width: 9px;
      margin-left: -9px;
    }

    .menu-setting-item {
      text-align: center;
      margin: 5px auto;
      text-decoration: none;
      cursor: pointer;
      color: $text-regular;

      &:first-child {
        margin-bottom: 0px;
      }
    }
  }
}

/*** End Logged Username ***/

/*** General Alert ***/

.alert-top-fixed {
  opacity: 0.95;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 7000;
  margin-top: 5px;
}

.alert-top-fixed ul {
  text-align: left;
}

/***End General Alert ***/

/*** Start Footer ***/

footer#footer {
  width: 100%;
  background-color: $footer-bg;
  padding: 60px 0px 0px;

  .button {
    padding: 12px 20px;
    background: $primary-blue;
    color: $primary-white;
    font: 16px Montserrat-Light, Georgia, "Times New Roman", Times, serif;
    border: 3px solid $primary-blue;
    border-radius: 4px !important;
    margin-bottom: 30px;
  }
  .divider {
    float: left;
    color: $primary-white;
    font: 16px Lato-Regular, Georgia, "Times New Roman", Times, serif;
    padding: 0px 50px;
  }
  .link-container {
    overflow: hidden;
  }
  .link {
    color: $primary-white;
    font: 1.1em Lato-Regular, Georgia, "Times New Roman", Times, serif;
    cursor: pointer;
    text-decoration: none;
    &:hover {
      color: $primary-turquoise;
      text-decoration: none;
    }
  }
  .sign {
    font: 14px Lato-Light, Georgia, "Times New Roman", Times, serif;
    color: $primary-white;
  }
}

/*** End Footer ***/


/*==========================> Responsive Design <=========================*/

/* Mobile in portrait mode */
@media only screen and (max-width: 320px) {

}

/* Mobile in landscape mode */
@media only screen and (min-width: 321px) and (max-width: 480px) {

}

/* Tablets */
@media only screen and (min-width: 768px) {

  .navbar-default .navbar-toggle{
    display: none;
  }

  .login-btn {
    margin-left: 0px;
    margin-right: 0px;
  }

}

/* Medium Devices, Desktops */
@media(min-width: 1224px) {

  .navbar-nav > li > a {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .login-btn {
    margin-left: 50px;
  }

}

/* Large Devices, Desktops */
@media screen and (min-width: 1440px) {

}

/* Very Large Devices, Wide Screens */
@media only screen and (min-width: 1824px) {

}




