@import "angular-app/base/colors";
@import "angular-app/base/mixins";

/* Sign up process */

.signup {
  .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
  }
  .img-wrapper {
    display: none;
  }
  .form-container {
    margin-top: 51px;
    margin-bottom: 40px;
    padding: 0px 15px;
  }
  .title {
    color: $primary-turquoise;
    font: 22px Montserrat-Light;
    margin-top: 80px;
  }
  .subtitle {
    color: $text-regular;
    font: 16px Lato-Light;
    margin-top: 10px;
  }
  .label {
    color: $text-bold;
    font: 13px Montserrat-Regular;
    padding: 0;
    vertical-align: middle;
  }
  .form-box-cont {
    padding: 0px;
    margin-top: 20px;
  }
  .background-img {
    width: 100%;
    height: 100%;
    position: absolute;
    @extend %bg-image;
    padding: 0;
    &.personal {
      background-color: $primary-turquoise;
    }
    &.education {
      background-color: $primary-dark-blue;
    }
    &.company {
      background-color: $primary-light-blue;
    }
  }

  .form-control {
    height: 32px !important;
    line-height: 32px !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none !important;
    &:hover {
      border-color: $border-gray-focus !important;
    }
    &:focus {
      border-color: $primary-turquoise !important;
    }
    select:focus {
      border-color: $primary-turquoise !important;
    }
    &.w100 {
      width: 100px;
    }
  }

  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{
    height: 32px;
    line-height: 32px !important;
  }
}

.form-group {
  margin-top: 3px;
  margin-bottom: 7px !important;
  &.has-error {
    margin-bottom: 0px !important;
  }
  .help-block {
    font-size: 13px !important;
  }
}

.btn-signup {
  width: 115px;
  height: 40px;
  margin: 0px 10px 25px 10px;
  @include font-style('Lato-Regular', 14px, $primary-white);
  &.btn-next {
    background-color: $primary-dark-blue;
    &:hover {
      color: $primary-white;
    }
  }
  &.btn-back {
    background-color: $primary-blue;
    &:hover {
      color: $primary-white;
    }
  }
  &:focus {
    color: $primary-white !important;
  }
}

/*==========================> Responsive Design <=========================*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
}

/*Media Query Mobile General*/
@media (min-width: 650px) {

}

/* Tablets (portrait) */
@media only screen and (min-device-width: 768px) {
  .signup {
    .title {
      font: 32px Montserrat-Light;
      margin-top: 130px;
    }
  }
}

/* Tablets (landscape) */
@media only screen and (min-device-width: 1024px) {
  .signup {
    .img-wrapper {
      display: block;
    }
    .title {
      margin-top: 80px;
    }
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {

}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}

/*==========================> End Responsive Design <=========================*/