<!-- Education add component!-->
<form name="newEducationForm" ng-submit="saveEducation(newEducationForm.$valid)" novalidate>
  <div class="profile-right-header">
    <div class="profile-right-header title">
      <div class="profile-right-header-img education"></div>
      <h3>Education</h3>
    </div>
    <div class="profile-right-header edit">
      <div class="editwrapper">

        <div id="addEducation" ng-click="addEducation()" class="btn-add" ng-hide="addEducationEnable"
             ng-if="!notMe"></div>

        <div ng-show="addEducationEnable" class="edit-buttons-wrapper">
          <button type="submit" class="btn btn-edit">
            <span> SAVE </span>
          </button>
          <button type="reset" ng-click="onCancel()" class="btn btn-edit margin-l5">
            <span> CANCEL </span>
          </button>
        </div>

      </div>
    </div>
  </div>
  <div class="profile-add-right-content profile-form-animation" ng-if="addEducationEnable">
    <div class="control-group has-error" ng-messages="frontEndErrors">
      <div class="help-block" ng-repeat="error in frontEndErrors.errors">
        {{error}}
      </div>
    </div>
    <div class="form-group"
         ng-class="{'has-error': newEducationForm.school.$invalid && (newEducationForm.$submitted || newEducationForm.school.$touched)}">
      <label class="label-edit">School *</label>
      <school-selector placeholder="University of Maryland, College Park" ng-model="school" on-select="onSchool"
                       required></school-selector>

      <div ng-if="newEducationForm.school.$invalid && (newEducationForm.$submitted || newEducationForm.school.$touched)"
           ng-messages="newEducationForm.school.$error">
        <div class="help-block" ng-message="required">
          Please select a school
        </div>
        <div class="help-block" ng-message="school">
          Please select a valid school!
        </div>
      </div>
    </div>

    <div class="form-group"
         ng-class="{'has-error': newEducationForm.degree.$invalid && (newEducationForm.$submitted || newEducationForm.degree.$touched)}">
      <label class="label-edit">Degree *</label>
      <degree-selector placeholder="Bachelor of Science in Electrical Engineering" ng-model="degree"
                       on-select="onDegree" required></degree-selector>

      <div ng-if="newEducationForm.degree.$invalid && (newEducationForm.$submitted || newEducationForm.degree.$touched)"
           ng-messages="newEducationForm.degree.$error">
        <div class="help-block" ng-message="required">
          Please select a degree!
        </div>
        <div class="help-block" ng-message="degree">
          Please select a valid degree!
        </div>
      </div>
    </div>

    <div class="form-group"
         ng-class="{'has-error': newEducationForm.major.$invalid && (newEducationForm.$submitted || newEducationForm.major.$touched)}">
      <label class="label-edit">Major *</label>
      <major-selector placeholder="Engineering" ng-model="major" on-select="onMajor" required></major-selector>

      <div ng-if="newEducationForm.major.$invalid && (newEducationForm.$submitted || newEducationForm.major.$touched)"
           ng-messages="newEducationForm.major.$error">
        <div class="help-block" ng-message="required">
          Please select a major
        </div>
        <div class="help-block" ng-message="major">
          Please select a valid major!
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="form-group div-50 left"
           ng-class="{'has-error': newEducationForm.country.$invalid && (newEducationForm.$submitted || newEducationForm.country.$touched)}">
        <label class="label-edit">Country</label>
        <country-selector placeholder="School Country" ng-model="country"
                          on-select="onCountry"></country-selector>

        <div
            ng-if="newEducationForm.country.$invalid && (newEducationForm.$submitted || newEducationForm.country.$touched)"
            ng-messages="newEducationForm.country.$error">
          <div class="help-block" ng-message="country">
            Please select a valid country!
          </div>
        </div>
      </div>

      <div class="form-group div-50 right"
           ng-class="{'has-error': newEducationForm.state.$invalid && (newEducationForm.$submitted || newEducationForm.state.$touched)}">
        <label class="label-edit">State</label>
        <state-selector placeholder="School State" ng-model="state" on-select="onState"
                        country-id="education.country_id"></state-selector>

        <div ng-if="newEducationForm.state.$invalid && (newEducationForm.$submitted || newEducationForm.state.$touched)"
             ng-messages="newEducationForm.state.$error">
          <div class="help-block" ng-message="state">
            Please select a valid state!
          </div>
        </div>
      </div>
    </div>

    <div class="form-group inline"
         ng-class="{'has-error': newEducationForm.datepicker.$invalid && newEducationForm.$submitted}">
      <span class="label-edit">Graduation Date</span>
      <simpledatepicker no-day="true" ng-model="education.end_date" future="true" name="datepicker"></simpledatepicker>
    </div>

    <div class="help-block" ng-messages="newEducationForm.datepicker.$error"
         ng-if="newEducationForm.datepicker.$invalid && newEducationForm.$submitted">
      <p ng-message="required">Select a graduation date</p>
    </div>

    <textarea class="form-control" rows="5" ng-model="education.description"
              placeholder="Description..."></textarea>
  </div>
</form>