<!-- Education add component!-->
<form class="company-form" novalidate class="css-form" name="companyForm">
  <div class="container-fluid container-edit-company">

    <div class="profile-left">
      <div class="editwrapper-employer">
        <div class="edit-pencil employer" ng-click="enableCompanyEditor()" ng-hide="editCompanyEnable"
             ng-if="!notMe"></div>
      </div>
      <p class="header-highlight-title">COMPANY INFO</p>
    </div>

    <div class="horizontal-line blue margin-b15"></div>

    <div class="company-info-content">
      <div class="profile-left">
        <div class="img-col">
          <div class="profile-img company-name"></div>
        </div>
        <div class="cont-col" ng-hide="editCompanyEnable">
          <p class="header-highlight-txt">{{user.company.name}}</p>
        </div>
        <div class="form-group employer-company" ng-show="editCompanyEnable">
          <div class="company-selector-wrapper">
            <input name="company_name" type="text" ng-model="temporaryEmployerCompany.name"
                   class="form-control input-sm" id="companyName" placeholder="Company Name">
          </div>
        </div>
      </div>

      <div class="profile-left">
        <div class="img-col">
          <div class="profile-img company-industry"></div>
        </div>
        <div class="cont-col" ng-hide="editCompanyEnable">
          <p class="header-highlight-txt">{{user.company.industry}}</p>
        </div>
        <div class="form-group employer-company" ng-show="editCompanyEnable">
          <div class="company-selector-wrapper">
            <input name="company_industry" type="text" ng-model="temporaryEmployerCompany.industry"
                   class="form-control input-sm" id="companyIndustry" placeholder="Company Industry">
          </div>
        </div>
      </div>

      <div class="profile-left">
        <div class="img-col">
          <div class="profile-img company-url"></div>
        </div>
        <div class="cont-col" ng-hide="editCompanyEnable">
            <p class="header-highlight-txt" ng-if="user.company.site_url">{{user.company.site_url}}</p>
          <p class="header-highlight-placeholder" ng-if="!user.company.site_url">
            Company url address</p>
        </div>
        <div class="form-group employer-company" ng-show="editCompanyEnable">
          <div class="company-selector-wrapper">
          <input name="site_url" type="text" ng-model="temporaryEmployerCompany.site_url"
                 class="form-control input-sm" id="companySiteUrl" placeholder="Site url">
            </div>
        </div>
      </div>
      <div ng-show="editCompanyEnable" class="edit-buttons-wrapper-edit-company">
        <a class="btn btn-edit" ng-click="saveCompany()">SAVE</a>
        <a class="btn btn-edit" ng-click="onCancel()">CANCEL</a>
      </div>
    </div>
  </div>
</form>
