<!-- Education add component!-->
<form class="company-form" novalidate class="css-form" name="companyForm">
<!--<div class="section company-wrapper">-->
<div class="container-fluid container-edit-company">
    <div class="row">
    <!--<div class="profile-left-header">-->
    <div class="col-xs-12 company-info-header">
        <div class="profile-left-header company-header-title">
            <span>Company info</span>
        </div>
        <div class="profile-left-header edit">
            <div class="editwrapper">
                <div class="edit-pencil employer" ng-click="enableCompanyEditor()" ng-hide="editCompanyEnable"></div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 company-info-content">
        <div class="col-xs-12 company-info-row">
            <div class="img-col employer">
                <div class="profile-img company-name"></div>
            </div>
            <div class="cont-col employer-company">
                {{employerCompany.name}}
            </div>
            <!-- ** Uncomment if you want to enable the Company Name editor
            <div class="form-group employer-company" ng-show="editCompanyEnable">
                <input focus-input="editCompanyNameEnable" type="text" ng-model="employerCompany.name" required
                    class="form-control employer-company" id="companyName" name="companyName" />
            </div>
            -->
        </div>

        <div class="col-xs-12 col-xs-offset-1 separator-employer-company"></div>

        <div class="col-xs-12 company-info-row">
            <div class="img-col employer">
                <div class="profile-img company-industry"></div>
            </div>
            <div class="cont-col employer-company">
                {{employerCompany.industry}}
            </div>

            <!-- ** Uncomment if you want to enable the industry editor
            <div class="form-group employer-company" ng-show="editCompanyEnable">
                <input focus-input="" type="text" ng-model="employerCompany.industry" required
                    class="form-control employer-company" id="companyIndustry">
            </div>
            -->
        </div>

        <div class="col-xs-12 col-xs-offset-1 separator-employer-company"></div>

        <div class="col-xs-12 company-info-row">
            <div class="img-col employer">
                <div class="profile-img company-location"></div>
            </div>
            <div class="cont-col employer-company" ng-hide="editCompanyEnable">
                <!--<p class="lead" style="font-size: 14px; width: 185px">-->
                {{employerCompany.state.name}}, {{employerCompany.country.name}}
                <!--</p>-->
            </div>
            <div class="form-group employer-company" ng-show="editCompanyEnable">
                <div class="country-selector-wrapper">
                    <country-selector placeholder="Country" ng-model="employerCompany.country" on-select="onCountry" required></country-selector>
                    <div ng-if="companyForm.country.$invalid && (companyForm.$submitted || companyForm.country.$dirty)" ng-messages="companyForm.country.$error">
                        <div class="help-block" ng-message="required">
                            Please select a country!
                        </div>
                        <div class="help-block" ng-message="country">
                            Please select a valid country!
                        </div>
                    </div>
                </div>
                <div class="state-selector-wrapper">
                    <state-selector placeholder="Company's State" ng-model="employerCompany.state" on-select="onCompanyState" country-id="country_id" required></state-selector>
                    <div ng-if="companyForm.state.$invalid && (companyForm.$submitted || companyForm.state.$dirty)" ng-messages="companyForm.state.$error">
                        <div class="help-block" ng-message="required">
                            Please select a state!
                        </div>
                        <div class="help-block" ng-message="state">
                            Please select a valid state!
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-xs-offset-1 separator-employer-company"></div>

        <div class="col-xs-12 company-info-row">
            <div class="img-col employer">
                <div class="profile-img company-url"></div>
            </div>
            <div class="cont-col employer-company" ng-hide="editCompanyEnable">
                {{employerCompany.site_url}}
            </div>
            <div class="form-group employer-company" ng-show="editCompanyEnable">
                <input name="site_url" type="text" ng-model="employerCompany.site_url" required
                    class="form-control employer-company input-company-url" id="companyIndustry">
                <div ng-if="companyForm.site_url.$invalid && (companyForm.$submitted || companyForm.site_url.$touched)" ng-messages="companyForm.site_url.$error">
                    <div class="help-block" ng-message="required">
                        You must provide a web address
                    </div>
                    <div ng-show="companyForm.site_url.$invalid">
                        You must provide a valid web address
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="editCompanyEnable" class="edit-buttons-wrapper edit-company col-xs-12">
            <a class="edit-company-btn-wrapper" ng-click="saveCompany()">SAVE</a>
            <a class="edit-company-btn-wrapper" ng-click="onCancel()">CANCEL</a>
        </div>
    </div>
    </div>
</div>
</form>
