<div class="profile-right-content">
    <div class="form-cont">
        <span class="header-title"> {{education.school}} </span>
    </div>
    <div class="form-cont">
        <span class="header-subtitle"> {{education.degree}} , {{education.major}} </span>
    </div>
    <div class="form-cont">
        <span class="header-light-txt"> {{education.startDate}} - {{education.endDate}} </span>
    </div>
    <div class="form-cont">
            <span class="header-light-txt"
                  ng-model="education.state"> {{education.state}} , {{education.country}} </span>
    </div>
    <div class="form-cont">
        <p class="header-regular-txt" ng-model="education.description"> {{education.description}} </p>
    </div>
</div>