<!-- Required fields are: school, degree, major and startdate !-->

<div class="profile-right-content">
    <div class="form-cont">
        <span class="header-title"> {{education.school.name}} </span>
    </div>
    <div class="form-cont">
        <span class="header-subtitle"> {{education.degree.name}} - {{education.major.name}} </span>
    </div>
    <div class="form-cont">
        <span class="header-light-txt"> {{education.start_date}} - {{education.end_date}} </span>
    </div>
    <div class="form-cont">
            <span class="header-light-txt"
                  ng-model="education.state"> {{education.state.name}} {{education.country.name}} </span>
    </div>
    <div class="form-cont">
        <p class="header-regular-txt" ng-model="education.description"> {{education.description}} </p>
    </div>
</div>