<div class="image-picker wrapper">
    <spinner show-spinner="spinnerVisible" size="size"></spinner>
    <img class="image-picker default-image" ng-show="defaultImage" src="/assets/{{default}}"/>

    <div ng-class="{'image-picker content-shadow':!circular, 'image-picker content':circular}" ng-show="photo">
        <img id="image-picker-img" ng-class="{'image-picker img': !circular, 'image-picker img-circular': circular}" src="{{photoURL}}">
    </div>


    <div class="image-picker guillotine-photo" ng-show="guillotinePhoto">
        <div class="guillotine-content">
            <div class="frame">
                <img src="{{cloudinaryPhotoData.secure_url}}" id="guillotine-photo"/>
            </div>
        </div>
    </div>
</div>
<div ng-if="!notMe" ng-class="{'image-picker upload-btn-wrapper-center': circular, 'image-picker upload-btn-wrapper-left': !circular}" ng-show="uploadImageBtn">
    <div ng-class="{'image-picker upload-btn-center': circular, 'image-picker upload-btn-right': !circular, 'small': size=='SMALL'}" ng-file-select="onFileSelect($files)" data-multiple="false" title="Cover Photo" onclick="this.value = null"></div>
</div>
<div ng-class="{'image-picker btn-wrapper-center': circular, 'image-picker btn-wrapper-right': !circular}" ng-show="photoButtons">
    <a ng-click="savePhoto()" class="btn image-picker edit-btn" ng-class="{'small': size=='SMALL'}">
        <span>SAVE</span>
    </a>
    <a ng-click="cancelPhoto()" class="btn image-picker edit-btn margin-l5" ng-class="{'small': size=='SMALL'}">
        <span>CANCEL</span>
    </a>
</div>
