<div class="image-picker wrapper">

    <spinner show-spinner="spinnerVisible"></spinner>

    <img class="coverImage" ng-show="defaultCoverImageVisible"/>

    <div class="img-container" ng-show="coverPhoto">
        <img class="cover-photo-img" src="{{coverPhotoURI}}">
    </div>

    <div class="coverImageEdit wrapper" ng-show="uploadImage">
        <div class="coverImageEdit img" ng-file-select="onFileSelectCover($files)"
             data-multiple="false" title="cover_photo"
             onclick="this.value = null"></div>
    </div>
    <div class="temporary-cover-photo" ng-show="temporaryCoverPhoto">

        <div class="contentGillotineCover">
            <div class="frame">
                <img src="{{cloudinaryCoverPhotoData.secure_url}}" id="temp_cover_photo" ng-show="coverLoaded"/>
            </div>
        </div>
        <div class="img-picker btn-wrapper" ng-show="coverPhotoButtons">
            <a ng-click="saveCoverPhoto()" class="btn img-picker edit-btn">
                SAVE </span>
            </a>
            <a ng-click="cancelCoverPhoto()" class="btn img-picker edit-btn margin-l5">
                CANCEL </span>
            </a>
        </div>
    </div>

</div>