
<!-- Education component-->
<div ng-hide="languageEditor">
	<div class="profile-right-content">
		<div class="profile-edit-on-hover">
			<div class="form-cont">
				<input type="hidden" ng-value="language.id"/>

				<div class="width85">
					<span class="header-title"> {{language.name}} </span>
				</div>
				<div class="width15">
					<div class="edit-pencil-hover" ng-click="onLanguageEditor()" ng-hide="languageEditor"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<language-form data="languageTemp" on-save="onSave" on-cancel="onCancel" ng-if="languageEditor"></language-form>