<!-- Language editor component -->
<form name="languageForm" ng-submit="onSave(languageForm.$valid, data)" novalidate>
	<div class="profile-header edit">
		<div class="editwrapper">
			<div class="delete-buttons-wrapper" ng-if="editable">
				<a ng-click="onDelete(data)" class="btn btn-edit">DELETE</a>
			</div>
			<div class="edit-buttons-wrapper">
				<button type="submit" class="btn btn-edit">
					SAVE </span>
				</button>
				<a ng-click="onCancel()" class="btn btn-edit margin-l5">
					CANCEL </span>
				</a>
			</div>
		</div>
	</div>
	<div class="profile-add-right-content">

		<div class="form-cont-languages form-group div-50 left" ng-if="!editable"
		     ng-class="{'has-error': languageForm.language.$invalid && (languageForm.$submitted || languageForm.language.$touched)}">
			<language-selector placeholder="Language" name="language" on-select="onLanguage"
			                   ng-model="data.name" required></language-selector>
			<div ng-if="languageForm.language.$invalid && (languageForm.$submitted || languageForm.language.$touched)" ng-messages="languageForm.language.$error">
				<div class="help-block" ng-message="required">
					Please select a language!
				</div>
				<div class="help-block" ng-message="editable">
					Please select a valid language!
				</div>
			</div>
		</div>

        <div class="form-cont-languages">
		<div class="align-vertical div-25 left" ng-if="editable">
			<span class="header-title">{{data.name}}</span>
		</div>

		<div class="align-vertical form-group div-50" ng-class="{'left': editable, 'right': !editable}">
      <select id="level" ng-model="level" ng-change="onLevelSelect()" class="btn btn-sm btn-language-level" required="">
        <option disabled value="" >Select your level</option>
        <option value="{{l}}" ng-repeat="l in levels">{{l}}</option>
      </select>

			<div ng-if="languageForm.level.$invalid && (languageForm.$submitted || languageForm.level.$touched)" ng-messages="languageForm.level.$error">
				<div class="help-block" ng-message="required">
					Please select a level!
				</div>
			</div>
		</div>
        </div>

	</div>
</form>
